<li class="dropdown hide-from-mobile">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="header-image" src="{{ME avatar}}" alt="{{ME name}} avatar"> <span class="caret"></span></a>
   <ul class="dropdown-menu" role="menu">
      <?php if ($pt->config->go_pro == 'on' && !PT_IsUpgraded()): ?>
          <li><a href="{{LINK go_pro}}"><i class="fa fa-rocket fa-fw"></i> {{LANG go_pro}}</a></li>
      <?php endif; ?>
      <li><a href="{{ME url}}"><i class="fa fa-user fa-fw"></i> {{LANG my_channel}}</a></li>
      <li><a href="{{LINK subscriptions}}"><i class="fa fa-bars fa-fw"></i> {{LANG subscriptions}}</a></li>
      <li><a href="{{ME url}}?page=play-lists"><i class="fa fa-play fa-fw"></i> {{LANG play_lists}}</a></li>
      <?php if ($pt->config->history_system == 'on') { ?><li><a href="{{LINK history}}"><i class="fa fa-clock-o fa-fw"></i> {{LANG history}}</a></li><?php } ?>
      <li><a href="{{LINK liked-videos}}"><i class="fa fa-thumbs-up fa-fw"></i> {{LANG liked_videos}}</a></li>
      <li class="divider"></li>
      <li><a href="{{LINK manage-videos}}"><i class="fa fa-video-camera fa-fw"></i> {{LANG manage_videos}}</a></li>
      <li class="divider"></li>
      <li><a href="{{LINK settings/profile}}"><i class="fa fa-pencil fa-fw"></i> {{LANG edit}}</a></li>
      <li><a href="{{LINK settings}}"><i class="fa fa-cog fa-fw"></i> {{LANG settings}}</a></li>
      <?php if ($pt->config->user_ads == 'on'): ?>
          <li><a href="{{LINK ads}}"><i class="fa fa-buysellads fa-fw"></i> {{LANG ads}}</a></li>
      <?php endif; ?>
      <?php if ($pt->config->usr_v_mon == 'on'): ?>
          <li><a href="{{LINK settings/monetization}}"><i class="fa fa-usd fa-fw"></i> {{LANG monetization}}</a></li>
      <?php endif; ?>
      <?php if (PT_IsAdmin()) { ?> <li><a href="{{LINK admin-cp/}}"><i class="fa fa-cogs fa-fw"></i> Admin Panel</a></li> <?php } ?>
      <li class="divider"></li>
      <li><a href="{{LINK logout}}"><i class="fa fa-sign-out fa-fw"></i> {{LANG log_out}}</a></li>
   </ul>
</li>