//colors
$color_woodsmoke_approx: #111;
$color_tapa_approx: #777;
$white: #fff;
$color_alabaster_approx: #fcfcfc;
$color_cerulean_approx: #04abf2;
$seashell: #f1f1f1;
$color_mountain_mist_approx: #999;
$wild_sand: #f4f4f4;
$color_tundora_approx: #444;
$red_80: rgba(255, 0, 0, 0.8);
$color_wild_sand_approx: #f5f5f5;
$color_mine_shaft_approx: #333;
$concrete: #f2f2f2;
$black_40: rgba(0, 0, 0, 0.4);
$color_valencia_approx: #d84c47;
$color_java_approx: #2ec0bc;
$color_log_cabin_approx: #202020;
$color_mercury_approx: #e3e4e8;
$color_japanese_laurel_approx: green;
$color_fuscous_gray_approx: #555;
$color_celeste_approx: #ccc;
$color_concrete_approx: #f3f3f3;
$color_thunderbird_approx: #c23321;
$color_picton_blue_approx: #3dc4ff;
$color_alto_approx: #ddd;
$color_suva_gray_approx: #888;
$black: #000;
$white_15: rgba(255, 255, 255, 0.15);
$white_25: rgba(255, 255, 255, 0.25);
$white_20: rgba(255, 255, 255, 0.2);
$white_30: rgba(255, 255, 255, 0.3);
$color_storm_dust_approx: #666;
$color_azure_approx: #3b5998;
$color_deep_cerulean_approx: #007bb5;
$color_guardsman_red_approx: #bb0000;
$color_venice_blue_approx: #125688;
$color_cardinal_approx: #cb2027;
$color_yellow_approx: #fffc00;
$color_atlantis_approx: #a4c639;
$color_french_rose_approx: #ea4c89;
$color_rhino_approx: #2c4762;
$color_persian_green_approx: #00b489;
$color_pomegranate_approx: #eb4924;
$color_rose_approx: #f40083;
$color_pigment_indigo_approx: #430297;
$color_international_orange_approx: #ff5500;
$blaze_orange: #ff6600;
$color_alizarin_crimson_approx: #e62117;
$color_astronaut_approx: #2d4373;
$color_curious_blue_approx: #2795e9;
$color_gallery_approx: #eeeeee;
$color_boston_blue_approx: #428bca;
$color_chestnut_rose_approx: #d9534f;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_fern_approx: #5cb85c;
$color_rose_white_approx: #fff7f7;
$color_chardonnay_approx: #ffcc7f;
$black_50: rgba(0, 0, 0, 0.5);
$color_rangoon_green_approx: #1a1a1a;
$color_tuatara_approx: #353535;
$color_iron_approx: #d7d7d7;
$color_desert_storm_approx: #f8f8f8;
$color_shark_67_approx: rgba(36, 36, 36, 0.67);
$color_hippie_blue_approx: #659eb8;
$black_12: rgba(0, 0, 0, 0.12);
$alabaster: #fafafa;
$color_tree_poppy_approx: #f7931a;
$color_fiord_33_approx: rgba(59, 71, 99, 0.33);
$red:  red;
$color_black_haze_approx: #f6f6f6;
$color_forest_green_approx: #1cae19;
$color_corn_approx: #f1c40f;
$color_niagara_approx: #16a086;
$color_caribbean_green_approx: #04cfa8;
$color_bright_sun_approx: #ffd736;
$black_10: rgba(0, 0, 0, 0.1);
$color_bahama_blue_approx: #0d6c96;
$color_crusta_approx: #ee802f;
$color_azure_radiance_approx: #07e;
$color_pizazz_approx: #ff9600;
$black_16: rgba(0, 0, 0, 0.16);
$color_black_65_approx: rgba(6, 4, 4, 0.65);
$color_shark_approx: #252525;
$color_confetti_approx: #e5e45f;
$color_amaranth_approx: #dc3545;
$color_sea_green_approx: #28a745;
$color_alto_26_approx: rgba(221, 221, 221, 0.26);
$color_tulip_tree_approx: #efaf3d;

//fonts
$font_0: Roboto;
$font_1: sans-serif !important;
$font_2: Lato;
$font_3: sans-serif;
$font_4: FontAwesome;
$font_5: Arial;
$font_6: Arila;
$font_7: Arial !important;
$font_8: Open Sans;
$font_9: Laila;
$font_10: serif;
$font_11: Roboto Condensed;
$font_12: Verdana;

//urls

//@extend-elements
//original selectors
//.login-page .login-form input[type=text], .login-page .login-form input[type=password], .login-page .login-form select, .login-page .login-form input[type=submit]
%extend_1 {
    padding: 10px;
    background-color: $white_25;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    width: 100%;
    border: 1px solid transparent;
    color: $white;
}

//original selectors
//.videos-list .video-wrapper .video-views, .videos-list .video-wrapper .video-publisher
%extend_2 {
    color: $color_tapa_approx;
    margin-top: 3px;
    font-size: 11px;
}

//original selectors
//.user-setting-panel select, .user-setting-panel input[type='text'], .user-setting-panel input[type='password'], .user-setting-panel textarea
%extend_3 {
    height: 30px !important;
    color: $color_storm_dust_approx !important;
    font-size: 13px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $concrete, 0 0 0 1px $concrete;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
}

//original selectors
//.author-list .video-wrapper .video-views, .author-list .video-wrapper .video-publisher
%extend_4 {
    color: $color_tapa_approx;
    margin-top: 3px;
    font-size: 12px;
}

//original selectors
//.setting-panel textarea, .setting-panel.no-padding textarea
%extend_5 {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $concrete, 0 0 0 1px $concrete;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    color: $color_storm_dust_approx !important;
    font-size: 13px;
}

//original selectors
//.setting-panel select, .setting-panel.no-padding select, .setting-panel input[type='text'], .setting-panel input[type='password']
%extend_6 {
    height: 30px !important;
    color: $color_storm_dust_approx !important;
    font-size: 13px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $concrete, 0 0 0 1px $concrete;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
}

//original selectors
//.setting-panel .btn-main, .setting-panel .btn-delete
%extend_7 {
    height: 30px !important;
    font-size: 13px;
    min-width: 100px !important;
}


@import "https://fonts.googleapis.com/css?family=Roboto";
@import "debug.css";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
body {
    background: $color_alabaster_approx;
    background-size: cover;
    font-family: $font_0, $font_1;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
.dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: .1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    a {
        color: $color_tundora_approx !important;
        font-size: 13px !important;
        i {
            color: $color_cerulean_approx;
        }
        &:hover {
            color: $white !important;
        }
    }
    > li > a {
        &:focus {
            color: $color_mine_shaft_approx !important;
        }
        &:hover {
            color: $color_mine_shaft_approx !important;
        }
    }
}
.video-latest-list {
    height: 300px;
    overflow: hidden;
    .video-title {
        margin-top: 10px;
        font-size: 16px;
        color: $color_cerulean_approx;
        max-height: 43px;
        overflow: hidden;
    }
    .video-thumb {
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
        &:hover {
            opacity: 0.8;
        }
        .video-duration {
            position: absolute;
            bottom: 2px;
            right: 2px;
            color: $white;
            background-color: $black_40;
            font-size: 11px;
            padding: 1px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    .video-info {
        margin-top: 5px;
        color: $color_tundora_approx;
        font-size: 11px;
    }
    &.video-wrapper {
        overflow: unset !important;
        .video-title a {
            display: inline-block;
            height: 3em;
            overflow: hidden;
        }
    }
}
.inline-block {
    display: inline-block;
    padding-bottom: 1px;
}
.upload-button {
    color: $color_valencia_approx !important;
    margin-top: 2px;
}
.import-button {
    color: $color_java_approx !important;
    margin-top: 2px;
}
.navbar-default {
    &.second-header-layout {
        min-height: 30px !important;
        .navbar-nav {
            a {
                line-height: 2;
            }
            > li > a {
                padding-top: 5px;
                padding-bottom: 2px;
            }
        }
    }
    .navbar-nav > .open > a {
        background-color: $color_cerulean_approx;
        border-bottom: 0;
        &:focus {
            background-color: $color_cerulean_approx;
            border-bottom: 0;
        }
        &:hover {
            background-color: $color_cerulean_approx;
            border-bottom: 0;
        }
    }
}
.second-header-layout {
    margin-top: 50px;
    text-align: center;
    background: $color_log_cabin_approx !important;
    color: $white;
    a {
        color: $white !important;
    }
    li:hover {
        background: $color_cerulean_approx;
    }
}
.content {
    background: $white;
    width: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $color_mercury_approx, 0 0 0 1px $seashell;
    padding: 10px;
    margin-bottom: 20px;
}
#mep_0 {
    max-height: 80%;
}
.clear {
    clear: both;
}
.ad-image {
    width: 100%;
    height: 100%;
    background-color: $color_alabaster_approx;
    text-align: center;
    z-index: 9;
    line-height: 100%;
    position: absolute;
    top: 0;
    img {
        text-align: center;
        max-width: 100%;
        margin-top: 5%;
        vertical-align: middle;
    }
}
.video-big-title {
    font-size: 20px;
    color: $color_log_cabin_approx;
    margin-top: 15px;
    margin-bottom: 10px;
    h1 {
        font-size: 20px;
    }
    .featured-text {
        color: $color_japanese_laurel_approx;
    }
    a {
        color: $color_log_cabin_approx;
        text-decoration: none;
    }
}
.video-info-element {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 120px;
    text-align: right;
    position: relative;
    .video-views {
        font-size: 18px;
        color: $color_fuscous_gray_approx;
        padding-bottom: 5px;
    }
    .views-bar {
        width: 80%;
        text-align: right;
        position: absolute;
        right: 0;
        height: 1px;
        padding: 1px;
        background-color: $color_celeste_approx;
        color: $color_mine_shaft_approx;
    }
    .blue {
        background-color: $color_java_approx;
        left: 0;
        width: 20%;
        text-align: left;
    }
    .video-likes {
        margin-top: 10px;
        font-size: 18px;
        color: $color_tapa_approx;
        .like-btn {
            cursor: pointer;
            .likes {
                font-size: 11px;
            }
            &:hover {
                color: $color_fuscous_gray_approx;
            }
            &.active {
                color: $color_java_approx;
            }
        }
    }
}
.video-options {
    padding-bottom: 10px;
    border-bottom: 1px solid $concrete;
    .btn-share {
        border: 0;
        color: $color_fuscous_gray_approx;
        background: transparent;
        &:focus {
            outline: none;
        }
    }
}
.video-published {
    margin-top: 18px;
    color: $color_log_cabin_approx;
    a {
        color: $color_cerulean_approx !important;
    }
}
.watch-video-description {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    a {
        color: $color_cerulean_approx !important;
    }
    p {
        font-size: 12px;
        color: $color_tapa_approx;
        margin-top: 10px;
        word-wrap: break;
    }
}
.home-page-categories {
    .row {
        margin-right: 0 !important;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $color_concrete_approx;
    }
    .col-md-3 {
        &:nth-child(1) {
            padding-right: 0;
        }
        &:nth-child(2) {
            padding-right: 0;
        }
        &:nth-child(3) {
            padding-right: 0;
        }
        &:nth-child(4) {
            padding-right: 0;
        }
    }
    .title {
        margin-bottom: 20px;
        h4 {
            margin-top: 5px;
            color: $color_mine_shaft_approx;
            font-size: 16px;
            font-weight: 600;
            span {
                font-weight: 100;
                color: $color_cerulean_approx;
                font-size: 12px;
                float: right;
            }
        }
    }
    .videos .video-list {
        width: 100%;
        img {
            width: 100%;
        }
        .video-list-title {
            max-width: 100%;
            word-wrap: break;
            h4 {
                font-size: 16px;
                color: $color_cerulean_approx;
            }
        }
        .video-list-by {
            font-size: 11px;
            margin-top: 3px;
            color: $color_tapa_approx;
            a {
                color: $color_tapa_approx;
            }
        }
    }
}
.btn-delete {
    background-color: $color_thunderbird_approx;
    color: $white;
    &:hover {
        background-color: $color_valencia_approx;
        color: $white;
    }
    &:focus {
        background-color: $color_valencia_approx;
        color: $white;
    }
}
.btn-main {
    background-color: $color_cerulean_approx;
    color: $white;
    &:hover {
        background-color: $color_cerulean_approx;
        color: $white;
    }
    &:focus {
        background-color: $color_cerulean_approx;
        color: $white;
    }
    &:disabled {
        background-color: $color_picton_blue_approx;
        color: $white;
    }
}
.fetch-url {
    margin-top: -8px;
}
.publisher-element {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    .publisher-avatar {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        img {
            width: 100%;
        }
    }
    .publisher-name a {
        color: $color_mine_shaft_approx;
        font-weight: 600;
    }
}
.btn-subscribe {
    border: 0;
    background: $color_cerulean_approx;
    padding: 5px;
    color: $white;
    margin-top: 3px;
    width: 90px;
    font-size: 11px;
    outline: none;
    &:hover {
        background: $color_cerulean_approx;
    }
}
.btn-subscribed {
    border: 1px solid $color_alto_approx;
    border-right: 0;
    background: $wild_sand;
    padding: 4px;
    color: $color_suva_gray_approx;
    margin-top: 3px;
    width: 90px;
    font-size: 11px;
    outline: none;
    &:hover {
        background: $concrete;
    }
}
#background {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -99999;
    background-color: $black;
}
.mobile {
    display: none;
}
.desktop {
    display: block;
}
.subs-amount {
    border: 1px solid $color_alto_approx;
    font-size: 11px;
    padding: 5px;
    background: $wild_sand;
}
.video-player {
    width: 100%;
    position: relative;
    video {
        width: 100%;
    }
    .icons {
        position: absolute;
        top: 15px;
        color: $white;
        font-size: 20px;
        right: 7px;
        span {
            cursor: pointer;
        }
    }
    .ads-overlay-info {
        position: absolute;
        bottom: 10%;
        right: 0;
        left: 0;
        width: 80%;
        margin: auto;
        padding: 15px 15px 10px 15px;
        background: $color_black_65_approx;
        border: 1px solid $color_shark_approx;
        color: $white;
        z-index: 99999;
        h4 {
            padding: 0;
            margin: 0;
            font-family: $font_11, $font_3;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        p {
            padding: 0;
            margin: 0;
            font-family: $font_11, $font_3;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 5px;
            font-weight: 500;
            color: $white;
        }
        div {
            width: 100%;
            overflow: hidden;
            a {
                font-family: $font_12, $font_3;
                font-size: 15px;
                color: $color_confetti_approx;
                float: left;
                i {
                    font-size: 14px;
                    color: $white;
                }
            }
            span {
                font-family: $font_12, $font_3;
                font-size: 15px;
                color: $white;
                float: right;
                text-transform: capitalize;
            }
        }
        span.dismiss {
            right: 10px;
            top: 10px;
            position: absolute;
        }
    }
}
.new-here {
    color: $white;
    a {
        color: $color_alabaster_approx;
    }
    .dec {
        text-decoration: underline;
    }
}
.import-form-content {
    padding-top: 10px;
    border-top: 1px solid $color_concrete_approx;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}
.watch-video-show-more {
    text-align: center;
    color: $color_fuscous_gray_approx;
    padding-top: 10px;
    border-top: 1px solid $color_concrete_approx;
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: $color_cerulean_approx;
    }
}
.thumbnail-preview {
    margin-top: 20px;
    img {
        width: 100%;
    }
}
.bg-bubbles {
    overflow: hidden;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: fixed;
    margin-bottom: 0;
    z-index: -1;
    li {
        position: absolute;
        list-style: none;
        display: block;
        width: 20px;
        height: 20px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 15px;
        background-color: $white_15;
        bottom: -160px;
        animation: square 15s infinite;
        //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
        transition-timing-function: linear;
        &:nth-child(1) {
            left: 10%;
        }
        &:nth-child(2) {
            left: 20%;
            width: 80px;
            height: 80px;
            animation-delay: 2s;
            animation-duration: 17s;
        }
        &:nth-child(3) {
            left: 25%;
            animation-delay: 4s;
        }
        &:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-duration: 22s;
            background-color: $white_25;
        }
        &:nth-child(5) {
            left: 70%;
        }
        &:nth-child(6) {
            left: 80%;
            width: 120px;
            height: 120px;
            animation-delay: 3s;
            background-color: $white_20;
        }
        &:nth-child(7) {
            left: 32%;
            width: 160px;
            height: 160px;
            animation-delay: 7s;
        }
        &:nth-child(8) {
            left: 55%;
            width: 20px;
            height: 20px;
            animation-delay: 15s;
            animation-duration: 40s;
        }
        &:nth-child(9) {
            left: 25%;
            width: 10px;
            height: 10px;
            animation-delay: 2s;
            animation-duration: 40s;
            background-color: $white_30;
        }
        &:nth-child(10) {
            left: 90%;
            width: 160px;
            height: 160px;
            animation-delay: 11s;
        }
    }
}
.embed-placement {
    margin-top: 10px;
    textarea {
        resize: none;
    }
}
.delete-comment {
    color: $color_storm_dust_approx;
    cursor: pointer;
}
.share-video {
    margin-top: 10px;
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        line-height: 1.5;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        &:hover {
            opacity: 0.7;
        }
    }
    .fa-facebook {
        background: $color_azure_approx;
        color: $white;
    }
    .fa-twitter {
        background: $color_picton_blue_approx;
        color: $white;
    }
    .fa-google {
        background: $color_valencia_approx;
        color: $white;
    }
    .fa-linkedin {
        background: $color_deep_cerulean_approx;
        color: $white;
    }
    .fa-youtube {
        background: $color_guardsman_red_approx;
        color: $white;
    }
    .fa-instagram {
        background: $color_venice_blue_approx;
        color: $white;
    }
    .fa-pinterest {
        background: $color_cardinal_approx;
        color: $white;
    }
    .fa-snapchat-ghost {
        background: $color_yellow_approx;
        color: $white;
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
    }
    .fa-skype {
        background: $color_cerulean_approx;
        color: $white;
    }
    .fa-android {
        background: $color_atlantis_approx;
        color: $white;
    }
    .fa-dribbble {
        background: $color_french_rose_approx;
        color: $white;
    }
    .fa-vimeo {
        background: $color_picton_blue_approx;
        color: $white;
    }
    .fa-tumblr {
        background: $color_rhino_approx;
        color: $white;
    }
    .fa-vine {
        background: $color_persian_green_approx;
        color: $white;
    }
    .fa-foursquare {
        background: $color_picton_blue_approx;
        color: $white;
    }
    .fa-stumbleupon {
        background: $color_pomegranate_approx;
        color: $white;
    }
    .fa-flickr {
        background: $color_rose_approx;
        color: $white;
    }
    .fa-yahoo {
        background: $color_pigment_indigo_approx;
        color: $white;
    }
    .fa-soundcloud {
        background: $color_international_orange_approx;
        color: $white;
    }
    .fa-reddit {
        background: $color_international_orange_approx;
        color: $white;
    }
    .fa-rss {
        background: $blaze_orange;
        color: $white;
    }
}
.login-page {
    margin-top: 250px;
    width: 20%;
    padding-top: 0;
    h4 {
        color: $white;
        font-size: 46px;
        text-align: center;
        margin-bottom: 50px;
        font-family: $font_2, $font_3;
    }
    .errors {
        background: $white;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        color: $color_alizarin_crimson_approx;
        &:empty {
            padding: 0;
            margin: 0;
        }
        &.success {
            color: $color_cerulean_approx !important;
        }
    }
    .login-form {
        input[type=text] {
            @extend %extend_1;
            option {
                color: $color_mine_shaft_approx;
            }
            &:focus {
                border: 1px solid $color_alabaster_approx;
                outline: none;
            }
        }
        input[type=password] {
            @extend %extend_1;
            option {
                color: $color_mine_shaft_approx;
            }
            &:focus {
                border: 1px solid $color_alabaster_approx;
                outline: none;
            }
        }
        select {
            @extend %extend_1;
            option {
                color: $color_mine_shaft_approx;
            }
            &:focus {
                border: 1px solid $color_alabaster_approx;
                outline: none;
            }
        }
        input[type=submit] {
            @extend %extend_1;
            background: $white !important;
            margin-top: 10px;
            border: 0;
            option {
                color: $color_mine_shaft_approx;
            }
            &:focus {
                border: 1px solid $color_alabaster_approx;
                outline: none;
                border: 0;
            }
        }
    }
    .login-icons {
        div {
            margin-left: 5px;
            padding: 1px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 6px;
            width: 25px;
            font-size: 22px;
            text-align: center;
            height: 25px;
            line-height: 1.1;
            background: $white !important;
            color: $color_cerulean_approx;
        }
        .facebook-icon a {
            color: $color_astronaut_approx;
        }
        .google-icon a {
            color: $color_thunderbird_approx;
        }
        .twitter-icon a {
            color: $color_curious_blue_approx;
        }
    }
    .recaptcha {
        text-align: center;
        margin: 0 auto;
    }
}
.next-video {
    border-bottom: 1px solid $color_concrete_approx;
    margin-bottom: 20px;
    padding-bottom: 5px;
    h4 {
        color: $color_suva_gray_approx;
        .fa-bolt {
            color: $color_cerulean_approx;
        }
    }
}
.side-barlist-wrapper {
    position: relative;
    .video-thumb {
        width: 110px !important;
    }
    .ptrm-vid-renderer {
        position: absolute;
        bottom: 0;
        right: 10px;
        cursor: pointer;
        color: $white !important;
        visibility: hidden;
    }
    &:hover > .ptrm-vid-renderer {
        visibility: visible;
    }
}
.video-actions {
    color: $color_suva_gray_approx;
    font-size: 14px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    i:hover {
        color: $color_cerulean_approx;
    }
}
.settings-header {
    background-color: $color_cerulean_approx;
    width: 100%;
    z-index: 99;
    margin-bottom: -10px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $color_mercury_approx, 0 0 0 1px $seashell;
    padding: 15px;
    padding-left: 25px;
    color: $white;
    h3 {
        margin-top: 0;
        font-size: 16px;
    }
}
.setting-panel {
    margin-top: 20px;
    &.no-padding {
        padding: 0 !important;
        margin-top: 20px;
        textarea {
            @extend %extend_5;
        }
        select {
            @extend %extend_6;
        }
        label {
            font-weight: 100;
            margin-top: 3px;
        }
    }
    textarea {
        @extend %extend_5;
    }
    select {
        @extend %extend_6;
    }
    input[type='text'] {
        @extend %extend_6;
    }
    input[type='password'] {
        @extend %extend_6;
    }
    label {
        font-weight: 100;
        margin-top: 3px;
    }
    .btn-main {
        @extend %extend_7;
    }
    .btn-delete {
        @extend %extend_7;
    }
}
.checkbox {
    padding-left: 20px;
    label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }
    label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid $color_celeste_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        background-color: $white;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: $color_fuscous_gray_approx;
    }
    input[type="checkbox"] {
        opacity: 0;
        &:disabled {
            + label {
                opacity: 0.65;
            }
            + label::before {
                background-color: $color_gallery_approx;
                cursor: not-allowed;
            }
        }
        &:focus + label::before {
            outline: none;
        }
        &:checked + label::after {
            font-family: $font_4;
            content: "\f00c";
        }
    }
    &.checkbox-inline {
        margin-top: 0;
    }
    &.checkbox-circle label::before {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
    }
}
.radio {
    padding-left: 20px;
    label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }
    label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid $color_celeste_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        background-color: $white;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: border 0.15s ease-in-out;
    }
    label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        background-color: $color_fuscous_gray_approx;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0, 0);
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
    input[type="radio"] {
        opacity: 0;
        &:disabled {
            + label {
                opacity: 0.65;
            }
            + label::before {
                cursor: not-allowed;
            }
        }
        &:focus + label::before {
            outline: thin dotted;
            outline-offset: -2px;
        }
        &:checked + label::after {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1, 1);
        }
    }
    &.radio-inline {
        margin-top: 0;
    }
}
.user-setting-panel {
    background-color: $white;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $color_mercury_approx, 0 0 0 1px $seashell;
    select {
        @extend %extend_3;
    }
    input[type='text'] {
        @extend %extend_3;
    }
    input[type='password'] {
        @extend %extend_3;
    }
    textarea {
        @extend %extend_3;
        height: 100px !important;
        color: $color_storm_dust_approx !important;
        font-size: 13px;
    }
    .btn-main {
        height: 30px !important;
        font-size: 13px;
        min-width: 100px !important;
    }
}
.avatar-read {
    display: none;
}
.footer-container {
    padding: 10px;
    background: $white;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $color_mercury_approx, 0 0 0 1px $seashell;
    .footer-links {
        margin-top: 10px;
        ul {
            list-style: none;
            margin-left: 0 !important;
            padding-left: 0 !important;
            li {
                display: inline-block;
                padding-right: 10px;
                a {
                    color: $color_mine_shaft_approx;
                    font-size: 100%;
                }
                .dropdown-menu > li > a {
                    &:focus {
                        background: transparent;
                        color: $color_cerulean_approx !important;
                    }
                    &:hover {
                        background: transparent;
                        color: $color_cerulean_approx !important;
                    }
                }
            }
        }
    }
    .footer-copyright {
        margin-top: 10px;
        color: $color_suva_gray_approx;
    }
}
.help-block {
    font-size: 12px;
}
.percent {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
}
.upload-progress-bar {
    background-color: $color_alizarin_crimson_approx !important;
}
.white {
    color: $white;
}
.no-content-found {
    color: $color_suva_gray_approx;
    margin-bottom: 10px;
    margin-top: 10px;
}
.verified {
    color: $color_picton_blue_approx !important;
}
.progress {
    position: relative;
    height: 40px;
    background: $color_rose_white_approx;
}
#progress {
    width: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    position: relative;
    padding: 4px;
}
.comment-box {
    margin-top: 10px;
    margin-bottom: 10px;
    textarea {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        resize: none;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
    }
}
.comments-header {
    font-weight: 600;
}
.user-comments {
    .no-comments-found {
        margin-bottom: 10px;
        color: $color_tapa_approx;
    }
    .main-comment {
        margin-bottom: 40px;
        .user-avatar {
            width: 48px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        .user-name {
            font-size: 14px;
            small {
                color: $color_tapa_approx;
            }
        }
        .user-comment {
            width: 85%;
            font-size: 13px;
            margin-top: 10px;
            overflow: hidden;
            .div-vote-comment {
                color: $color_tapa_approx;
                margin-top: 10px;
                font-size: 13px;
                .likes {
                    color: $color_java_approx;
                }
                .voting {
                    margin-left: 5px;
                    i {
                        cursor: pointer;
                        &:hover {
                            color: $color_fuscous_gray_approx;
                        }
                        &.active {
                            color: $color_java_approx;
                        }
                    }
                }
            }
        }
    }
}
.ads-test {
    color: $color_chardonnay_approx;
    width: 100%;
    padding: 10px;
    background-color: $black_50;
}
.ads-placment {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    &:empty {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    img {
        max-width: 100%;
    }
    iframe {
        max-width: 100%;
    }
}
.profile-container {
    margin-bottom: 20px;
    .card-container {
        width: 100%;
        position: relative;
        .text-shadow {
            background: linear-gradient(to bottom, transparent 0, $black_40 100%);
            padding: 25px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .avatar-container {
            width: 120px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            border: 3px solid $white;
            img {
                width: 100%;
            }
        }
        .info-container {
            position: absolute;
            left: 140px;
            bottom: 0;
            h4 {
                font-size: 22px;
                a {
                    color: $white;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .subscribe-btn-container {
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
        .edit-cover-container {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 16px;
            a {
                color: $white;
                //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                text-shadow: $color_tundora_approx 0 0 3px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .cover-container img {
            width: 100%;
        }
    }
    .links-container {
        width: 100%;
        margin: 0;
        background: $white;
        border-bottom: 1px solid $seashell;
        border-left: 1px solid $seashell;
        border-right: 1px solid $seashell;
        ul {
            margin-bottom: 0;
            padding-left: 0;
            margin-left: 0;
            width: 100%;
            list-style: none;
            li {
                margin-right: -4px;
                width: 33.4%;
                text-align: center;
                display: inline-block;
                a {
                    padding: 10px;
                    display: block;
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all 0.1s;
                    &:hover {
                        text-decoration: none;
                        color: $color_woodsmoke_approx;
                    }
                    &:focus {
                        text-decoration: none;
                        color: $color_woodsmoke_approx;
                    }
                    &.active {
                        text-decoration: none;
                        background: $color_cerulean_approx;
                        color: $white;
                    }
                }
            }
        }
    }
    .page-container {
        margin-top: 20px;
    }
}
.upload {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 20px;
    border: 3px dashed $color_mountain_mist_approx;
    line-height: 200px;
    font-size: 18px;
    &:hover {
        border: 3px dashed $color_cerulean_approx;
        cursor: pointer;
        color: $color_cerulean_approx;
    }
}
@-webkit-keyframes square {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(0);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-1200px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(0);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-1200px) rotate(600deg);
    }
}
@media(max-width: 1600px) {
    .login-page {
        width: 50%;
    }
}
@media(max-width: 990px) {
    .hide-in-mobile {
        display: none !important;
    }
    .mobile {
        display: block;
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .icons {
        display: none;
    }
    .no-padding-right {
        padding-right: 15 !important;
    }
    .no-padding-left {
        padding-left: 15px !important;
    }
    .video-player-page {
        .no-padding-right {
            padding-left: 5px !important;
        }
        .no-padding-left {
            padding-left: 5px !important;
        }
    }
    .play-list-player .no-padding-right {
        padding-right: 0 !important;
    }
}
@media(max-width: 900px) {
    .hide-in-mobile {
        display: none !important;
    }
    .video-latest-list {
        height: auto !important;
        margin-bottom: 25px;
    }
    .login-page {
        width: 100%;
        h4 {
            font-size: 34px;
        }
    }
    .search-header {
        display: none;
    }
    .video-player-page {
        .no-padding-right {
            padding-left: 0 !important;
        }
        .no-padding-left {
            padding-left: 0 !important;
        }
    }
}
.show-in-mobile {
    display: none !important;
}
@media(max-width: 760px) {
    .navbar-fixed-top {
        height: 30px;
    }
    .show-in-mobile {
        display: initial !important;
    }
    .login-page {
        margin-top: 0 !important;
    }
    .video-info-element {
        width: 25%;
        .video-likes {
            font-size: 14px;
        }
    }
    .video-options {
        margin-top: 40px;
    }
    .hide-in-mobile-720 {
        display: none !important;
    }
    .views-mobile {
        font-size: 12px;
        color: $color_tapa_approx;
    }
    .video-big-title {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
        h1 {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .video-player-page {
        .col-lg-1 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-10 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-11 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-12 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-2 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-3 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-4 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-5 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-6 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-7 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-8 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-lg-9 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-1 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-10 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-11 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-12 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-2 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-3 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-4 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-5 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-6 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-7 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-8 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-9 {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .col-sm-1 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-10 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-11 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-12 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-2 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-3 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-4 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-5 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-6 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-7 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-8 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-sm-9 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-1 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-10 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-11 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-12 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-2 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-3 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-4 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-5 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-6 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-7 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-8 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-9 {
        padding-right: 0;
        padding-left: 0;
    }
    .keep-padding {
        padding-right: 10px !important;
        padding-left: 20px !important;
    }
    .pull-right-mobile {
        float: right !important;
    }
    .pull-left-mobile {
        float: left !important;
    }
    .dropdown-menu {
        left: auto !important;
        right: 10px !important;
    }
    .avatar-container {
        width: 40px !important;
        border: 1px solid $white;
    }
    .info-container {
        left: 20% !important;
        h4 {
            font-size: 16px !important;
        }
    }
    .main-content {
        margin-top: 55px;
    }
    .phone-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .second-header-layout {
        display: none;
    }
    .footer-container {
        text-align: center;
        .pull-right {
            float: inherit !important;
        }
        .pull-left {
            float: inherit !important;
        }
    }
    nav.navbar-findcond .logo-img img {
        margin-top: 5px;
        width: 75%;
    }
    .publisher-element .publisher-name a {
        font-weight: 100;
        font-size: 14px;
        color: $color_woodsmoke_approx;
    }
    .nav > li {
        display: inline-block !important;
        > a {
            padding: 7px !important;
        }
    }
    .next-video h4 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .links-container ul li {
        width: 100% !important;
    }
    .navbar-nav li {
        margin-top: -2px;
    }
    .home-page-categories .videos .video-list {
        margin-bottom: 30px;
    }
}
.video-info {
    overflow: unset !important;
    .video-views {
        width: auto;
        display: inline-block;
    }
}
.video-wrapper {
    .vid-number-cont {
        color: $color_iron_approx;
        width: 40px;
        display: inline-block;
        float: left;
        text-align: center;
        span {
            line-height: 65px;
            font-size: 13px;
            font-family: $font_0;
            font-weight: 500;
            i {
                font-size: 9px;
                color: $color_desert_storm_approx;
            }
        }
    }
    &:hover div.video-menu {
        visibility: visible;
    }
}
.video-menu {
    ul li span {
        padding: 8px 10px;
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        display: block;
        font-weight: 500;
        color: $color_mine_shaft_approx;
        &:hover {
            background: $seashell;
            color: $color_mine_shaft_approx;
        }
    }
    div.dropdown {
        display: inline-block;
        span.dropdown-toggle {
            padding-left: 15px;
            display: inline-block;
            &:hover {
                color: $color_mine_shaft_approx;
            }
        }
        ul.dropdown-menu {
            right: 100%;
            left: unset;
            min-width: 200px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
        }
    }
}
.ddown-menu {
    ul li span {
        padding: 8px 10px;
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        display: block;
        font-weight: 500;
        color: $color_mine_shaft_approx;
        &:hover {
            background: $seashell;
            color: $color_mine_shaft_approx;
        }
    }
    div.dropdown {
        display: inline-block;
        span.dropdown-toggle {
            padding-left: 15px;
            display: inline-block;
        }
        ul.dropdown-menu {
            right: 100%;
            left: unset;
            min-width: 200px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
        }
    }
}
.swal2-modal {
    width: 400px !important;
}
.pointer {
    cursor: pointer;
    cursor: pointer !important;
}
.top-video-wrapper {
    .video-title {
        max-height: 4.5em;
        overflow: hidden;
    }
    .video-menu {
        visibility: hidden;
    }
    &:hover > .video-menu {
        visibility: visible;
    }
}
.play-list-player {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    #mep_0 {
        max-height: 100% !important;
    }
}
.play-list-container {
    padding: 0;
    margin: 0;
    height: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none !important;
    .next-video {
        padding: 15px;
        background: $color_rangoon_green_approx;
        color: $white;
        padding-top: 7px;
        padding-bottom: 5px;
        margin-bottom: 0;
        border-bottom: none;
    }
}
.play-list-cont {
    background: $color_tuatara_approx;
    color: $white !important;
    height: 100%;
    overflow-x: hidden;
    padding: 10px 5px 10px 0;
    a {
        color: $color_iron_approx !important;
    }
}
.play-list-cont::-webkit-scrollbar {
    width: 6px;
    background-color: $color_gallery_approx;
}
.play-list-cont::-webkit-scrollbar-thumb {
    background-color: $color_mountain_mist_approx;
}
.optional-field {
    opacity: 0.7;
}
.create-new-list {
    width: 80%;
    overflow: hidden;
    margin: auto;
    input {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
    }
    textarea {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        resize: vertical;
    }
    select {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        option[selected="selected"] {
            display: none;
        }
    }
    small {
        float: left;
    }
    button:first-child {
        margin-right: 20px;
    }
    .create-new-list-head p {
        font-family: $font_0;
        font-size: 18px;
        text-align: left !important;
    }
}
.add-topl-cont {
    width: 80%;
    overflow: hidden;
    margin: auto;
    h4 {
        text-align: left;
        margin-top: 0;
    }
}
.sa-no-list {
    width: 80%;
    overflow: hidden;
    margin: auto;
    line-height: 120px;
    font-size: 15px;
}
.playlist-item {
    width: 100%;
    text-align: left !important;
    border-bottom: 1px solid $color_alto_approx;
    padding: 10px 0;
    span {
        color: $color_mine_shaft_approx;
        font-size: 15px;
        font-family: $font_0;
        &.list-name i {
            color: $color_storm_dust_approx;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    button {
        color: $color_mine_shaft_approx;
        padding: 1px 10px;
        font-family: $font_0;
        font-weight: 500;
    }
}
.secure-color {
    color: $color_japanese_laurel_approx !important;
}
.play-lists {
    margin-bottom: 20px;
    .video-title {
        width: 100%;
        margin-top: 5px;
        a {
            cursor: pointer;
            text-decoration: none;
        }
    }
    div.video-latest-list {
        height: unset;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        div {
            &.play-lists-overlay {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            &.play-lists-count {
                height: 100%;
                width: 100px;
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                background: $color_shark_67_approx;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: $white;
                    font-weight: 500;
                    font-family: $font_0;
                    font-size: 17px;
                    b {
                        display: block;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.article-comments {
    .div-vote-comment {
        .material-icons {
            vertical-align: middle;
            font-size: 16px;
            cursor: pointer;
            &.active {
                color: $color_java_approx;
            }
        }
        .div-vote-comment-btn span {
            margin-right: 5px;
        }
    }
    .delete-comment {
        visibility: hidden;
        i {
            vertical-align: middle;
        }
    }
    &:hover > .delete-comment {
        visibility: visible;
    }
}
.read-article-comments-container {
    width: 100%;
    overflow: hidden;
    padding: 15px 0 0;
    .comments-header {
        font-family: $font_0, $font_3;
        font-weight: 500 !important;
        font-size: 17px;
        overflow: hidden;
        span i {
            color: $color_storm_dust_approx;
            vertical-align: middle;
        }
    }
    .comments-content {
        padding: 15px;
        margin-bottom: 0;
    }
}
.related-article-wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
    .ra-thumb {
        height: 150px;
        overflow: hidden;
        padding: 5px 10px;
        background-size: cover;
        position: relative;
        .ra-info {
            position: absolute;
            right: 0;
            bottom: 0;
            background: $color_tree_poppy_approx;
            padding: 5px 10px;
            min-width: 50%;
            width: auto;
            font-family: $font_0, $font_6, $font_3;
            font-size: 13px;
            color: $white;
            a {
                display: inline;
                color: $white;
            }
            &:hover > span a {
                text-decoration: underline;
            }
        }
        a {
            display: block;
            overflow: hidden;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .ra-title {
        width: 100%;
        overflow: hidden;
        padding: 5px 10px;
        h5 {
            width: 100%;
            padding: 0;
            margin: 0;
            a {
                font-size: 17px;
                font-family: $font_0;
                color: $color_log_cabin_approx;
                cursor: pointer;
                max-height: 3.3em;
                overflow: hidden;
                display: block;
            }
        }
    }
}
.related-video-wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
    .ra-thumb {
        height: 150px;
        overflow: hidden;
        padding: 0;
        background-size: cover;
        position: relative;
        img {
            width: 100%;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: filter 1s ease-in;
        }
        .ra-info {
            position: absolute;
            z-index: 1000;
            right: 0;
            bottom: 0;
            background: $color_tree_poppy_approx;
            padding: 5px 10px;
            min-width: 50%;
            width: auto;
            font-family: $font_0, $font_6, $font_3;
            font-size: 13px;
            color: $white;
            &.re-video-info {
                background: $color_cerulean_approx;
            }
            &:hover {
                + .ra-overlay {
                    visibility: hidden;
                }
                > span a {
                    text-decoration: underline !important;
                }
            }
            a {
                display: inline;
                color: $white;
            }
        }
        &:hover {
            > img {
                opacity: .9;
            }
            > .ra-overlay {
                visibility: visible;
            }
        }
        a {
            display: block;
            overflow: hidden;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .ra-overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 500;
        width: 100%;
        height: 100%;
        background: $color_fiord_33_approx;
        text-align: center;
        cursor: pointer;
        display: table;
        visibility: hidden;
        a {
            vertical-align: middle;
            display: table-cell !important;
            i {
                vertical-align: middle;
                font-size: 60px;
                color: $white;
            }
        }
    }
    .ra-title {
        width: 100%;
        overflow: hidden;
        padding: 5px 10px;
        h5 {
            width: 100%;
            padding: 0;
            margin: 0;
            a {
                font-size: 17px;
                font-family: $font_0;
                color: $color_log_cabin_approx;
                cursor: pointer;
                max-height: 3.3em;
                overflow: hidden;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.read-article-sidebar {
    width: 100%;
    overflow: hidden;
    background: $seashell;
    height: auto;
    .ra-sidebar-head {
        h4 {
            width: 100%;
            font-family: $font_0, $font_5, $font_3;
            font-size: 18px;
            color: $black;
            padding: 15px 15px 10px 15px;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        i {
            vertical-align: middle;
            margin-bottom: 2px;
            color: $color_storm_dust_approx;
        }
    }
    .ra-sidebar-body {
        width: 100%;
        overflow: hidden;
    }
}
.read-article-container {
    width: 100%;
    overflow: hidden;
    .read-article-head {
        width: 100%;
        overflow: hidden;
        padding: 30px 15px 0 30px;
        h3 {
            width: 100%;
            font-size: 30px;
            font-family: $font_0, $font_5, $font_3;
            color: $black;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .read-article-description {
        width: 100%;
        overflow: hidden;
        padding: 15px 30px;
        article {
            width: 100%;
            font-family: $font_0, $font_5, $font_3;
            font-size: 17px;
            color: $color_mine_shaft_approx;
        }
    }
    .read-article-meta {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        div {
            overflow: hidden;
            font-family: $font_0;
            color: $color_mountain_mist_approx;
            padding: 15px 30px;
        }
        span i.material-icons {
            vertical-align: middle;
            margin-left: 15px;
            cursor: pointer;
            margin-bottom: 5px;
            &.active {
                color: $color_java_approx;
            }
        }
    }
    .read-article-share {
        width: 100%;
        overflow: hidden;
        ul {
            outline-style: none;
            padding: 15px 0;
            margin: 0 0 20px 0;
            overflow: hidden;
            border-top: 1px solid $concrete;
            border-bottom: 1px solid $concrete;
            background: $alabaster;
            li {
                display: inline;
                float: left;
                width: 16%;
                text-align: center;
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
    .read-article-image {
        width: 100%;
        max-height: 370px;
        overflow: hidden;
        margin-bottom: 20px;
        border-top: 1px solid $seashell;
        border-bottom: 1px solid $seashell;
        img {
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.3s ease;
            width: 100%;
        }
        &:hover > img {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1.02);
            opacity: 0.8;
        }
    }
    .read-article-text {
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        line-height: 1.6;
        font-size: 16px;
        padding: 15px 30px;
    }
}
.read-content {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0.005em 0.01em 0 $black_12, 0 2px 5px 0 $black_12 !important;
    background: $white;
    margin-bottom: 20px;
}
.articles-content {
    padding: 20px;
    overflow: hidden;
}
.content-shadow {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0.005em 0.01em 0 $black_12, 0 2px 5px 0 $black_12 !important;
    background: $white;
}
.danger-field-border {
    border: 1px solid $red;
}
.popular-articles-wrapper {
    margin: 7px 0;
    border-bottom: 1px solid $seashell;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    &:last-child {
        border-bottom: none;
    }
    .video-thumb {
        overflow: hidden;
    }
    .popular-article-title {
        overflow: hidden;
        font-size: 15px !important;
        max-height: 4em;
        a {
            line-height: 14px !important;
        }
    }
}
.article-wrapper {
    .video-thumb {
        a {
            overflow: hidden;
            display: block;
            img {
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all 0.3s ease;
            }
        }
        &:hover > a img {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1.02);
            opacity: 0.8;
        }
    }
    .article-views {
        color: $color_mountain_mist_approx;
        font-size: 15px;
        font-weight: 500;
        font-family: $font_0;
    }
    .article-title h4 {
        margin-top: 2px;
        max-height: 2.5em;
        overflow: hidden;
        a {
            font-weight: 600;
            color: $color_log_cabin_approx;
            font-family: $font_8, $font_3;
            font-size: 21px;
            //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: none;
        }
    }
    .article-desc p {
        color: $color_storm_dust_approx;
        font-family: $font_0;
        font-size: 16px;
        max-height: 4em;
        overflow: hidden;
    }
}
.articles-container {
    overflow: hidden;
    .no-content-found {
        div {
            height: 200px;
            display: table;
            text-align: center;
            width: 100%;
            figure {
                text-align: center;
                height: 200px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        p.no-posts-found {
            line-height: 200px;
            text-align: center;
            width: 100%;
        }
    }
}
.article-categories {
    padding: 20px 15px 15px;
    margin-bottom: 20px;
    background: $white;
    div {
        ul {
            list-style: none !important;
            padding: 0;
            margin: 0;
            li {
                padding: 5px 15px;
                //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                text-shadow: none;
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .20s ease;
                border-bottom: 1px solid $alabaster;
                a {
                    font-family: $font_0, $font_5;
                    color: $color_mine_shaft_approx;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;
                }
                &:hover {
                    background: $color_black_haze_approx;
                    cursor: pointer;
                }
                &.active {
                    font-weight: 600;
                    font-family: $font_7;
                    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                    text-shadow: none;
                    background: $color_black_haze_approx;
                    cursor: pointer;
                    padding-left: 10px;
                    a {
                        font-family: $font_7;
                    }
                }
            }
        }
        form {
            input {
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 0;
                width: 100%;
                display: block;
            }
            div {
                width: 100%;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
                button {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: transparent;
                    border: none;
                    outline: none;
                    height: 34px;
                }
            }
            button {
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 0;
                width: auto;
                display: inline;
                float: left;
                border-left: none;
            }
        }
    }
    h4 {
        margin: 0;
        padding: 0 0 10px 0;
        color: $color_log_cabin_approx;
        border-bottom: 2px solid $color_mountain_mist_approx;
        font-weight: 600;
        font-size: 16px;
        font-family: $font_0;
    }
}
.go-pro-container {
    width: 100%;
    overflow: hidden;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0.005em 0.01em 0 $black_12, 0 2px 5px 0 $black_12 !important;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: $white;
    .go-pro-footer-upgraded {
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding: 20px 0;
        button a {
            color: $white;
            text-decoration: none;
            padding: 0 15px;
        }
    }
    .go-pro-body-upgraded {
        width: 100%;
        overflow: hidden;
        text-align: center;
        .upgraded-features {
            width: 50%;
            overflow: hidden;
            text-align: center;
            margin: auto;
            margin-top: 15px;
            p {
                width: 100%;
                margin: 0;
                padding: 5px 0;
                font-family: $font_9, $font_10;
                span {
                    color: $color_forest_green_approx;
                }
            }
        }
    }
    .go-pro-head-upgraded {
        width: 100%;
        overflow: hidden;
        text-align: center;
        h4 {
            font-size: 40px;
            padding: 100px 0 7px;
            margin: 0;
            font-family: $font_0, $font_3;
        }
        p {
            margin: 0;
            color: $color_fuscous_gray_approx;
            font-size: 17px;
            font-family: $font_0, $font_3;
        }
    }
    .go-pro-head {
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 30px;
        h4 {
            width: 100%;
            text-align: center;
            font-family: $font_0, $font_3;
            font-size: 30px;
            margin: 0;
            color: $color_tundora_approx;
            display: block;
            word-wrap: break-word;
            padding-bottom: 20px;
            i {
                color: $color_corn_approx;
            }
        }
    }
    .go-pro-body {
        width: 100%;
        overflow: hidden;
        margin-bottom: 50px;
        .go-pro-packages {
            width: 60%;
            overflow: hidden;
            margin: auto;
            .go-pro-pkg {
                overflow: hidden;
                div {
                    overflow: hidden;
                    max-width: 310px;
                    .go-pro-pkg-features {
                        overflow: hidden;
                        width: 100%;
                        border: 1px solid $color_mercury_approx;
                        border-top: none;
                        background: $white;
                        cursor: pointer;
                    }
                    h4 {
                        margin: 0 10px;
                        font-size: 1.6em;
                        font-weight: 700;
                        font-family: $font_9, $font_10;
                        padding: 20px 30px 5px;
                        overflow: hidden;
                        span {
                            &.package-price {
                                font-size: 33px;
                                float: left;
                            }
                            i.material-icons {
                                margin-top: -5px;
                                float: left;
                            }
                        }
                    }
                    .go-pro-features-list {
                        width: 100%;
                        overflow: hidden;
                        min-height: 200px;
                        p {
                            margin: 0 15px;
                            text-align: center;
                            font-family: $font_9, $font_10;
                            padding: 15px;
                            line-height: 15px;
                            border-top: 1px solid $seashell;
                        }
                    }
                    .go-pro-pkg-purchase {
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        button {
                            padding: 7px 50px;
                            a {
                                color: $white;
                                text-decoration: none;
                            }
                        }
                    }
                    p:last-child {
                        border-bottom: 1px solid $seashell;
                    }
                }
            }
        }
    }
}
@media(max-width: 1210px) {
    .pro-triangle {
        display: none;
    }
    .free-triangle {
        display: none;
    }
    .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg {
        margin-bottom: 30px;
        div {
            max-width: 100%;
            width: 100%;
            h4 {
                margin: 0 !important;
                * {
                    float: unset !important;
                }
                span.go-pro-pkg-price {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            .go-pro-pkg-purchase button {
                padding: 7px 15px !important;
            }
        }
    }
}
.free-bg {
    background: $color_niagara_approx !important;
    color: $white;
    a {
        display: block;
    }
}
button {
    &.free-bg:hover {
        background: $color_caribbean_green_approx;
        color: $white;
    }
    &.pro-bg:hover {
        background: $color_bright_sun_approx;
        color: $white;
    }
}
.free-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 155px 0 155px;
    border-color: $color_niagara_approx transparent transparent transparent;
    padding-bottom: 15px;
}
.pro-bg {
    background: $color_corn_approx !important;
    color: $white;
}
.pro-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 155px 0 155px;
    border-color: $color_corn_approx transparent transparent transparent;
    padding-bottom: 15px;
}
.buy-pro {
    padding: 30px;
    button {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 4px 14px $black_10;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease 0s;
        a {
            padding: 15px 20px;
            font-size: 14px;
            text-decoration: none;
        }
    }
    h4 {
        font-size: 27px;
        font-family: $font_8, $font_10;
        color: $color_mine_shaft_approx;
        margin-bottom: 30px;
        word-wrap: break-word;
        i {
            vertical-align: middle;
            font-size: 30px;
            margin-bottom: 5px;
            color: $color_bahama_blue_approx;
        }
    }
}
.rss-icon {
    color: $color_crusta_approx;
}
.sidebar-ad-container {
    max-width: 100%;
    background: $color_gallery_approx;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 0 0 $color_mercury_approx, 0 0 0 1px $seashell;
    a {
        text-decoration: none;
    }
    .sidebar-ad-inner {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        background-size: cover;
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .info {
            width: 100%;
            text-align: left;
            padding: 20px 30px;
            background: $white;
            h5 {
                width: 100%;
                color: $color_mine_shaft_approx;
                font-size: 17px;
                font-weight: 600;
                font-family: $font_11, $font_3;
                margin: 0 0 5px 0;
            }
            p {
                width: 100%;
                color: $color_fuscous_gray_approx;
                font-size: 12px;
                font-weight: 500;
                font-family: $font_8, $font_3;
            }
            div {
                width: 100%;
                overflow: hidden;
                .pull-left {
                    span {
                        font-size: 13px;
                        color: $color_azure_radiance_approx;
                        line-height: 16px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
                .pull-right {
                    color: $color_mine_shaft_approx;
                }
            }
        }
    }
}
.material-icons {
    vertical-align: middle;
    font-size: 1.3em;
    margin-bottom: 3px;
}
.margin-right {
    margin-right: 10px;
}
.user-ads-list-container {
    width: 100%;
    overflow: hidden;
    background: $white;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0.005em 0.01em 0 $black_12, 0 2px 5px 0 $black_12;
    .col-10 {
        padding: 0 30px;
    }
    .user-ads-list-header {
        width: 100%;
        overflow: hidden;
        background: $color_cerulean_approx;
        border-bottom: 1px solid $color_alto_approx;
        margin-bottom: 20px;
        padding: 0 30px;
        span {
            padding: 5px 0;
            display: inline-block;
            font-size: 16px;
            margin: 10px 0;
            color: $white;
            i {
                vertical-align: middle;
                margin-bottom: 3px;
            }
            a {
                color: inherit;
                font-size: inherit;
                text-decoration: none;
                cursor: inherit;
            }
            &.create-ad-btn {
                float: right;
                background: $color_pizazz_approx;
                color: $white;
                padding: 7px 10px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 0;
                font-size: 14px;
                cursor: pointer;
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 0 2px 5px $black_16, 0 2px 10px $black_12;
                &:hover {
                    color: $white;
                    background-color: $color_pizazz_approx;
                }
            }
        }
    }
}
.col-10 {
    width: 100%;
    overflow: hidden;
    table {
        width: 100%;
        overflow: hidden;
        thead th {
            vertical-align: middle;
            font-family: $font_11, $font_3;
            font-weight: 700;
            font-style: normal;
            font-size: 15px;
            padding: 15px 0;
            color: $color_mine_shaft_approx;
        }
        tbody tr td {
            background: $white;
            font-family: $font_2, $font_3;
            padding: 15px 0;
            span {
                i {
                    vertical-align: middle;
                    font-size: 20px;
                    cursor: pointer;
                    color: $color_mountain_mist_approx;
                    &:hover {
                        color: $color_mine_shaft_approx;
                    }
                }
                &.spends {
                    font-family: $font_11, $font_3;
                    font-weight: 700;
                }
            }
            div label .toggle {
                height: 26px !important;
                font-size: 12px;
                min-height: 15px !important;
                min-width: 30px !important;
                width: 50px !important;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 2px;
                .toggle-group .btn {
                    padding: 3px 10px;
                    font-size: 12px;
                }
            }
        }
    }
}
.create-new-ad-container {
    width: 100%;
    background: $white;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0.005em 0.01em 0 $black_12, 0 2px 5px 0 $black_12;
    .user-ads-list-header {
        width: 100%;
        overflow: hidden;
        background: $color_cerulean_approx;
        border-bottom: 1px solid $color_alto_approx;
        margin-bottom: 20px;
        padding: 0 30px;
        span {
            padding: 5px 0;
            display: inline-block;
            font-size: 16px;
            margin: 10px 0;
            color: $white;
            i {
                vertical-align: middle;
                margin-bottom: 1px;
            }
            a {
                color: inherit;
                font-size: inherit;
                text-decoration: none;
                cursor: inherit;
            }
        }
    }
    .header {
        width: 100%;
        background: $white;
        padding: 20px 30px;
    }
    .form-group {
        width: 100%;
        overflow: hidden;
        textarea {
            resize: vertical;
        }
        .audience-list li {
            width: 100%;
            padding: 5px 15px;
            background: $white;
            font-size: 15px;
            font-family: $font_11, $font_3;
            text-transform: capitalize;
            font-weight: 600;
            color: $color_tundora_approx;
            cursor: pointer;
            border-bottom: 1px solid $color_alto_26_approx;
        }
    }
    .form-group-rs {
        margin-bottom: 20px;
    }
}
.user-ads-settings-alert {
    width: 100%;
    overflow: hidden;
    .alert {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        color: $white;
        font-family: $font_11, $font_3;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 30px;
    }
}
.bg-danger {
    background: $color_amaranth_approx !important;
}
.bg-success {
    background: $color_sea_green_approx !important;
}
.read-only {
    background: $white !important;
    border: none !important;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none !important;
    padding-left: 0;
}
.monetization-settings-alert {
    width: 100%;
    overflow: hidden;
    .alert {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 20px;
    }
}
#withdrawal-requests {
    thead th {
        font-family: $font_11, $font_1;
    }
    tbody tr td {
        font-family: $font_2, $font_1;
        font-weight: 500;
        font-size: 14px;
        span {
            &.success {
                padding: 5px 15px;
                color: $white;
                background: $color_sea_green_approx;
                font-weight: 500;
            }
            &.danger {
                padding: 5px 15px;
                color: $white;
                background: $color_amaranth_approx;
            }
            &.warning {
                padding: 5px 15px;
                color: $white;
                background: $color_tulip_tree_approx;
                font-weight: 500;
            }
        }
    }
}
nav.navbar-findcond {
    background: $white;
    border-bottom: 1px solid $seashell;
    a {
        color: $color_cerulean_approx;
    }
    ul {
        &.navbar-nav {
            a {
                color: $color_cerulean_approx;
                font-size: 15px;
                border-style: solid;
                border-width: 0 0 2px 0;
                border-color: transparent;
                padding-bottom: 13px;
                &:hover {
                    background: transparent;
                    color: $color_cerulean_approx;
                }
                &:visited {
                    background: transparent;
                    color: $color_cerulean_approx;
                }
                &:focus {
                    background: transparent;
                    color: $color_cerulean_approx;
                }
                &:active {
                    background: transparent;
                    color: $color_cerulean_approx;
                }
            }
            li.active a:not(.category) {
                border-color: $color_cerulean_approx;
                color: $color_cerulean_approx;
                background-color: $color_cerulean_approx;
            }
        }
        &.dropdown-menu {
            border: 0;
            background: $white;
            > li > a {
                color: $color_tundora_approx;
                padding-bottom: 5px;
                padding-top: 5px;
                &:hover {
                    background: $color_alabaster_approx !important;
                    color: $color_tundora_approx !important;
                    border-color: transparent !important;
                }
            }
        }
    }
    .search-header {
        margin-right: -20px;
        position: relative;
        input {
            height: 35px;
            border: 0;
            padding-left: 30px;
            color: $color_tundora_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0;
            width: 400px !important;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.3s;
            background-color: transparent !important;
            border: 1px solid $color_wild_sand_approx;
            &:focus {
                margin-right: 30px;
                border: 1px solid $seashell;
            }
        }
        i {
            position: absolute;
            padding: 10px;
            top: 0;
            cursor: pointer;
            left: 15px;
            color: $color_cerulean_approx;
        }
        .search-dropdown {
            position: absolute;
            width: 400px;
            background-color: $white;
            color: $color_mine_shaft_approx;
            border-right: 1px solid $concrete;
            border-left: 1px solid $concrete;
            border-bottom: 1px solid $concrete;
            .search-result {
                padding: 10px;
                &:hover {
                    background-color: $color_alabaster_approx;
                }
                a {
                    display: block;
                    color: $color_mine_shaft_approx;
                    text-decoration: none;
                }
            }
        }
    }
    .search-header-mobile {
        padding: 10px;
        position: relative;
        input {
            height: 100%;
            border: 0;
            color: $color_tundora_approx;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0;
            width: 100%;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 0.3s;
            background-color: transparent !important;
            border: 0;
        }
    }
    .logo-img {
        margin-right: 2px;
        max-width: 150px;
        margin-top: -8px;
        img {
            width: 100%;
        }
    }
    .header-image {
        width: 20px;
        border: none;
        margin-top: -2px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
    }
    button.navbar-toggle {
        background: $color_cerulean_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
        &:hover {
            background: $color_mountain_mist_approx;
        }
        > span.icon-bar {
            background: $white;
        }
    }
    li.divider {
        background: $wild_sand;
    }
    span.badge {
        background: $color_cerulean_approx;
        font-weight: normal;
        font-size: 11px;
        margin: 0 4px;
        &.new {
            background: $red_80;
            color: $white;
        }
    }
}
.videos-latest-list.row {
    margin-right: 0;
}
.categories-drop-down a {
    color: $color_tundora_approx !important;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.video-title p {
    font-size: 16px;
    word-wrap: break;
    margin-top: 10px;
}
.video-description p {
    font-size: 12px;
    color: $color_tapa_approx;
    margin-top: 10px;
    word-wrap: break;
}
.edit-thumb img {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}
.related-header h4 {
    margin-top: 5px;
    padding-bottom: 10px;
    color: $color_suva_gray_approx;
    border-bottom: 1px solid $color_concrete_approx;
    .fa-bolt {
        color: $color_cerulean_approx;
    }
}
.videos-list .video-wrapper {
    margin-bottom: 10px;
    .video-thumb {
        width: 170px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .video-info {
        overflow: hidden;
    }
    .video-title {
        font-size: 14px;
        word-wrap: break-word;
        a {
            font-weight: 500;
            color: $color_mine_shaft_approx;
            &:hover {
                color: $color_cerulean_approx;
                text-decoration: none;
            }
        }
    }
    .video-views {
        @extend %extend_2;
    }
    .video-publisher {
        @extend %extend_2;
    }
}
.checkbox-primary input[type="checkbox"]:checked {
    + label::before {
        background-color: $color_boston_blue_approx;
        border-color: $color_boston_blue_approx;
    }
    + label::after {
        color: $white;
    }
}
.checkbox-danger input[type="checkbox"]:checked {
    + label::before {
        background-color: $color_chestnut_rose_approx;
        border-color: $color_chestnut_rose_approx;
    }
    + label::after {
        color: $white;
    }
}
.checkbox-info input[type="checkbox"]:checked {
    + label::before {
        background-color: $color_viking_approx;
        border-color: $color_viking_approx;
    }
    + label::after {
        color: $white;
    }
}
.checkbox-warning input[type="checkbox"]:checked {
    + label::before {
        background-color: $color_casablanca_approx;
        border-color: $color_casablanca_approx;
    }
    + label::after {
        color: $white;
    }
}
.checkbox-success input[type="checkbox"]:checked {
    + label::before {
        background-color: $color_fern_approx;
        border-color: $color_fern_approx;
    }
    + label::after {
        color: $white;
    }
}
.radio-primary input[type="radio"] {
    + label::after {
        background-color: $color_boston_blue_approx;
    }
    &:checked {
        + label::before {
            border-color: $color_boston_blue_approx;
        }
        + label::after {
            background-color: $color_boston_blue_approx;
        }
    }
}
.radio-danger input[type="radio"] {
    + label::after {
        background-color: $color_chestnut_rose_approx;
    }
    &:checked {
        + label::before {
            border-color: $color_chestnut_rose_approx;
        }
        + label::after {
            background-color: $color_chestnut_rose_approx;
        }
    }
}
.radio-info input[type="radio"] {
    + label::after {
        background-color: $color_viking_approx;
    }
    &:checked {
        + label::before {
            border-color: $color_viking_approx;
        }
        + label::after {
            background-color: $color_viking_approx;
        }
    }
}
.radio-warning input[type="radio"] {
    + label::after {
        background-color: $color_casablanca_approx;
    }
    &:checked {
        + label::before {
            border-color: $color_casablanca_approx;
        }
        + label::after {
            background-color: $color_casablanca_approx;
        }
    }
}
.radio-success input[type="radio"] {
    + label::after {
        background-color: $color_fern_approx;
    }
    &:checked {
        + label::before {
            border-color: $color_fern_approx;
        }
        + label::after {
            background-color: $color_fern_approx;
        }
    }
}
.settings-sidebar ul li {
    a {
        display: block;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
    &:hover {
        background-color: $color_alabaster_approx;
    }
    &.active {
        border-left: 3px solid;
        border-color: $color_cerulean_approx;
        background-color: $color_alabaster_approx;
    }
}
.alert:empty {
    padding: 0;
    margin-bottom: 0;
    border: 0;
}
.author-list .video-wrapper {
    margin-bottom: 10px;
    .author-info {
        margin-bottom: 10px;
        .author-img {
            margin-right: 5px;
            img {
                width: 25px;
            }
        }
        .author-name {
            line-height: 1.8;
            font-weight: 600;
            a {
                color: $color_mine_shaft_approx;
            }
        }
    }
    .video-thumb {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }
    .video-info {
        overflow: hidden;
    }
    .video-title {
        font-size: 16px;
        word-wrap: break-word;
        a {
            font-weight: 500;
            color: $color_mine_shaft_approx;
            &:hover {
                color: $color_cerulean_approx;
                text-decoration: none;
            }
        }
    }
    .video-views {
        @extend %extend_4;
    }
    .video-publisher {
        @extend %extend_4;
    }
    .video-desc {
        margin-top: 10px;
        font-size: 11px;
        color: $color_tapa_approx;
        overflow: hidden !important;
        white-space: nowrap;
        max-height: 46px;
        text-overflow: ellipsis;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.upload-head h4 {
    font-size: 22px;
}
.video-list-title a h4 {
    height: 2.2em;
    overflow: hidden;
}
.submit-article-commet textarea {
    resize: vertical;
    border: 2px solid $color_hippie_blue_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px !important;
}
table .dataTables_empty {
    padding: 70px 0 !important;
    text-align: center;
    padding: 70px 0;
    background: $color_concrete_approx;
}
.replenish-wallet-form div {
    text-align: left !important;
    label {
        span {
            font-size: 16px;
            font-family: $font_11, $font_3;
            text-transform: uppercase;
            color: $color_mine_shaft_approx;
            font-weight: 600;
            margin-right: 10px;
        }
        strong {
            font-size: 18px;
            color: $color_fern_approx;
        }
    }
    small {
        font-size: 14px;
        font-family: $font_11, $font_3;
        text-transform: capitalize;
    }
}
.dataTable tbody tr td i.ad-category {
    font-size: 22px !important;
    color: $color_mountain_mist_approx;
}
.user-monetization-panel button .material-icons {
    vertical-align: middle;
    font-size: 1.3em;
    margin-bottom: 3px;
}
#toggle-video-monetization-form .toggle {
    height: 26px !important;
    font-size: 12px;
    min-height: 15px !important;
    width: auto;
    .toggle-group .btn {
        padding: 4px 10px;
        font-size: 12px;
    }
}
.monetization-settings-header h3 {
    width: 100%;
    overflow: hidden;
    span a {
        color: $white !important;
        text-decoration: none;
    }
    i.material-icons {
        vertical-align: middle;
        margin-bottom: 3px;
        font-size: inherit;
    }
}
.withdrawals-settings-header h3 {
    width: 100%;
    overflow: hidden;
    span a {
        color: $white !important;
        text-decoration: none;
    }
    i.material-icons {
        vertical-align: middle;
        margin-bottom: 3px;
        font-size: inherit;
    }
}