<li class="dropdown hide-from-mobile profile-nav pull-left">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<img class="header-image" src="{{ME avatar}}" alt="{{ME name}} avatar" />
	</a>
	<ul class="dropdown-menu ani-acc-menu" role="menu">
		<li>
			<a href="{{ME url}}">
				<b>{{ME name}}</b>
				<p>@{{ME username}}</p>
			</a>
		</li>
		<?php if ($pt->config->go_pro == 'on' && !PT_IsUpgraded()): ?>
			<li class="divider"></li>
			<li>
			<a href="{{LINK go_pro}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg> {{LANG go_pro}}
			</a>
			</li>
		<?php endif; ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK subscriptions}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg> {{LANG subscriptions}}
			</a>
		</li>
		<li>
			<a href="{{ME url}}?page=play-lists">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg> {{LANG play_lists}}
			</a>
		</li>
		<?php if ($pt->config->history_system == 'on') { ?>
			<li class="hide_mobi_hist">
				<a href="{{LINK history}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{LANG history}}
				</a>
			</li>
		<?php } ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK liked-videos}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg> {{LANG liked_videos}}
			</a>
		</li>
		<li>
			<a href="{{LINK manage-videos}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg> {{LANG manage_videos}}
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="{{LINK settings/profile}}">{{LANG edit}}</a>
		</li>
		<li>
			<a href="{{LINK settings}}">{{LANG settings}}</a>
		</li>
		<?php if ($pt->config->user_ads == 'on'): ?>
			<li>
				<a href="{{LINK ads}}">{{LANG ads}}</a>
			</li>
		<?php endif; ?>
		<?php if (PT_IsAdmin()) { ?> 
			<li>
				<a href="{{LINK admin-cp/}}">Admin Panel</a>
			</li> 
		<?php } ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK logout}}">{{LANG log_out}}</a>
		</li>
		<span class="headtoppoint"></span>
	</ul>
</li>