<div class="col-md-3 no-padding-right">
	<div class="video-latest-list video-wrapper" data-id="{{ID}}" data-views="{{VIEWS}}">
		<div class="video-thumb">
			<a href="{{URL}}">
				<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
				<div class="play_hover_btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
				</div>
			</a>
			<div class="video-duration">{{DURATION}}</div>
		</div>
		<div class="video-title">
			<a href="{{URL}}"><h4 title="{{TITLE}}">{{TITLE}}</h4></a>
		</div>
		<div class="video-info">
			<div>
				<a href="{{USER url}}">{{USER name_v}}</a><br/>
				<span>{{VIEWS_NUM}} {{LANG views}}</span> <span class="bold">·</span> <span>{{TIME}}</span>
			</div>
		</div>
	</div>
</div>