<!DOCTYPE html>
<html id="html">
<head>
	<meta charset="UTF-8">
	<title>{{CONTAINER_TITLE}}</title>
	<meta name="title" content="{{CONTAINER_TITLE}}">
	<meta name="description" content="{{CONTAINER_DESC}}">
	<meta name="keywords" content="{{CONTAINER_KEYWORDS}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:app_id" content="1643990952546825" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {{OG_METATAGS}}
    <link rel="shortcut icon" type="image/png" href="{{CONFIG theme_url}}/img/icon.png"/>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/jquery.tagit.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/twemoji-awesome.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/js/lib/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/js/lib/notifIt/notifIt/css/notifIt.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/style.css" id="style-css">
    <?php if ($pt->mode == 'night' || $pt->config->night_mode == 'night'): ?>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/night-mode.css" class="night-mode-css">      
    <?php endif; ?>  
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/custom.style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
    <script src="{{CONFIG theme_url}}/js/jquery-3.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/tag-it.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/css/mediaelementplayer.min.css" />
	<link rel="stylesheet" href="{{CONFIG theme_url}}/player/css/mejs-dark.css" />
    <script src="{{CONFIG theme_url}}/player/js/mediaelement-and-player.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/notifIt/notifIt/js/notifIt.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <?php if ($pt->page == 'user_ads' || $pt->page == 'settings') { ?>
    <link href="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/jquery.dataTables.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootstrap-select.min.css">
    <script src="{{CONFIG theme_url}}/js/bootstrap-select.min.js"></script>
    <?php } ?>
	<?php if ($pt->language_type == 'rtl') { ?>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootsrap-rtl.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/rtl.style.css">
    <?php } ?>
    <?php if ($pt->page == 'watch') { ?>
    <script src="{{CONFIG theme_url}}/player/plugins/speed/speed.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/speed/speed.min.css" />
    <script src="{{CONFIG theme_url}}/player/plugins/speed/speed-i18n.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/jump/jump-forward.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/jump/jump-forward.min.css" />
    <script src="{{CONFIG theme_url}}/player/plugins/ads/ads.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/ads/ads.min.css" />
    <script src="{{CONFIG theme_url}}/player/plugins/ads/ads-i18n.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/vast/ads-vast-vpaid.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/quality/quality.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/quality/quality.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/renderers/facebook.min.js"></script>
	<script src="{{CONFIG theme_url}}/player/plugins/context-menu/context-menu.min.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/context-menu/context-menu-i18n.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/context-menu/context-menu.min.css" />
    <?php } ?>
    <?php if ($pt->page == 'login' && $pt->config->recaptcha == 'on') { ?>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <?php } ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <?php if (!empty($pt->config->google)) { ?>
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{CONFIG google}}', 'auto');
      ga('send', 'pageview');
    </script> 
    <?php } ?>
    <script>
        <?php if (IS_LOGGED == true && $pt->config->server == 'nodejs') {?>
           const socket = io('{{CONFIG hostname}}:{{CONFIG server_port}}');
           socket.on('connect_error', function (error) {
              console.log(error);
           });
           setTimeout(function () {
             getNotifications();
           }, 500);
           function getNotifications() {
               socket.emit('get notifications and messages');
               setTimeout(function () {
                 getNotifications();
               }, 500);
           }
           socket.on('get notifications results', function (data) {
              if (data.status == 200) {
                 if (data.messages > 0) {
                    var default_messages = $('body').attr('data-messages');

                    if (!default_messages) {
                       $('body').attr('data-messages', data.messages);
                    }

                    var default_messages = $('body').attr('data-messages');

                    if (default_messages != data.messages) {
                       $('#message-sound')[0].play();
                       
                    }

                    $('body').attr('data-messages', data.messages);
                    $('#new-messages').html('<b>' + data.messages + '</b>');
                 } else {
                    $('#new-messages').html("");
                 }
                 if (data.notifications > 0) {
                    $('#new-notifications').html('<b>' + data.notifications + '</b>');
                 } else {
                     $('#new-notifications').html('');
                 }
                
              }
           });
        <?php } ?>
        var site_url = '{{CONFIG site_url}}';
        function PT_Ajax_Requests_File() {
          return site_url + '/';
        }
        function OpenShareWindow(url, windowName) {
           newwindow = window.open(url, windowName, 'height=600,width=800');
           if (window.focus) {
              newwindow.focus();
           }
           return false;
        }
    </script>
    <script src="{{CONFIG theme_url}}/js/header.js"></script>
</head>
<body itemscope itemtype="http://schema.org/Organization" id="pt-body">
	<?php if ($pt->page == 'upload-video-api'): ?>
	<style>.wo_about_wrapper_parent {top: 0 !important;}</style>
	<?php endif; ?>
	<input type="hidden" class="main_session" value="<?php echo PT_CreateMainSession();?>">
	<?php if ($pt->page != 'upload-video-api'): ?>
	<header class="navbar-fixed-top">
		{{HEADER_LAYOUT}}
		<div class="clear"></div>
	</header>
	<?php endif; ?>

	<div class="yp_side_menu <?php if ($pt->page != 'login') { ?>has_side_menu<?php } ?>">
		<div id="main-container" class="<?php echo ($pt->page != 'login') ? 'container' : 'welcome-page';?> <?php echo ($pt->page == 'home') ? 'watch_full_cont' : '';?> <?php echo ($pt->page == 'watch') ? 'watch_full_cont' : '';?> <?php echo ($pt->page == 'messages') ? 'm_cont_full' : '';?> main-content" {{IS_LOGGED}}>
			<div class="<?php echo ($pt->page == 'messages') ? 'hidden' : 'ads-placment';?>">{{HEADER_AD}}</div>
			<div class="announcement-renderer">
				{{ANNOUNCEMENT}}
			</div>
			{{CONTAINER_CONTENT}}
			<input type="hidden" id="main-url" value="{{MAIN_URL}}">
			<div class="<?php echo ($pt->page == 'messages') ? 'hidden' : 'ads-placment';?>">{{FOOTER_AD}}</div>
		</div>
		<?php if ($pt->page != 'upload-video-api'): ?>
			<footer class="pt_footer">
				{{FOOTER_LAYOUT}}
			</footer>
		<?php endif; ?>
	</div>
	<?php if ($pt->page != 'login') { ?>
	<div class="yp_side_drawer">
		<span class="open_side_menu_head">
			<?php if ($pt->config->night_mode == 'both' || $pt->config->night_mode == 'night_default'): ?>
				<div class="toggle-mode top-header">
					<label class="switch" title="{{LANG mode}}">
						<input type="checkbox" {{MODE}} id="toggle-mode-side">
						<span class="slider round">
							<svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" /></svg>
						</span>
					</label>
				</div>
			<?php endif; ?>
			<span onclick="javascript:$('body').removeClass('side_open');">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
			</span>
		</span>
		<ul class="sections">
			<li class="<?php echo ($pt->page == 'home') ? 'active': '';?>"> 
				<a href="{{LINK }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg> {{LANG home}}</a>
			</li>
			<?php if ($pt->config->history_system == 'on') { ?>
				<li class="<?php echo ($pt->page == 'history') ? 'active': '';?>">
					<a href="{{LINK history}}">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" /></svg> {{LANG history}}
					</a>
				</li>
			<?php } ?>
			<?php if ($pt->config->article_system == 'on'): ?>
				<li class="hide-from-mobile <?php echo ($pt->page == 'articles') ? 'active': '';?>">
					<a href="{{LINK articles}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 3H2.99a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 16H3.99V5H20v14z"/><path d="M7 13h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1zm1-4h3v2H8V9zM6 15h12v2H6zM15 7h3v2h-3zM15 11h3v2h-3z" /></svg> {{LANG articles}}</a>
				</li>
			<?php endif ?>
		</ul>
		<ul class="sections">
			<li class="hide-from-mobile <?php echo ($pt->page == 'latest') ? 'active': '';?>">
				<a href="{{LINK videos/latest}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" /></svg> {{LANG latest_videos}}</a>
			</li>
			<li class="<?php echo ($pt->page == 'trending') ? 'active': '';?>">
				<a href="{{LINK videos/trending}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z" /></svg> {{LANG trending}}</a>
			</li>
			<li class="hide-from-mobile <?php echo ($pt->page == 'top') ? 'active': '';?>">
				<a href="{{LINK videos/top}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 6h2v11h-2zM17 3h2v14h-2zM9 9h2v8H9zM5 12h2v5H5zM4 19h16v2H4z" /></svg> {{LANG top_videos}}</a>
			</li>
		</ul>
		<ul class="sections">
			<h3>{{LANG categories}}</h3>
			<?php foreach($pt->categories as $key => $category) { 
					if (1) { ?>
				<li><a class="category" href="{{LINK videos/category/<?php echo $key?>}}"><?php echo $category?></a></li>
			<?php } }?>
		</ul>
	</div>
	<?php } ?>
	<!-- JS FILES -->
    <?php if ($pt->page == 'watch') {?>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=1755264744788554";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <?php } ?>
    {{EXTRA_JS}}
	<script type="text/javascript" src="{{CONFIG theme_url}}/js/script.js"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/footer.js"></script>
    <link rel="" ="">
    <script>
	$(document).ready(function() {
		$("img[data-src]").unveil(200);
	});

    $(document).ready(function(){
        $('.share-video a').click(function (e) {
            e.preventDefault();
        });
        $('.dropdown-toggle').dropdown()

        $("#toggle-mode,#toggle-mode-side").change(function(event) {
            var mode = 'day';

            if ($(this).prop( "checked" ) === true) {
              mode = 'night';
              $('<link>',{
                rel:'stylesheet',
                href:'{{CONFIG theme_url}}/css/night-mode.css',
                class:'night-mode-css'
              }).insertAfter('link#style-css');
              $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo-light.png');
            }
            else{
              $(".night-mode-css").remove();
              $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo.png');
            }


            $.post('{{LINK }}', {mode: mode}, function(data, textStatus, xhr) { /* pass */ });
        });

        $("li.toggle-mobile-mode").click(function(event) {
            var mode = $(this).attr('data-mode');

            $.post('{{LINK }}', {mode: mode}, function(data, textStatus, xhr) {
              location.reload();
            });
        });
    });
   </script>
	<?php if (IS_LOGGED == true) { ?>
	<audio id="message-sound" class="sound-controls" preload="auto">
		<source src="{{CONFIG theme_url}}/mp3/unconvinced.mp3" type="audio/mpeg">
		<source src="{{CONFIG theme_url}}/mp3/unconvinced.ogg" type="audio/ogg">
	</audio>
	<?php } ?> 
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
      <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
		  <?php if ($pt->config->night_mode == 'night_default') { ?>
		  "popup": {
            "background": "#212121",
            "text": "#eee"
          },
		  <?php } else {?> 
		  "popup": {
            "background": "#fff",
            "text": "#333"
          },
		  <?php }?> 
          "button": {
            "background": "#04abf2",
            "text": "#fff"
          }
        },
        "theme": "edgeless",
        "position": "right-bottom",
        "content": {
          "message": "{{LANG cookie_message}}",
          "dismiss": "{{LANG cookie_dismiss}}",
          "link": "{{LANG cookie_link}}",
          "href": "{{LINK terms/privacy-policy}}"
        }
      })});
      </script>
	  
		<div class="fixed-action-btn">
			<span id="btn-fab-main" class="btn-fab-floating">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
			</span>
			<ul>
				<?php if ($pt->config->upload_system == 'on') { ?> 
				<li>
					<a href="{{LINK upload-video}}" class="btn-floating">
						<p>{{LANG upload}}</p>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#009688" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z"></path></svg>
					</a>
				</li>
				<?php } ?>
				<?php if ($pt->config->import_system == 'on') { ?> 
				<li>
					<a href="{{LINK import-video}}" class="btn-floating">
						<p>{{LANG import}}</p>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#03a9f4" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z"></path></svg>
					</a>
				</li>
				<?php } ?>
			</ul>
		</div>
	  
	  <?php if ($pt->page != 'login') { ?><div class="sidenav-overlay" onclick="javascript:$('body').removeClass('side_open');"></div><?php } ?>
	  
	  <div class="fab-overlay"></div>
	  
	  <script>
		$('#btn-fab-main').on('touchstart click', function() {
			if ($(this).hasClass('active')) {
				$(this).removeClass('active');
				$('body').removeClass('fab_open');
				$(this).addClass('reverse-animation');
			} else {
				$(this).removeClass('reverse-animation');
				$(this).addClass('active');
				$('body').addClass('fab_open');
			}
			return false;
		});
	</script>
</body>
</html>