/* css variables */
@import "https://fonts.googleapis.com/css?family=Roboto";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
body { background: #fcfcfc; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover; font-family: "Roboto", sans-serif !important; margin: 0; padding: 0; height: 100%; min-height: 100%; }

.dropdown-menu { animation-name: slidenavAnimation; animation-duration: .1s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards; -webkit-animation-name: slidenavAnimation; -webkit-animation-duration: .1s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: forwards; -moz-animation-name: slidenavAnimation; -moz-animation-duration: .1s; -moz-animation-iteration-count: 1; -moz-animation-timing-function: ease; -moz-animation-fill-mode: forwards; }
.dropdown-menu a i { color: #04abf2; }

nav.navbar-findcond { background: #fff; border-bottom: 1px solid #f1f1f1; }
nav.navbar-findcond a { color: #0095D8; }
nav.navbar-findcond ul.navbar-nav a { color: #0095D8; font-size: 15px; -webkit-border-style: solid; -moz-border-style: solid; -ms-border-style: solid; -o-border-style: solid; border-style: solid; -webkit-border-width: 0 0 2px 0; -moz-border-width: 0 0 2px 0; -ms-border-width: 0 0 2px 0; -o-border-width: 0 0 2px 0; border-width: 0 0 2px 0; -webkit-border-color: transparent; -moz-border-color: transparent; -ms-border-color: transparent; -o-border-color: transparent; border-color: transparent; padding-bottom: 13px; }
nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active { background: transparent; color: #0095D8; }
nav.navbar-findcond ul.navbar-nav li.active a:not(.category) { border-color: #04abf2; color: #0095D8; background-color: #04abf2; }
nav.navbar-findcond button.navbar-toggle { background: #0095D8; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond li.divider { background: #f4f4f4; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; padding-bottom: 5px; padding-top: 5px; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f9f9f9 !important; color: #444 !important; border-color: transparent !important; }
nav.navbar-findcond span.badge { background: #0095D8; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
nav.navbar-findcond .search-header { margin-right: -20px; position: relative; }
nav.navbar-findcond .search-header input { height: 35px; border: 0; padding-left: 30px; color: #444; border-radius: 0; width: 400px !important; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; background-color: transparent !important; border: 1px solid #f5f5f5; }
nav.navbar-findcond .search-header input:focus { margin-right: 30px; border: 1px solid #f1f1f1; }
nav.navbar-findcond .search-header i { position: absolute; padding: 10px; top: 0; cursor: pointer; left: 15px; color: #04abf2; }
nav.navbar-findcond .search-header .search-dropdown { position: absolute; width: 400px; background-color: #fff; color: #333; border-right: 1px solid #f2f2f2; border-left: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; }
nav.navbar-findcond .search-header .search-dropdown .search-result { padding: 10px; }
nav.navbar-findcond .search-header .search-dropdown .search-result:hover { background-color: #fcfcfc; }
nav.navbar-findcond .search-header .search-dropdown .search-result a { display: block; color: #333; text-decoration: none; }
nav.navbar-findcond .search-header-mobile { padding: 10px; position: relative; }
nav.navbar-findcond .search-header-mobile input { height: 100%; border: 0; color: #444; border-radius: 0; width: 100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; background-color: transparent !important; border: 0px; }
nav.navbar-findcond .logo-img { margin-right: 2px; max-width: 150px; margin-top: -8px; }
nav.navbar-findcond .logo-img img { width: 100%; }
nav.navbar-findcond .header-image { width: 20px; border: none; margin-top: -2px; border-radius: 3px; }

.video-latest-list { height: 300px; overflow: hidden; }
.video-latest-list .video-title { margin-top: 10px; font-size: 16px; color: #04abf2; max-height: 43px; overflow: hidden; }
.video-latest-list .video-thumb { width: 100%; position: relative; }
.video-latest-list .video-thumb img { width: 100%; }
.video-latest-list .video-thumb:hover { opacity: 0.8; }
.video-latest-list .video-thumb .video-duration { position: absolute; bottom: 2px; right: 2px; color: #fff; background-color: rgba(0, 0, 0, 0.4); font-size: 11px; padding: 1px; border-radius: 2px; padding-left: 3px; padding-right: 3px; }
.video-latest-list .video-info { margin-top: 5px; color: #444; font-size: 11px; }

.videos-latest-list.row { margin-right: 0; }

.dropdown-menu a { color: #444 !important; font-size: 13px !important; }
.dropdown-menu a:hover { color: #fff !important; }

.inline-block { display: inline-block; padding-bottom: 1px; }

.upload-button { color: #d84c47 !important; margin-top: 2px; }

.import-button { color: #2ec0bc  !important; margin-top: 2px; }

.navbar-default.second-header-layout { min-height: 30px !important; }

.navbar-default.second-header-layout .navbar-nav > li > a { padding-top: 5px; padding-bottom: 2px; }

.navbar-default.second-header-layout .navbar-nav a { line-height: 2; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: #04abf2; border-bottom: 0; }

.second-header-layout { margin-top: 50px; text-align: center; background: #202020 !important; color: #fff; }
.second-header-layout a { color: #fff !important; }
.second-header-layout li:hover { background: #04abf2; }

.content { background: #fff; width: 100%; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; padding: 10px; margin-bottom: 20px; }

#mep_0 { max-height: 80%; }

.clear { clear: both; }

.ad-image { width: 100%; height: 100%; background-color: #fcfcfc; text-align: center; z-index: 9; line-height: 100%; position: absolute; top: 0; }
.ad-image img { text-align: center; max-width: 100%; margin-top: 5%; vertical-align: middle; }

.video-big-title { font-size: 20px; color: #222; margin-top: 15px; margin-bottom: 10px; }
.video-big-title h1 { font-size: 20px; }
.video-big-title .featured-text { color: green; }
.video-big-title a { color: #222; text-decoration: none; }

.video-info-element { margin-bottom: 10px; margin-top: 10px; width: 120px; text-align: right; position: relative; }
.video-info-element .video-views { font-size: 18px; color: #555; padding-bottom: 5px; }
.video-info-element .views-bar { width: 80%; text-align: right; position: absolute; right: 0; height: 1px; padding: 1px; background-color: #ccc; color: #333; }
.video-info-element .blue { background-color: #2ec0bc; left: 0; width: 20%; text-align: left; }
.video-info-element .video-likes { margin-top: 10px; font-size: 18px; color: #777; }
.video-info-element .video-likes .like-btn { cursor: pointer; }
.video-info-element .video-likes .like-btn .likes { font-size: 11px; }
.video-info-element .video-likes .like-btn:hover { color: #555; }
.video-info-element .video-likes .like-btn.active { color: #2ec0bc; }

.categories-drop-down a { color: #444 !important; }

ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; }

.video-options { padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
.video-options .btn-share { border: 0; color: #555; background: transparent; }
.video-options .btn-share:focus { outline: none; }

.video-published { margin-top: 18px; color: #222; }
.video-published a { color: #04abf2 !important; }

.watch-video-description a { color: #04abf2 !important; }

.home-page-categories .row { margin-right: 0 !important; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #f3f3f3; }
.home-page-categories .col-md-3:nth-child(1), .home-page-categories .col-md-3:nth-child(2), .home-page-categories .col-md-3:nth-child(3), .home-page-categories .col-md-3:nth-child(4) { padding-right: 0; }
.home-page-categories .title { margin-bottom: 20px; }
.home-page-categories .title h4 { margin-top: 5px; color: #333; font-size: 16px; font-weight: 600; }
.home-page-categories .title h4 span { font-weight: 100; color: #04abf2; font-size: 12px; }
.home-page-categories .videos .video-list { width: 100%; }
.home-page-categories .videos .video-list img { width: 100%; }
.home-page-categories .videos .video-list .video-list-title { max-width: 100%; word-wrap: break; }
.home-page-categories .videos .video-list .video-list-title h4 { font-size: 16px; color: #0095D8; }
.home-page-categories .videos .video-list .video-list-by { font-size: 11px; margin-top: 3px; color: #767676; }
.home-page-categories .videos .video-list .video-list-by a { color: #767676; }

.btn-delete { background-color: #c23321; color: #fff; }
.btn-delete:hover, .btn-delete:focus { background-color: #d13e2e; color: #fff; }

.btn-main { background-color: #0095D8; color: #fff; }
.btn-main:hover, .btn-main:focus { background-color: #04abf2; color: #fff; }
.btn-main:disabled { background-color: #3dc4ff; color: #fff; }

.fetch-url { margin-top: -8px; }

.publisher-element { margin-bottom: 10px; margin-top: 10px; width: 50%; }
.publisher-element .publisher-avatar { width: 48px; height: 48px; margin-right: 8px; }
.publisher-element .publisher-avatar img { width: 100%; }
.publisher-element .publisher-name a { color: #333; font-weight: 600; }

.btn-subscribe { border: 0; background: #0095D8; padding: 5px; color: #fff; margin-top: 3px; width: 90px; font-size: 11px; outline: none; }
.btn-subscribe:hover { background: #04abf2; }

.btn-subscribed { border: 1px solid #ddd; border-right: 0; background: #f4f4f4; padding: 4px; color: #888; margin-top: 3px; width: 90px; font-size: 11px; outline: none; }
.btn-subscribed:hover { background: #f2f2f2; }

#background { position: absolute; top: 48px; left: 0; right: 0; width: 100%; z-index: -99999; background-color: #000; }

.mobile { display: none; }

.desktop { display: block; }

.subs-amount { border: 1px solid #ddd; font-size: 11px; padding: 5px; background: #f4f4f4; }

.video-player { width: 100%; position: relative; }
.video-player video { width: 100%; }
.video-player .icons { position: absolute; top: 15px; color: #fff; font-size: 20px; right: 7px; }
.video-player .icons span { cursor: pointer; }

.new-here { color: #fff; }
.new-here a { color: #fcfcfc; }
.new-here .dec { text-decoration: underline; }

.import-form-content { padding-top: 10px; border-top: 1px solid #f3f3f3; }

.video-title p { font-size: 16px; word-wrap: break; margin-top: 10px; }

.watch-video-description { max-height: 100px; overflow: hidden; position: relative; }
.watch-video-description p { font-size: 12px; color: #777; margin-top: 10px; word-wrap: break; }

.no-padding-right { padding-right: 0; }

.no-padding-left { padding-left: 0; }

.watch-video-show-more { text-align: center; color: #555; padding-top: 10px; border-top: 1px solid #f3f3f3; font-size: 14px; cursor: pointer; }
.watch-video-show-more:hover { color: #04abf2; }

.video-description p { font-size: 12px; color: #777; margin-top: 10px; word-wrap: break; }

.thumbnail-preview { margin-top: 20px; }
.thumbnail-preview img { width: 100%; }

.bg-bubbles { overflow: hidden; width: 100%; top: 0; bottom: 0; left: 0; right: 0; height: 100%; position: fixed; margin-bottom: 0px; z-index: -1; }
.bg-bubbles li { position: absolute; list-style: none; display: block; width: 20px; height: 20px; border-radius: 15px; background-color: rgba(255, 255, 255, 0.15); bottom: -160px; -webkit-animation: square 15s infinite; animation: square 15s infinite; -webkit-transition-timing-function: linear; transition-timing-function: linear; }
.bg-bubbles li:nth-child(1) { left: 10%; }
.bg-bubbles li:nth-child(2) { left: 20%; width: 80px; height: 80px; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-animation-duration: 17s; animation-duration: 17s; }
.bg-bubbles li:nth-child(3) { left: 25%; -webkit-animation-delay: 4s; animation-delay: 4s; }
.bg-bubbles li:nth-child(4) { left: 40%; width: 60px; height: 60px; -webkit-animation-duration: 22s; animation-duration: 22s; background-color: rgba(255, 255, 255, 0.25); }
.bg-bubbles li:nth-child(5) { left: 70%; }
.bg-bubbles li:nth-child(6) { left: 80%; width: 120px; height: 120px; -webkit-animation-delay: 3s; animation-delay: 3s; background-color: rgba(255, 255, 255, 0.2); }
.bg-bubbles li:nth-child(7) { left: 32%; width: 160px; height: 160px; -webkit-animation-delay: 7s; animation-delay: 7s; }
.bg-bubbles li:nth-child(8) { left: 55%; width: 20px; height: 20px; -webkit-animation-delay: 15s; animation-delay: 15s; -webkit-animation-duration: 40s; animation-duration: 40s; }
.bg-bubbles li:nth-child(9) { left: 25%; width: 10px; height: 10px; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-animation-duration: 40s; animation-duration: 40s; background-color: rgba(255, 255, 255, 0.3); }
.bg-bubbles li:nth-child(10) { left: 90%; width: 160px; height: 160px; -webkit-animation-delay: 11s; animation-delay: 11s; }

.embed-placement { margin-top: 10px; }
.embed-placement textarea { resize: none; }

.delete-comment { color: #666; cursor: pointer; }

.share-video { margin-top: 10px; }
.share-video .fa { padding: 10px; font-size: 20px; width: 50px; height: 50px; line-height: 1.5; border-radius: 3px; text-align: center; text-decoration: none; margin: 5px 2px; }
.share-video .fa:hover { opacity: 0.7; }
.share-video .fa-facebook { background: #3B5998; color: white; }
.share-video .fa-twitter { background: #55ACEE; color: white; }
.share-video .fa-google { background: #dd4b39; color: white; }
.share-video .fa-linkedin { background: #007bb5; color: white; }
.share-video .fa-youtube { background: #bb0000; color: white; }
.share-video .fa-instagram { background: #125688; color: white; }
.share-video .fa-pinterest { background: #cb2027; color: white; }
.share-video .fa-snapchat-ghost { background: #fffc00; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.share-video .fa-skype { background: #00aff0; color: white; }
.share-video .fa-android { background: #a4c639; color: white; }
.share-video .fa-dribbble { background: #ea4c89; color: white; }
.share-video .fa-vimeo { background: #45bbff; color: white; }
.share-video .fa-tumblr { background: #2c4762; color: white; }
.share-video .fa-vine { background: #00b489; color: white; }
.share-video .fa-foursquare { background: #45bbff; color: white; }
.share-video .fa-stumbleupon { background: #eb4924; color: white; }
.share-video .fa-flickr { background: #f40083; color: white; }
.share-video .fa-yahoo { background: #430297; color: white; }
.share-video .fa-soundcloud { background: #ff5500; color: white; }
.share-video .fa-reddit { background: #ff5700; color: white; }
.share-video .fa-rss { background: #ff6600; color: white; }

.edit-thumb img { cursor: pointer; }
.edit-thumb img:hover { opacity: 0.9; }

.login-page { margin-top: 250px; width: 20%; padding-top: 0; }
.login-page h4 { color: #fff; font-size: 46px; text-align: center; margin-bottom: 50px; font-family: 'Lato', sans-serif; }
.login-page .errors:empty { padding: 0; margin: 0; }
.login-page .errors { background: #fff; width: 100%; padding: 10px; margin: 0 auto; margin-bottom: 10px; border-radius: 3px; color: #e62117; }
.login-page .errors.success { color: #0095D8 !important; }
.login-page .login-form input[type=text], .login-page .login-form input[type=password], .login-page .login-form select, .login-page .login-form input[type=submit] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page .login-form input[type=text] option, .login-page .login-form input[type=password] option, .login-page .login-form select option, .login-page .login-form input[type=submit] option { color: #333; }
.login-page .login-form input[type=text]:focus, .login-page .login-form input[type=password]:focus, .login-page .login-form select:focus, .login-page .login-form input[type=submit]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=submit] { background: #fff !important; margin-top: 10px; border: 0; }
.login-page .login-form input[type=submit]:focus { border: 0; }
.login-page .login-icons div { margin-left: 5px; padding: 1px; border-radius: 6px; width: 25px; font-size: 22px; text-align: center; height: 25px; line-height: 1.1; background: #fff !important; color: #0095D8; }
.login-page .login-icons .facebook-icon a { color: #2D4373; }
.login-page .login-icons .google-icon a { color: #C23321; }
.login-page .login-icons .twitter-icon a { color: #2795E9; }
.login-page .recaptcha { text-align: center; text-align: -webkit-center; margin: 0 auto; }

.next-video { border-bottom: 1px solid #f3f3f3; margin-bottom: 20px; padding-bottom: 5px; }
.next-video h4 { color: #888; }
.next-video h4 .fa-bolt { color: #0095D8; }

.related-header h4 { margin-top: 5px; padding-bottom: 10px; color: #888; border-bottom: 1px solid #f3f3f3; }
.related-header h4 .fa-bolt { color: #0095D8; }

.side-barlist-wrapper .video-thumb { width: 110px !important; }

.videos-list .video-wrapper { margin-bottom: 10px; }
.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .video-wrapper .video-info { overflow: hidden; }
.videos-list .video-wrapper .video-title { font-size: 14px; word-wrap: break-word; }
.videos-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.videos-list .video-wrapper .video-title a:hover { color: #0095D8; text-decoration: none; }
.videos-list .video-wrapper .video-views, .videos-list .video-wrapper .video-publisher { color: #767676; margin-top: 3px; font-size: 11px; }

.video-actions { color: #888; font-size: 14px; float: right; margin-top: 5px; cursor: pointer; }
.video-actions i:hover { color: #04abf2; }

.settings-header { background-color: #0095D8; width: 100%; z-index: 99; margin-bottom: -10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; padding: 15px; padding-left: 25px; color: #fff; }
.settings-header h3 { margin-top: 0; font-size: 16px; }

.setting-panel.no-padding { padding: 0px !important; }

.checkbox { padding-left: 20px; }

.checkbox label { display: inline-block; position: relative; padding-left: 5px; }

.checkbox label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.checkbox label::after { display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }

.checkbox input[type="checkbox"] { opacity: 0; }

.checkbox input[type="checkbox"]:focus + label::before { outline: none; }

.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome'; content: "\f00c"; }

.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }

.checkbox input[type="checkbox"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }

.checkbox.checkbox-circle label::before { border-radius: 50%; }

.checkbox.checkbox-inline { margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before { background-color: #428bca; border-color: #428bca; }

.checkbox-primary input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before { background-color: #d9534f; border-color: #d9534f; }

.checkbox-danger input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before { background-color: #5bc0de; border-color: #5bc0de; }

.checkbox-info input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before { background-color: #f0ad4e; border-color: #f0ad4e; }

.checkbox-warning input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before { background-color: #5cb85c; border-color: #5cb85c; }

.checkbox-success input[type="checkbox"]:checked + label::after { color: #fff; }

.radio { padding-left: 20px; }

.radio label { display: inline-block; position: relative; padding-left: 5px; }

.radio label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 50%; background-color: #fff; -webkit-transition: border 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out; transition: border 0.15s ease-in-out; }

.radio label::after { display: inline-block; position: absolute; content: " "; width: 11px; height: 11px; left: 3px; top: 3px; margin-left: -20px; border-radius: 50%; background-color: #555555; -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio input[type="radio"] { opacity: 0; }

.radio input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

.radio input[type="radio"]:checked + label::after { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }

.radio input[type="radio"]:disabled + label { opacity: 0.65; }

.radio input[type="radio"]:disabled + label::before { cursor: not-allowed; }

.radio.radio-inline { margin-top: 0; }

.radio-primary input[type="radio"] + label::after { background-color: #428bca; }

.radio-primary input[type="radio"]:checked + label::before { border-color: #428bca; }

.radio-primary input[type="radio"]:checked + label::after { background-color: #428bca; }

.radio-danger input[type="radio"] + label::after { background-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::before { border-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::after { background-color: #d9534f; }

.radio-info input[type="radio"] + label::after { background-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::before { border-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::after { background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after { background-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::before { border-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::after { background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after { background-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::before { border-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::after { background-color: #5cb85c; }

.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel select, .user-setting-panel input[type='text'], .user-setting-panel input[type='password'], .user-setting-panel textarea { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -moz-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -webkit-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -o-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -ms-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }
.user-setting-panel textarea { height: 100px !important; color: #666 !important; font-size: 13px; }

.avatar-read { display: none; }

.settings-sidebar ul li a { display: block; }
.settings-sidebar ul li a:hover, .settings-sidebar ul li a:focus { text-decoration: none; }
.settings-sidebar ul li:hover { background-color: #fcfcfc; }
.settings-sidebar ul li.active { border-left: 3px solid; border-color: #0095D8; background-color: #fcfcfc; }

.footer-container { padding: 10px; background: #fff; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.footer-container .footer-links { margin-top: 10px; }
.footer-container .footer-links ul { list-style: none; margin-left: 0 !important; padding-left: 0 !important; }
.footer-container .footer-links ul li { display: inline-block; padding-right: 10px; }
.footer-container .footer-links ul li .dropdown-menu > li > a:focus, .footer-container .footer-links ul li .dropdown-menu > li > a:hover { background: transparent; color: #0095D8 !important; }
.footer-container .footer-links ul li a { color: #333; font-size: 100%; }
.footer-container .footer-copyright { margin-top: 10px; color: #888; }

.help-block { font-size: 12px; }

.alert:empty { padding: 0; margin-bottom: 0; border: 0; }

.percent { position: absolute; left: 50%; top: 50%; margin-top: -10px; }

.progress-bar { background-color: #e62117 !important; }

.white { color: #fff; }

.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb img { width: 100%; }
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #0095D8; text-decoration: none; }
.author-list .video-wrapper .video-views, .author-list .video-wrapper .video-publisher { color: #767676; margin-top: 3px; font-size: 12px; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #767676; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }

.no-content-found { color: #888; margin-bottom: 10px; margin-top: 10px; }

.verified { color: #2bb6f2 !important; }

.progress { position: relative; height: 40px; background: #fff7f7; }

#progress { width: 100%; border-radius: 3px; position: relative; padding: 4px; }

.setting-panel, .setting-panel.no-padding { margin-top: 20px; }
.setting-panel textarea, .setting-panel.no-padding textarea { color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -moz-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -webkit-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -o-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -ms-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.setting-panel select, .setting-panel.no-padding select, .setting-panel input[type='text'], .setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -moz-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -webkit-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -o-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; -ms-box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.setting-panel label, .setting-panel.no-padding label { font-weight: 100; margin-top: 3px; }
.setting-panel .btn-main, .setting-panel .btn-delete { height: 30px !important; font-size: 13px; min-width: 100px !important; }
.setting-panel textarea, .setting-panel.no-padding textarea { color: #666 !important; font-size: 13px; }

.upload-head h4 { font-size: 22px; }

.comment-box { margin-top: 10px; margin-bottom: 10px; }
.comment-box textarea { border-radius: 2px; resize: none; box-shadow: none; }

.comments-header { font-weight: 600; }

.user-comments .no-comments-found { margin-bottom: 10px; color: #777; }
.user-comments .main-comment { margin-bottom: 40px; }
.user-comments .main-comment .user-avatar { width: 48px; margin-right: 10px; }
.user-comments .main-comment .user-avatar img { width: 100%; }
.user-comments .main-comment .user-name { font-size: 14px; }
.user-comments .main-comment .user-name small { color: #777; }
.user-comments .main-comment .user-comment { width: 85%; font-size: 13px; margin-top: 10px; overflow: hidden; }
.user-comments .main-comment .user-comment .div-vote-comment { color: #777; margin-top: 10px; font-size: 13px; }
.user-comments .main-comment .user-comment .div-vote-comment .likes { color: #2ec0bc; }
.user-comments .main-comment .user-comment .div-vote-comment .voting { margin-left: 5px; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i { cursor: pointer; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i:hover { color: #555; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i.active { color: #2ec0bc; }

.ads-test { color: #ffcc7f; width: 100%; padding: 10px; background-color: rgba(0, 0, 0, 0.5); }

.ads-placment:empty { margin-top: 0; margin-bottom: 0; }

.ads-placment { text-align: center; margin-top: 20px; margin-bottom: 20px; }
.ads-placment img, .ads-placment iframe { max-width: 100%; }

.profile-container { margin-bottom: 20px; }
.profile-container .card-container { width: 100%; position: relative; }
.profile-container .card-container .cover-container img { width: 100%; }
.profile-container .card-container .text-shadow { background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.4) 100%); padding: 25px; width: 100%; position: absolute; bottom: 0; }
.profile-container .card-container .avatar-container { width: 120px; position: absolute; bottom: 10px; left: 10px; border: 3px solid #fff; }
.profile-container .card-container .avatar-container img { width: 100%; }
.profile-container .card-container .info-container { position: absolute; left: 140px; bottom: 0; }
.profile-container .card-container .info-container h4 { font-size: 22px; }
.profile-container .card-container .info-container h4 a { color: #fff; }
.profile-container .card-container .info-container h4 a:hover { text-decoration: none; }
.profile-container .card-container .subscribe-btn-container { position: absolute; right: 10px; bottom: 5px; }
.profile-container .card-container .edit-cover-container { position: absolute; top: 5px; right: 10px; font-size: 16px; }
.profile-container .card-container .edit-cover-container a { color: #fff; text-shadow: #444 0 0 3px; }
.profile-container .card-container .edit-cover-container a:hover { text-decoration: none; }
.profile-container .links-container { width: 100%; margin: 0; background: #fff; border-bottom: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; }
.profile-container .links-container ul { margin-bottom: 0; padding-left: 0; margin-left: 0; width: 100%; list-style: none; }
.profile-container .links-container ul li { margin-right: -4px; width: 33.4%; text-align: center; display: inline-block; }
.profile-container .links-container ul li a { padding: 10px; display: block; transition: all 0.1s; }
.profile-container .links-container ul li a:hover, .profile-container .links-container ul li a:focus { text-decoration: none; color: #111; }
.profile-container .links-container ul li a.active { text-decoration: none; background: #04abf2; color: #fff; }
.profile-container .page-container { margin-top: 20px; }

.upload { margin-right: auto; margin-left: auto; width: 100%; text-align: center; height: 200px; margin-top: 20px; border: 3px dashed #999; line-height: 200px; font-size: 18px; }
.upload:hover { border: 3px dashed #0095D8; cursor: pointer; color: #0095D8; }

@-webkit-keyframes square { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-1200px) rotate(600deg); transform: translateY(-1200px) rotate(600deg); } }
@keyframes square { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-1200px) rotate(600deg); transform: translateY(-1200px) rotate(600deg); } }
@media (max-width: 1600px) { .login-page { width: 50%; } }
@media (max-width: 990px) { .hide-in-mobile { display: none !important; }
  .mobile { display: block; width: 100%; }
  .desktop { display: none; }
  .icons { display: none; }
  .play-list-player .no-padding-right { padding-right: 0 !important; }
  .no-padding-right { padding-right: 15 !important; }
  .no-padding-left { padding-left: 15px !important; }
  .video-player-page .no-padding-right, .video-player-page .no-padding-left { padding-left: 5px !important; padding-left: 5px !important; } }
@media (max-width: 900px) { .hide-in-mobile { display: none !important; }
  .video-latest-list { height: auto !important; margin-bottom: 25px; }
  .login-page { width: 100%; }
  .login-page h4 { font-size: 34px; }
  .search-header { display: none; }
  .video-player-page .no-padding-right, .video-player-page .no-padding-left { padding-left: 0 !important; padding-left: 0 !important; } }
.show-in-mobile { display: none !important; }

@media (max-width: 760px) { nav.navbar-findcond .logo-img img { margin-top: 5px; width: 75%; }
  .publisher-element .publisher-name a { font-weight: 100; font-size: 14px; color: #111; }
  .navbar-fixed-top { height: 30px; }
  .show-in-mobile { display: initial !important; }
  .login-page { margin-top: 0 !important; }
  .video-info-element .video-likes { font-size: 14px; }
  .video-options { margin-top: 40px; }
  .nav > li { display: inline-block !important; }
  .nav > li > a { padding: 7px !important; }
  .hide-in-mobile-720 { display: none !important; }
  .views-mobile { font-size: 12px; color: #777; }
  .next-video h4 { font-size: 14px; margin-top: 5px; margin-bottom: 5px; }
  .video-big-title { font-size: 18px; margin-top: 5px; margin-bottom: 10px; }
  .video-big-title h1 { font-size: 18px; margin-top: 0; margin-bottom: 10px; }
  .video-player-page .col-lg-1, .video-player-page .col-lg-10, .video-player-page .col-lg-11, .video-player-page .col-lg-12, .video-player-page .col-lg-2, .video-player-page .col-lg-3, .video-player-page .col-lg-4, .video-player-page .col-lg-5, .video-player-page .col-lg-6, .video-player-page .col-lg-7, .video-player-page .col-lg-8, .video-player-page .col-lg-9, .video-player-page .col-md-1, .video-player-page .col-md-10, .video-player-page .col-md-11, .video-player-page .col-md-12, .video-player-page .col-md-2, .video-player-page .col-md-3, .video-player-page .col-md-4, .video-player-page .col-md-5, .video-player-page .col-md-6, .video-player-page .col-md-7, .video-player-page .col-md-8, .video-player-page .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding-right: 0; padding-left: 0; }
  .keep-padding { padding-right: 10px !important; padding-left: 20px  !important; }
  .pull-right-mobile { float: right !important; }
  .pull-left-mobile { float: left !important; }
  .dropdown-menu { left: auto !important; right: 10px !important; }
  .links-container ul li { width: 100% !important; }
  .avatar-container { width: 40px !important; border: 1px solid #fff; }
  .info-container { left: 20% !important; }
  .info-container h4 { font-size: 16px !important; }
  .main-content { margin-top: 55px; }
  .video-info-element { width: 25%; }
  .phone-container { padding-left: 0 !important; padding-right: 0 !important; }
  .second-header-layout { display: none; }
  .navbar-nav li { margin-top: -2px; }
  .footer-container { text-align: center; }
  .footer-container .pull-right, .footer-container .pull-left { float: inherit !important; }
  .home-page-categories .videos .video-list { margin-bottom: 30px; } }
.video-info, .video-latest-list.video-wrapper { overflow: unset !important; }

.video-wrapper:hover div.video-menu { visibility: visible; }

.video-info .video-views { width: auto; display: inline-block; }

.video-menu ul li span { padding: 8px 10px; font-size: 13px; cursor: pointer; width: 100%; display: block; font-weight: 500; color: #333; }

.video-menu div.dropdown { display: inline-block; }

.video-menu div.dropdown span.dropdown-toggle { padding-left: 15px; display: inline-block; }

.video-menu div.dropdown span.dropdown-toggle:hover { color: #333; }

.video-menu div.dropdown ul.dropdown-menu { right: 100%; left: unset; min-width: 200px; border-radius: 2px; }

.video-menu ul li span:hover { background: #f1f1f1; color: #333; }

.ddown-menu ul li span { padding: 8px 10px; font-size: 13px; cursor: pointer; width: 100%; display: block; font-weight: 500; color: #333; }

.ddown-menu div.dropdown { display: inline-block; }

.ddown-menu div.dropdown span.dropdown-toggle { padding-left: 15px; display: inline-block; }

.swal2-modal { width: 400px !important; }

.ddown-menu div.dropdown ul.dropdown-menu { right: 100%; left: unset; min-width: 200px; border-radius: 2px; }

.ddown-menu ul li span:hover { background: #f1f1f1; color: #333; }

.pointer { cursor: pointer; }

.home-page-categories .title h4 span { float: right; }

.video-list-title a h4 { height: 2.2em; overflow: hidden; }

.video-latest-list.video-wrapper .video-title a { display: inline-block; height: 3em; overflow: hidden; }

.top-video-wrapper .video-title { max-height: 4.5em; overflow: hidden; }

.top-video-wrapper .video-menu { visibility: hidden; }

.top-video-wrapper:hover > .video-menu { visibility: visible; }

.side-barlist-wrapper { position: relative; }

.side-barlist-wrapper:hover > .ptrm-vid-renderer { visibility: visible; }

.side-barlist-wrapper .ptrm-vid-renderer { position: absolute; bottom: 0; right: 10px; cursor: pointer; color: #fff !important; visibility: hidden; }

.play-list-player { width: 100%; overflow: hidden; margin-bottom: 10px; }
.play-list-player #mep_0 { max-height: 100% !important; }

.play-list-container { padding: 0px; margin: 0px; height: 100%; box-shadow: none !important; }

.play-list-container .next-video { padding: 15px; background: #1a1a1a; color: #fff; padding-top: 7px; padding-bottom: 5px; }

.play-list-container .next-video { margin-bottom: 0px; border-bottom: none; }

.ads-placment:empty { padding: 0px; }

.play-list-cont { background: #353535; color: #fff !important; height: 90%; overflow-x: hidden; padding: 10px 5px 10px 0; }

.play-list-cont a { color: #d7d7d7 !important; }

.play-list-cont::-webkit-scrollbar { width: 6px; background-color: #f0f0f0; }

.play-list-cont::-webkit-scrollbar-thumb { background-color: #999; }

.video-wrapper .vid-number-cont { color: #d7d7d7; width: 40px; display: inline-block; float: left; text-align: center; }

.video-wrapper .vid-number-cont span { line-height: 65px; font-size: 13px; font-family: "Roboto"; font-weight: 500; }

.video-wrapper .vid-number-cont span i { font-size: 9px; color: #f8f8f8; }

.optional-field { opacity: 0.7; }

.create-new-list input, .create-new-list textarea, .create-new-list select { border-radius: 2px; }

.create-new-list select option[selected="selected"] { display: none; }

.create-new-list small { float: left; }

.create-new-list button:first-child { margin-right: 20px; }

.create-new-list textarea { resize: vertical; }

.create-new-list .create-new-list-head p { font-family: "Roboto"; font-size: 18px; text-align: left !important; }

.add-topl-cont, .create-new-list, .sa-no-list { width: 80%; overflow: hidden; margin: auto; }

.add-topl-cont h4 { text-align: left; margin-top: 0px; }

.playlist-item { width: 100%; text-align: left !important; border-bottom: 1px solid #dddada; padding: 10px 0px; }

.playlist-item span { color: #333; font-size: 15px; font-family: "Roboto"; }

.playlist-item span.list-name i { color: #666; }

.playlist-item:last-child { border-bottom: none; }

.playlist-item button { color: #333; padding: 1px 10px; font-family: "Roboto"; font-weight: 500; }

.sa-no-list { line-height: 120px; font-size: 15px; }

.secure-color { color: #0d770d !important; }

.play-lists { margin-bottom: 20px; }

.play-lists .video-title { width: 100%; margin-top: 5px; }

.play-lists .video-title a { cursor: pointer; text-decoration: none; }

.play-lists div.video-latest-list { height: unset; overflow: hidden; position: relative; cursor: pointer; }

.play-lists div.video-latest-list div.play-lists-overlay { height: 100%; width: 100%; position: absolute; left: 0; top: 0; }

.play-lists div.video-latest-list div.play-lists-count { height: 100%; width: 100px; text-align: center; position: absolute; right: 0; top: 0; background: rgba(36, 36, 36, 0.67); display: flex; align-items: center; justify-content: center; }

.play-lists div.video-latest-list div.play-lists-count span { color: #fff; font-weight: 500; font-family: "Roboto"; font-size: 17px; }

.play-lists div.video-latest-list div.play-lists-count span b { display: block; font-weight: 500; }

/*# sourceMappingURL=style.css.map */
