<?php 
$page           = (!empty($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? PT_Secure($_GET['query']) : '';
$db->pageLimit  = 500;


if (!empty($filter_keyword)) {
	$sql      = "`title` LIKE '%$filter_keyword%' OR `description` LIKE '%$filter_keyword%' OR `tags` LIKE '%$filter_keyword%'";
	$articles = $db->where($sql)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_POSTS, $page);
} 

else {
	$articles = $db->objectbuilder()->orderBy('id', 'asc')->paginate(T_POSTS, $page);
}

if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
	header("Location: " . PT_LoadAdminLinkSettings('manage-articles'));
	exit();
}

?>

<div class="container-fluid">
    <div class="block-header">
        <h2>Articles > Manage Articles</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage & Edit Articles</h2>
                </div>
                <div class="body">
                   <div class="row">
                       <div class="col-md-6" style="margin-bottom:0;">
                            <form method="get" action="<?php echo PT_LoadAdminLinkSettings('manage-articles'); ?>">
                              <div class="row">
                              	<div class="col-md-9">
	                              	<div class="form-group form-float">
	                                    <div class="form-line">
	                                        <input type="text" name="query" id="query" class="form-control">
	                                        <label class="form-label search-form">Search for Tags, Title, Description</label>
	                                    </div>
	                                </div>
	                              </div>
	                              <div class="col-md-3">
	                              	 <button class="btn btn-info">Search</button>
	                              </div>
                              </div>
                              <div class="clearfix"></div>
                           </form>
                       </div>
                   </div>
                   <div class="clearfix"></div>
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                      <th>ID</th>
					                  <th>Title</th>
					                  <th>Category</th>
					                  <th>Date</th>
					                  <th>Status</th>
					                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php 
                                foreach ($articles as $key => $article) {
                                	
                                	$status   = ($article->active == 1) ? '<span class="label label-success">Active</span>' : '<span class="label label-danger">Inactive</span>';

                                	$category = 1;
                                	$art_id   = $article->id;
                                	if (in_array($article->category, array_keys(get_object_vars($pt->categories)))) {
                                		$category =  $article->category;
                                	}
                                	
                                	echo PT_LoadAdminPage('manage-articles/list', array(
	                                		'ID'     => $article->id, 
	                                		'TITLE' => PT_ShortText($article->title,50), 
	                                		'CATEGORY' =>  $pt->categories->$category, 
	                                		'DATE' => date('F-d-Y',$article->time), 
	                                		'EDIT_LINK' => PT_LoadAdminLinkSettings("edit-article?id=$art_id"), 
	                                		'STATUS' => $status
                                		));
                                }
                            ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-left">
                    	<?php echo "Showing $page out of " . $db->totalPages; ?>
                    </div>
                    <div class="pull-right">
                    	<nav>
                            <ul class="pagination">
                            	<li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-articles?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                        <i class="material-icons">first_page</i>
                                    </a>
                                </li>
                                <?php if ($page > 1) {  ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-articles?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                                <?php  } ?>
                                <?php 
                                $nums = 0;
                                $nums_pages = ($page > 4) ? ($page - 4) : $page;
                                for ($i=$nums_pages; $i <= $db->totalPages; $i++) { 
                                	if ($nums < 20) {
                                	?>
                                	<li class="<?php echo ($page == $i) ? 'active' : ''; ?>"><a href="<?php echo PT_LoadAdminLinkSettings('manage-articles?page-id=' . ($i)); ?>" class="waves-effect"><?php echo $i ?></a></li>
                                	<?php
                                	}
                                	$nums++;
                                }
                                ?>
                                <?php if ($db->totalPages > $page) { ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-articles?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                                <?php } ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-articles?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                        <i class="material-icons">last_page</i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- #END# Vertical Layout -->
<div id="delete-modal" class="modal fade" role="dialog" data-id="">
  <div class="modal-dialog">
    <div class="modal-content modal-col-red">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DELETE ARTICLE</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue? this action can't be undo</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-link waves-effect delete-button" data-dismiss="modal" data-type="article">DELETE</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
	$('.delete-content').on('click', function(event) {
		event.preventDefault();
		$('#delete-modal').attr('data-id', $(this).attr('data-id')).modal('show');
	});
});
</script>