<tr id="list-{{ID}}">
  <td>{{ID}}</td>
  <td><a href="{{ME url}}">{{TITLE}}</a></td>
  <td><a href="{{ME url}}">{{CATEGORY}}</a></td>
  <td>
  	<time>{{DATE}}</time>
  </td>
  <td>{{STATUS}}</td>
  <td>
  	<a class="btn bg-cyan waves-effect waves-light" href="{{EDIT_LINK}}" target="_blank">EDIT</a>
  	<button class="btn btn-danger waves-effect waves-light delete-content" data-id="{{ID}}">DELETE</button>
  </td>
</tr>