body,header,nav{
	background: #131313 !important;
	border-color: #444 !important;
	
}
.video-title,.video-publisher,.video-views{
	color: #fff !important; 
}
a{
	color: inherit !important;
}
p,span,h1,h2,h3,h4,h5,h6,article,small,b,strong,td,th,label,a,button,input,li{
	color: #eee !important;
}
.search-result a {
	color: #333 !important;
}
.mejs-qualities-selected, .mejs__qualities-selected {
	color: #04abf2 !important;
}
.login-icons a {
	color: initial !important;
}
.setting-panel input[type='text'], .setting-panel input[type='password'] {
	color: #eee !important;
}
.setting-panel.no-padding textarea, .setting-panel textarea {
    color: #eee !important;
}
.setting-panel.no-padding select, .setting-panel select {
	color: #eee !important;
}
.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] {
color: #eee !important;
}
.user-setting-panel textarea {
	color: #eee !important;
}
.user-setting-panel select {
	color: #eee !important;
}
.categories-drop-down a { color: #eee !important; }
.navbar-fixed-top{
	background: #212121 !important;
	border-bottom: none !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
}
footer .footer-container{
	background: #212121 !important;
	box-shadow: none !important;
}
ul.dropdown-menu,ul,li{
	background: #212121 !important;
	border-color: #444 !important;
}
.swal2-modal button.btn{
	background: #030303 !important;
	border-color: #444 !important;
	box-shadow: none;
}
.swal2-modal{
	background: #131313 !important;
	border-color: #fff !important;
}
nav.navbar-findcond ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:hover{
	background: #333 !important;
	color: #fff !important;
}
.home-page-categories .row{
	border: none !important;
	margin-bottom: 0px !important;
}
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .free-bg, .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .pro-bg {
    border-bottom: 2px solid #343434;
}
.free-bg, .pro-bg {
    background: #212121;
}
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-features {
	background: #212121 !important;
	box-shadow: none !important;
	border: 0 !important;
}
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-features-list p  {
	border-color: #333 !important;
}
.navbar.navbar-findcond.navbar-default.second-header-layout{
	border: none !important;
	background: #212121 !important;
	border-radius: 0px !important;
	border-top: 2px solid #444 !important;
}
.navbar.navbar-findcond.navbar-default.second-header-layout ul.nav.navbar-nav li{
	background: #212121 !important;
}
.footer-copyright{
	color: #eee !important;
}
.footer-container ul{
	border-radius:  0px !important;
}
.page-margin.video-player-page .related-header h4{
    border-bottom: 1px solid #3e3e3e !important;
}
.video-options{
    border-bottom: 1px solid #3e3e3e !important;
}
.video-published{
    color: #eee !important;
}
.video-views{
    text-transform: lowercase;
}
.page-margin.video-player-page .publisher-subscribe-button button,.subscribe-btn-container button,.publisher-subscribe-button button{
    background: #3590d9 !important;
    border-color: #5e99dc;
}
.page-margin.video-player-page .publisher-subscribe-button span,.subscribe-btn-container span,.publisher-subscribe-button span{
    background: #3590d9 !important;
    border-color: #5e99dc;
}
input,textarea,select,.bootstrap-select button,.bootstrap-select button span{
	border-color: #444 !important;
	background-color: #1c1c1c !important;
	box-shadow: none;
	color: #eee !important;
}
.playlist-item{
	border-color: #444 !important;
}
.subscriptions-list .video-wrapper .video-actions{
	padding-right: 10px;
}
/*.subscriptions-list .video-wrapper:hover {
	cursor: pointer;
	background: #3a3a3a;
}*/
.subscriptions-list .video-wrapper .video-desc {
	color: #8a8a8a !important;
}
.subscriptions-list .video-wrapper hr{
	border-color: #424242 !important; 
}
.load-more{
	color: #eee !important;
	border-color: #424242 !important; 
}
.video-latest-list.video-wrapper .video-info{
	color: #eee !important;
}
.upload-head hr{
	border-color: #424242 !important; 
}
.video-menu ul li span:hover{
	background: #04abf2 !important;
    color: #fff !important;
}
.dropdown-menu.notfi-dropdown h5{
	background: #1c1c1c !important;
    color: #fff !important;
    border-color: #424242 !important; 
}
.dropdown-menu.notfi-dropdown li ul li:hover{
	background: #3a3a3a !important;
}
#get-notifications{
	background: #212121 !important;
}
.divider{
	background: #424242 !important;
}
.text-center.no-content-found{
	color: #eee !important;
}
.profile-container .links-container{
	border: 1px solid #424242 !important; 
	border-left: none !important;
	border-right: none !important;
}
.play-lists .dropdown-menu{
	border-radius: 0px !important;
}
.play-lists .dropdown-menu li span:hover{
	background: #3a3a3a !important;
	color: #eee !important;
}
.watch-video-show-more{
	color: #fff !important;
    border-color: #424242 !important; 
	background-color: #131313;
	background-image: linear-gradient(to top,#131313 0,#131313 100%);
}
.watch-video-show-more:hover {
    background-color: #000000;
    background-image: linear-gradient(to top,#000000 0,#000000 100%);
}
li.sort-comments a:hover{
	background: #3a3a3a !important;
	color: #eee !important;
}
.comments-header{
	color: #eee !important;
}
.fa-thumb-tack.rotate-r45d{
	color: #42c1be;
}
.load-related-videos{
	border-color: #424242 !important; 
}
.load-related-videos button{
	background: transparent !important;
	color: #eee !important;
	border: none;
}
.load-related-videos button:focus{
	background: transparent !important;
	color: #eee !important;
	border: none !important;
}
hr{
	border-color: #424242 !important; 
}
.settings-header{
	box-shadow: none !important;
}
.termsofuse:not(h4){
	color: #8a8a8a !important;
}
.articles-content .pt_article_h_list, .read-content {
    background: #212121;
    border: 1px solid #212121;
}
.recent-articles {
    border-bottom: 1px solid #3e3e3e;
}
.postFooter {
    border-top: 1px solid #484848;
}
.article-categories h4{
	border-color: #424242 !important; 
}
.article-categories .video-wrapper.popular-articles-wrapper{
	border-color: #424242 !important; 
}
.video-wrapper.article-wrapper{
	border-bottom: 1px solid #424242 !important; 
}
.video-wrapper.article-wrapper:last-child{
	border-bottom: none !important; 
}
.video-wrapper.article-wrapper .article-desc p{
	color: #8a8a8a !important;
}
.video-wrapper.article-wrapper .article-views{
	color: #eee !important;
}
.user-ads-list-container,.create-new-ad-container{
	background: #3a3a3a !important;
	color: #eee !important;
	border-color: #424242 !important; 
}
.user-ads-list-container table *,.bootstrap-select *,table#withdrawal-requests *{
	background: #3a3a3a !important;
	color: #eee !important;
	border-color: #424242 !important; 
}
.swal2-success-circular-line-right,.swal2-success-circular-line-left,.swal2-success-fix{
	background: transparent !important;
}
.dataTables_paginate.paging_simple_numbers ul li a{
	background: #3a3a3a !important;
	color: #eee !important;
	border-color: #424242 !important; 
	outline: 0;
}
.dataTables_paginate.paging_simple_numbers ul li.active a{
	background: #eee !important;
	color: #222 !important;
}
.user-setting-panel{
	background: #212121 !important;
	color: #eee !important;
	border-color: #424242 !important; 
	box-shadow: none !important;
}
.settings-sidebar ul{
	box-shadow: none !important;
	border-radius: 0px !important;
}
.settings-sidebar ul li{
	background: #212121 !important;
	color: #eee !important;
	border-color: #424242 !important; 
	box-shadow: none !important;
}
.settings-sidebar ul li.active {
	border-color: #eee !important; 
}
.form-control.read-only{
	background: #3a3a3a !important;
	color: #eee !important;
}
.toggle-group *{
	color: #eee !important;
}
.toggle-group .toggle-off{
	background: #3a3a3a !important;
}
.alert p, .alert h4 {
	color: #8a6d3b !important;
}
.alert{
	border-radius: 0px;
}
#avatar-settings .btn-file{
	color: #eee !important;
	background: #1c1c1c !important;
}
.main-color {
    color: #04abf2 !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: transparent !important;
}
.next-video, .related-header h4 {
	border-bottom: 1px solid #3e3e3e !important;
}
.bg-bubbles li {
	background-color: rgba(255, 255, 255, 0.15) !important;
}
.bg-bubbles {
	background-color: #131313 !important;
}
.user-messages .messages .message .user-message {
	background-color: #131313;
	box-shadow: none !important;
}
.user-send-message textarea, .messages-sidebar .search-box input, .messages-sidebar .list-group {
	box-shadow: none !important;
}
.messages-sidebar ul li a:hover {
	background-color: transparent !important;
}
::-webkit-scrollbar {
	background: #212121;
}
::-webkit-scrollbar-thumb {
	background: #131313;
}
.messages-sidebar .saving {
    color: #1da1f2 !important;
}
.messages-sidebar  .saving span {
    color: #1da1f2 !important;
}
#new-message-form #send-button {
	color: #04abf2 !important;
	background-color: rgba(0, 0, 0, .3);
}
#new-message-form #send-button:hover {
	background-color: rgba(0, 0, 0, .5);
}
nav.navbar-findcond .search-header input{
	background-color: #3c3d3e !important;
}
.second-header-layout a{
	color: #eee !important;
}
.second-header-layout li.active>a{
	background: #111111 !important;
}
.pt_footer .container-fluid{
	background: #212121 !important;
	border-top: solid 1px #111111;
}
.pt_language_select{
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.pt_language_select:before {
    background: #212121;
}
.view_more_link a {
    background-color: #464646;
    border: 1px solid #0d0d0d;
}
.btn-default {
    background: #131313;
}
.headtoppoint {
    border-bottom: 10px solid #212121;
}
.dropdown-menu.ani-acc-menu svg.feather {
    color: #9d9d9d;
}
.announcement-renderer, .announcement-renderer .alert{
	background-color: black;
}
.modal-footer {
    background-color: #272727;
    border-top: 1px solid #131313;
}
.pt_forms .form-group input[type=text]:focus, .pt_forms .form-group input[type=email]:focus, .pt_forms .form-group input[type=password]:focus, .pt_forms .form-group select:focus, .pt_forms .form-group textarea:focus {
    border-color: #007bb3 !important;
}
.content {
    background: #212121;
    box-shadow: 0 1px 0 0 #212121, 0 0 0 1px #212121;
}
.pt_history .video-wrapper>div {
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.1);
}
.import-form-content {
    border-top: 1px solid #4a4a4a;
}
.messages-sidebar .search-box {
    background-color: #212121;
    border-bottom: 1px solid #444444;
}
.profile-container .pt_chnl_info, .profile-container .links-container {
    background: #212121;
}
body .subs-amount {
    background: #696969 !important;
}
.btn-subscribe:before, .btn-subscribed:before {
    border-right-color: #696969;
}
.profile-container .pt_chnl_info .avatar-container {
    border: 1px solid #212121;
}
.pt_about{
	color: #e1e1e1;
}
.publisher-element {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
}
.pt_blogcomm_combo img, .user-comments .main-comment .user-avatar img {
	border: none !important;
}
.player-video .video-processing div {
	background: #000;
}