<div class="container-fluid">
            <!-- Changelogs -->
            <div class="block-header">
                <h2>CHANGELOGS</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.3.1 <small>01/12/2018</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>[Added] Subscribers will get notified if channel added a new video.</li>
                                <li>[Added] Messaging system (Websockets / Ajax).</li>
                                <li>[Added] Import from specific YouTube channel.</li>
                                <li>[Added] API documentation.</li>
                                <li>[Added] nginx support.</li>
                                <li>Fixed few bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.3 <small>01/04/2018</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added notifications system (likes, dislikes, comments, new subscriber).</li>
                                <li>Added report video system.</li>
                                <li>Added load more button to sidebar.</li>
                                <li>Added the ability for video owner to delete comments on his video.</li>
                                <li>Added pin comments system.</li>
                                <li>Added FFMPEG system, for video conversation, and auto thumbnail detection.</li>
                                <li>Added comment "by top" storing.</li>
                                <li>Added IP field on users table.</li>
                                <li>Added drag & drop for video upload.</li>
                                <li>Added night mode.</li>
                                <li>Added languages to admin panel.</li>
                                <li>Added contact us form.</li>
                                <li>Fixed few bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.2.1 <small>12/01/2017</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added full API system for the upcoming native android app.</li>
                                <li>Added verification system.</li>
                                <li>Added announcement system.</li>
                                <li>Added ban user by IP to admin panel.</li>
                                <li>Added custom JavaScript/CSS to admin panel.</li>
                                <li>Added mp4 links support in import video tab</li>
                                <li>Added share to wowonder button to watch page.</li>
                                <li>Fixed few important bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.2 <small>11/15/2017</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added watch later system.</li>
                                <li>Added Full Ads system (User End), advertiser + Publisher (Monetization).</li>
                                <li>Added blog system + comments + like / dislikes.</li>
                                <li>Added Pro System (free | paid memeber).</li>
                                <li>Added Amazon S3 support.</li>
                                <li>Added dislike function to comment system.</li>
                                <li>Added reply to comment system.</li>
                                <li>Added backup system.</li>
                                <li>Added RSS feed for videos.</li>
                                <li>Added max allowed upload size.</li>
                                <li>Added custom fields.</li>
                                <li>Fixed 5+ bugs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.1 <small>17/10/2017</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added playlists system</li>
                                <li>Fixed important bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0</h2>
                        </div>
                        <div class="body">
                            Version 1.0 released on 10th October 2017.
                        </div>
                    </div>
                </div>
            </div>
        </div>