<div class="col-md-2 no-padding-right">
	<div class="video-latest-list user-wrapper" data-id="{{ID}}">
		<div class="video-thumb">
			<a href="{{USER url}}">
				<img src="{{USER avatar}}" alt="{{USER name}}">
			</a>
		</div>
		<div class="video-title">
			<a href="{{USER url}}"><h4>{{USER name}}</h4></a>
		</div>
	</div>
</div>