.user-ads-list-container .user-ads-list-header span.create-ad-btn {float: left;}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
.announcement-renderer {
	left: auto;
	right: 30px;
}
.pull-right {
    float: left !important;
}
.pull-left {
    float: right !important;
}
.articles-content .pt_article_h_list .video-thumb {
	margin: 0 0 20px 24px;
}
.article-categories div form input {
	padding-right: 12px;
	padding-left: 40px;
}
.article-categories div form div button {
	right: auto;
	left: 0;
}
.postFooter .u-floatLeft svg.feather {
	transform: rotate(180deg);
}
.popular-articles-wrapper .video-thumb img {
	margin-right: 0;
	margin-left: 15px;
}
.pt_blogcomm_combo img, .user-comments .main-comment .user-avatar {
	margin-left: 10px;
	margin-right: 0px;
}
.pt_blogcomm_combo button {
	margin-left: 0px;
	margin-right: 10px;
}
.read-article-container .read-article-meta span.pull-right svg.feather {
	margin: -3px 15px 0 0;
}
.user-setting-panel {
	padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-container .footer-links ul {
	padding: 0;
}
.pt_foot_lang li svg.feather {
	margin: 0 0 0 3px;
}
.nav.navbar-nav.navbar-right .dropdown.profile-nav ul {
    right: auto !important;
    left: 0;
}
.headtoppoint {
	left: auto;
    margin-left: 0;
	right: 100%;
    margin-right: -35px;
}
.dropdown-menu.ani-acc-menu svg.feather {
	    margin: -2px 1px 0px 8px !important;
}
nav.navbar-findcond .search-header input:focus {
	margin-right:0;
}
.navbar-default.second-header-layout .navbar-nav > li {
	margin-right: 0px;
	margin-left: 10px;
}
header .upload-button {
	margin-right: 0px;
	margin-left: 10px;
}
.pt_history .video-wrapper .video-info > div.video-actions {
	float:left;
}
.pt_history .video-wrapper .video-info > div {
    padding-right: 0px;
	padding-left: 50px;
}
.pt_featured_video .thumbnail_holder img {
	right: 50%;
    left: auto;
    transform: translate(50%, -50%);
}
.pt_featured_video:hover .thumbnail_holder img {
    transform: scale(1.1) translate(45.3%, -45%);
}
.pt_featured_video .video-player .video-big-title {
	margin-right: 0px;
	margin-left: 30px;
}
.publisher-element .publisher-avatar {
	margin-right: 0px;
	margin-left: 8px;
}
.pt_featured_video .video-title .video_info .video-likes svg.feather-thumbs-down {
	margin-left:0px !important;
	margin-right: 10px;
}
.pt_featured_video h4 {
	left: auto;
	right: 15px;
}
.home-page-categories .title h4 span {
	float: left;
}
.home-page-categories .title h4 span.view_more_link a svg.feather {
	transform: rotate(180deg);
}
.home-page-categories .videos .video-list .video-list-by span {
	display: inline-block;
}
.fixed-action-btn {
	right: auto;
	left: 35px;
}
.pt_import_vdo .col-md-9 {
	padding-right: 15px;
	padding-left: 0;
}
.pt_import_vdo .col-md-3 {
	padding-left: 15px;
	padding-right: 0;
}
.pt_import_vdo .col-md-9 input {
	padding: 0 50px 0 10px;
	border-radius: 0 29px 29px 0;
}
.pt_import_vdo .col-md-9 svg.feather {
	left: auto;
	right: 25px;
}
.pt_import_vdo .col-md-3 button {
	border-radius: 29px 0 0 29px;
}
.w-100 {
    width: 100%;
}
.video-actions {
	float: left;
}
.no-padding-right {
    padding-left: 0;
}
.no-padding-left {
    padding-right: 0;
}
.pt_msg_main {
    box-shadow: inset -6px 0 6px -3px rgba(0, 0, 0, 0.1);
}
#new-message-form #send-button {
	margin-left: 0px;
	margin-right: 10px;
}
#new-message-form #send-button svg{
	transform: rotate(180deg);
}
.messages-sidebar ul li a .user-avatar {
	float: right;
	margin: 0 5px 0 15px
}
.messages-sidebar .search-box input {
	padding-left: 12px;
	padding-right: 30px;
}
.user-messages .messages .message .user-message {
	margin-left: 0px;
	margin-right: 40px;
}
.user-messages .messages .message .user-avatar {
	float: right;
}
.play-lists div.video-latest-list div.play-lists-count {
	right: auto;
	left: 0;
}
.ddown-menu div.dropdown ul.dropdown-menu {
	right: auto;
	left: 0;
}
.settings-sidebar ul li a svg.feather {
	margin: -3px -2px 0 2px;
}
.author-list .video-wrapper .author-info .author-img {
    margin-right: 0px;
	margin-left: 5px;
}
.profile-container .pt_chnl_info .subscribe-btn-container, .publisher-element .publisher-subscribe-button {
	margin-left: 0px;
	margin-right: auto;
}
.btn-subscribe:before, .btn-subscribed:before {
	left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 4px;
    transform: rotate(180deg);
}
.subs-amount {
	margin-left: 0;
	margin-right: 6.5px;
}
.profile-container .pt_chnl_info .avatar-container {
	margin-right: 0;
	margin-left: 15px;
}
.profile-container .links-container ul {
	padding: 0;
}
.video-duration {
	right: auto;
	left: 5px;
}
.videos-list .pt_video_side_vids .video-thumb {
	margin-right: 0px;
	margin-left: 10px;
}
.checkbox label::before {
	left: auto;
	right: 0;
}
.pt_foot_lang .pt_language_select {
	left: 0;
    right: auto;
}
.pt_language_select:before {
    right: auto;
	left: 30px;
}
.video-latest-list .video-info span {
	display: inline-block;
}






@media (min-width: 992px){
.col-md-4 {
   padding-right: 15px;
}
}

@media (max-width: 992px){
.pt_import_vdo .col-md-9 {
    padding-right: 15px;
    padding-left: 15px;
}
.pt_import_vdo .col-md-3 {
    padding-right: 15px;
    padding-left: 15px;
}
.pt_import_vdo .col-md-9 input {
    border-radius: 10px 10px 0 0;
}
.pt_import_vdo .col-md-3 button {
    border-radius: 0 0 10px 10px;
}
.video-actions {float:none;margin-bottom: 5px;} 
}

@media (max-width: 990px){
.no-padding-left {
    padding-right: 15px !important;
}
.no-padding-right {
    padding-left: 15px !important;
}
.mobileleftpane {
    padding: 0 !important;
}
.video-player-page .no-padding-left {
    padding-right: 0 !important;
}
}

@media (max-width: 650px){
.profile-container .pt_chnl_info .avatar-container {
    margin: 0 auto 20px;
    width: 90px !important;
}
}

@media (max-width: 460px) {
.home-page-categories .row {
    margin-left: -10px;
}
}

@media (max-width: 460px) {
.read-article-container .read-article-meta span {
	display: inline-block;
}	
}