<?php 
$page = (!empty($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? PT_Secure($_GET['query']) : '';
$filter_type    = '';
$db->pageLimit  = 50;
$type           = 'all';

if (!empty($_GET['type']) && $_GET['type'] == 'free') {
    $filter_type = " `is_pro` = 0  AND ";
    $type        = "free";
}

elseif (!empty($_GET['type']) && $_GET['type'] == 'pro') {
    $filter_type = " `is_pro` = 1 AND ";
    $type        = "pro";
}

if (!empty($filter_keyword)) {
    $sql   = " {$filter_type} (username LIKE '%$filter_keyword%' OR email LIKE '%$filter_keyword%' OR id = '$filter_keyword' OR first_name LIKE '%$filter_keyword%' OR last_name LIKE '%$filter_keyword%') ";
	$users = $db->where($sql)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_USERS, $page);
} 

else {
    
    if ($type == 'free') {
        $db->where('is_pro',0);
    }

    else if($type == 'pro'){
        $db->where('is_pro',1);
    }

	$users = $db->objectbuilder()->orderBy('id', 'DESC')->paginate(T_USERS, $page);
}

if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
	header("Location: " . PT_LoadAdminLinkSettings('manage-users'));
	exit();
}
?>
<div class="container-fluid">
    <div class="block-header">
        <h2>Users > Manage Users</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage & Edit Users</h2>
                </div>
                <div class="body">
                   <div class="row">
                       <div class="col-md-6" style="margin-bottom:0;">
                            <form method="get" action="<?php echo PT_LoadAdminLinkSettings('manage-users'); ?>">
                              <div class="row">
                              	<div class="col-md-8">
	                              	<div class="form-group form-float">
	                                    <div class="form-line">
	                                        <input type="text" name="query" id="query" class="form-control">
	                                        <label class="form-label search-form">Search for ID, Keyword, E-mail, Username, First Name, Last Name</label>
	                                    </div>
	                                </div>
	                              </div>
                                  <div class="col-lg-3 col-md-3">
                                        <select class="form-control show-tick" name="type">
                                            <option value="all" <?php echo ($type == 'all') ? 'selected' : '' ?>>All Members</option>
                                            <option value="free" <?php echo ($type == 'free') ? 'selected' : '' ?>>Free Members</option>
                                            <option value="pro" <?php echo ($type == 'pro') ? 'selected' : '' ?>>Pro Members</option>
                                        </select>
                                    </div>
	                              <div class="col-md-1">
	                              	 <button class="btn btn-info">Search</button>
	                              </div>
                              </div>

                              <div class="clearfix"></div>
                           </form>
                       </div>
                   </div>
                   <div class="clearfix"></div>
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                      <th>ID</th>
					                  <th>Username</th>
					                  <th>E-mail</th>
					                  <th>Status</th>
					                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                foreach ($users as $key => $user) {
                                	$user = PT_UserData($user, array('data' => 1));
                                	$status = ($user->active == 1) ? '<span class="label label-success">Active</span>' : '<span class="label label-danger">Pending</span>';
                                	echo PT_LoadAdminPage('manage-users/list', array('USER_DATA' => $user, 'SETTINGS_LINK' => PT_Link('settings/general/' . $user->username), 'STATUS' => $status));
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-left">
                    	<?php echo "Showing $page out of " . $db->totalPages; ?>
                    </div>
                    <div class="pull-right">
                    	<nav>
                            <ul class="pagination">
                            	<li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-users?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                        <i class="material-icons">first_page</i>
                                    </a>
                                </li>
                                <?php if ($page > 1) {  ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-users?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                                <?php  } ?>
                                <?php 
                                $nums = 0;
                                $nums_pages = ($page > 4) ? ($page - 4) : $page;
                                for ($i=$nums_pages; $i <= $db->totalPages; $i++) { 
                                	if ($nums < 20) {
                                	?>
                                	<li class="<?php echo ($page == $i) ? 'active' : ''; ?>"><a href="<?php echo PT_LoadAdminLinkSettings('manage-users?page-id=' . ($i)); ?>" class="waves-effect"><?php echo $i ?></a></li>
                                	<?php
                                	}
                                	$nums++;
                                }
                                ?>
                                <?php if ($db->totalPages > $page) { ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-users?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                                <?php } ?>
                                <li>
                                    <a href="<?php echo PT_LoadAdminLinkSettings('manage-users?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                        <i class="material-icons">last_page</i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- #END# Vertical Layout -->
<div id="delete-modal" class="modal fade" role="dialog" data-id="">
  <div class="modal-dialog">
    <div class="modal-content modal-col-red">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DELETE USER</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue? this action can't be undo</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-link waves-effect delete-button" data-dismiss="modal" data-type="user-ad">DELETE</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function () {
	$('.delete-content').on('click', function(event) {
		event.preventDefault();
		$('#delete-modal').attr('data-id', $(this).attr('data-id')).modal('show');
	});
});
</script>