<tr id="list-{{USER id}}">
  <td>{{USER id}}</td>
  <td><a href="{{USER url}}"><img src="{{USER avatar}}" class="td-avatar" alt="user avatar"> {{USER username}}</a></td>
  <td>{{USER email}}</td>
  <td>{{STATUS}}</td>
  <td>
  	<a class="btn bg-cyan waves-effect waves-light" href="{{SETTINGS_LINK}}" target="_blank">EDIT</a>
  	<button class="btn btn-danger waves-effect waves-light delete-content" data-id="{{USER id}}">DELETE</button>
  </td>
</tr>