<div class="container-fluid">
            <!-- Changelogs -->
            <div class="block-header">
                <h2>CHANGELOGS</h2>
            </div>
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.1 <small>17/10/2017</small></h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added playlists system</li>
                                <li>Fixed important bugs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0</h2>
                        </div>
                        <div class="body">
                            Version 1.0 released on 10th October 2017.
                        </div>
                    </div>
                </div>
            </div>
        </div>