<div class="add-topl-cont">
	<h4><i class='fa fa-th-list'></i> {{LANG add_to}}</h4>
	<?php foreach ($pt->user_list as $list): ?>
		<div class="playlist-item" id="<?php echo  $list->list_id?>">
			<span class="list-name">
				<?php if ($list->privacy  == 0): ?>
					<i class="fa fa-fw fa-lock secure-color"></i>
				<?php else: ?>
					<i class="fa fa-fw fa-globe"></i>
				<?php endif; ?>
				<?php echo  $list->name?>
			</span>
			<span class="pull-right" id="<?php echo  $list->list_id?>"  onclick="PT_PLVToggle('<?php echo $pt->video_id; ?>',this);">
				<?php if ($list->exists): ?>
					<button class="btn btn-sm btn-default">
						<i class="fa fa-check-square-o"></i>
					</button> 
				<?php else: ?>
					<button class="btn btn-sm  btn-default">
						<i class="fa fa-square-o"></i> 
					</button> 
				<?php endif;?>	
			</span>
		</div>
	<?php endforeach; ?>
</div>


