<div class="top-video video-player-page six_padding_15" id="padding_15">
	<div class="row">
		<div class="play-list-player">
			<div class="col-md-8 player-video no-padding-right yp_pub_elemnt">
				<div class="publisher-element pull-left">
					<div class="publisher-avatar pull-left hide-in-mobile-720">
						<a href="{{USER url}}"><img src="{{USER avatar}}" alt="{{USER name}}"></a>
					</div>
					<div class="publisher-name">
						<a href="{{USER url}}">{{USER name_v}}</a>
						<span title="{{LANG published_on}} {{TIME}}">{{TIME}}</span>
					</div>
					<div class="publisher-subscribe-button">{{SUBSCIBE_BUTTON}}</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			
				<div class="video-player {{USR_AD_TRANS}}">
				<?php if ($pt->video_approved == true) { ?>
				<?php if ($pt->get_video->age == false) { ?> 
				<?php if ($pt->video_type == 'public') { ?> 
					<?php if (!empty($pt->config->watermark)) { ?>
						<div class="watermark">
							<a href="{{CONFIG site_url}}"><img src="{{CONFIG watermark}}" alt='watermark logo'></a>
						</div>
					<?php } ?>
					<?php if ($pt->converted === true): ?>
						<?php if (!empty($pt->get_video->facebook)) {?>
							<div class="fb-video" data-href="https://www.facebook.com/<?php echo urldecode($pt->get_video->facebook) ?>" data-width="500" data-show-text="false"></div>
						<?php } else if (!empty($pt->get_video->vimeo)) {?>
							<div class="pt_vdo_plyr"><div class="embed-responsive embed-responsive-16by9"><iframe src="https://player.vimeo.com/video/{{VIDEO_ID}}?api=1;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>
						<?php } else if (!empty($pt->get_video->daily)) { ?>
							<div class="pt_vdo_plyr"><div class="embed-responsive embed-responsive-16by9"><iframe width="100%" src="//www.dailymotion.com/embed/video/{{VIDEO_ID}}?PARAMS" allowfullscreen></iframe></div></div>
						<?php } else { ?>
							<video id="my-video" controls <?php if (empty($pt->ad_image)) { ?> autoplay <?php } ?> style="width:100%; height:100%;" poster="{{THUMBNAIL}}" >
								<?php if (!empty($pt->video_4096)) { ?>
									<source src="{{VIDEO_LOCATION_4096}}" type="{{VIDEO_TYPE}}" data-quality="4K">
								<?php } ?>
								<?php if (!empty($pt->video_2048)) { ?>
									<source src="{{VIDEO_LOCATION_2048}}" type="{{VIDEO_TYPE}}" data-quality="2K">
								<?php } ?>
								<?php if (!empty($pt->video_1080)) { ?>
									<source src="{{VIDEO_LOCATION_1080}}" type="{{VIDEO_TYPE}}" data-quality="1080p">
								<?php } ?>
								<?php if (!empty($pt->video_720)) { ?>
									<source src="{{VIDEO_LOCATION_720}}" type="{{VIDEO_TYPE}}" data-quality="720p">
								<?php } ?>
								<?php if (!empty($pt->video_480)) { ?>
									<source src="{{VIDEO_LOCATION_480}}" type="{{VIDEO_TYPE}}" data-quality="480p">
								<?php } ?>
								<?php if (!empty($pt->video_360)) { ?>
									<source src="{{VIDEO_LOCATION_360}}" type="{{VIDEO_TYPE}}" data-quality="360p">
								<?php } ?>
								<?php if (!empty($pt->video_240)) { ?>
									<source src="{{VIDEO_LOCATION_240}}" type="{{VIDEO_TYPE}}" data-quality="240p">
								<?php } ?>
								<?php if (!empty($pt->get_video->youtube) || (!empty($pt->get_video->video_location) && empty($pt->video_360))) { ?>
									<source src="{{VIDEO_LOCATION}}" type="{{VIDEO_TYPE}}" data-quality="360p">
								<?php } ?>
								Your browser does not support HTML5 video.
								<!-- //src="http://www.youtube.com/watch?v=nOEw9iiopwI" type="video/youtube" -->
							</video>
							<?php if (!empty($pt->ad_image)) { ?>
								<a href="{{AD_P_LINK}}" class="ad-link" target="_blank">
									<div class="ad-image">
										<div class="ads-test"><i class="fa fa-bullhorn"></i> Advertisement will close in <span class="timer">(<span>{{AD_SKIP_NUM}}</span>)</span></div>
										<img src="{{AD_IMAGE}}" alt="Ads">
									</div>
								</a>
							<?php } ?>
							<?php if ($pt->config->resize_video == 'on') { ?>
								<div class="icons hidden">
									<span class="expend-player"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10,21V19H6.41L10.91,14.5L9.5,13.09L5,17.59V14H3V21H10M14.5,10.91L19,6.41V10H21V3H14V5H17.59L13.09,9.5L14.5,10.91Z" /></svg></span>
								</div>
							<?php } ?>
						<?php } ?>
						{{USER_ADS_DESC_OVERLAY}}
					<?php else: ?>
					<div class="video-processing">
						<img src="{{THUMBNAIL}}" alt="" style="width: 100%;">
						<div>
							<h5>
								<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-loader spin spin-svg"><path d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" /></svg></p>
								<?php if (!empty($pt->video_owner)): ?>
								{{LANG ur_video_porcessing}}
								<?php else: ?>
								{{LANG this_video_porcessing}}
								<?php endif; ?>
							</h5>
						</div>
					</div>
					<?php endif; ?>  
					<?php } else { ?>
					<div class="video-processing">
						<img src="{{THUMBNAIL}}" alt="" style="width: 100%;">
						<div>
							<h5>
								<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></p>
								{{LANG video_private_text}}
							</h5>
						</div>
					</div>
					<?php } ?>  
					<?php } else { ?>
					<div class="video-processing">
						<img src="{{THUMBNAIL}}" alt="" style="width: 100%;">
						<div>
							<h5>
								<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="18" y1="8" x2="23" y2="13"></line><line x1="23" y1="8" x2="18" y2="13"></line></svg></p>
								{{LANG age_restrict_text}}
								<?php if (!IS_LOGGED) { ?>
								<br><br>
								<p>{{LANG age_restrcit_text_2}}</p>
								<?php } ?>
							</h5>
						</div>
					</div>
					<?php } ?>
					<?php } else { ?>
					<div class="video-processing">
						<img src="{{THUMBNAIL}}" alt="" style="width: 100%;">
						<div>
							<h5>
								<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></p>
								{{LANG video_approve_text}}
							</h5>
						</div>
					</div>
					<?php } ?>
				</div>
				<div class="clear"></div>
			</div>
			<div class="col-md-4 no-padding-left pull-right  play-list-cont-wrapper col-xs-12">
            <div class="content play-list-container">
               <div class="next-video">
                  <div class="next-text pull-left" >
                     <h4 style="color: #f2f2f2; font-size: 14px; margin-bottom: 0px">
                        <i class="fa fa-play fa-fw" aria-hidden="true"></i> {{LANG watch_later}} - {{USER name}}
                     </h4>
                  </div>
                  <div class="checkbox checkbox-info pull-right" style="color: #f2f2f2; font-size: 14px;">
                     {{VID_INDEX}} / {{LIST_COUNT}}
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="videos-list play-list-cont" id="next-video">{{LIST_SIDEBAR}}</div>
            </div>
         </div>
			<div class="clear"></div>
		</div>
		
		<div class="col-md-8 ">
            <div class="content pt_shadow">
                <div class="video-title pt_video_info">
                    <input type="hidden" value="{{ID}}" id="video-id">
                    <div class="video-big-title">
                        <h1 itemprop="title">{{TITLE}} 
							<?php if ($pt->get_video->privacy == 1) { ?> <span class="private-text">{{LANG private}}</span><?php } ?>
							<?php if ($pt->get_video->privacy == 2) { ?> <span class="private-text">{{LANG unlisted}}</span><?php } ?>
						</h1>
                    </div>

					<div>
						<div class="video-likes pull-right">
                            <div class="like-btn {{LIKE_ACTIVE_CLASS}}" id="likes-bar" onclick="Wo_LikeSystem('{{ID}}', 'like', this, 'is_ajax')" data-likes="{{RAEL_LIKES}}" {{ISLIKED}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="thumbs_up"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z" /></svg> <span class="likes" id="likes">{{LIKES}}</span>
                            </div>
							<div class="video-info-element pull-right">
								<div class="views-bar" style="width: {{DISLIKES_P}}%"></div>
								<div class="views-bar blue" style="width: {{LIKES_P}}%"></div>
								<div class="clear"></div>
							</div>
                            <div class="like-btn text-right {{DIS_ACTIVE_CLASS}}" id="dislikes-bar" onclick="Wo_LikeSystem('{{ID}}', 'dislike', this, 'is_ajax')" data-likes="{{RAEL_DISLIKES}}" {{ISDISLIKED}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="thumbs_down"><path fill="currentColor" d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z" /></svg> <span class="likes" id="dislikes">{{DISLIKES}}</span>
                            </div>
                            <div class="clear"></div>
						</div>
					</div>
					<div class="video-views">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>&nbsp;{{VIEWS}} {{LANG views}}
					</div>
					
                    <div class="video-options">
                        <button class="btn-share" data-toggle="modal" data-target="#share_box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,11L14,4V8C7,9 4,14 3,19C5.5,15.5 9,13.9 14,13.9V18L21,11Z" /></svg> {{LANG share}}
                        </button>
                        <?php if ($pt->config->embed_system == 'on') {?>
                        <button class="btn-share" data-toggle="modal" data-target="#embed_box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" /></svg> {{LANG embed}}
                        </button>
                        <?php } ?>
						<?php if ($pt->get_video->is_owner == true) { ?>
						<a class="btn btn-share" href="{{LINK edit-video/{{ID}}}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg> {{LANG edit_video}}
						</a> 
						<?php } ?>
						<?php if ($pt->config->download_videos == 'on' && empty($pt->get_video->daily) && empty($pt->get_video->vimeo) && empty($pt->get_video->youtube) && $pt->get_video->converted == 1 && empty($pt->get_video->facebook) && $pt->get_video->age == false && $pt->video_approved == true) { ?>
						<button class="btn-share" data-toggle="modal" data-target="#download_box">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg> {{LANG download}}
						</button>
						<?php } ?>
						<?php if ($pt->get_video->is_owner == false && $pt->config->donate_system == 'on' && !empty($pt->user_data->donation_paypal_email)) { ?>
						<button class="btn-share" onclick="location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business={{USER donation_paypal_email}}&lc=US&item_name=Donation+to+{{USER name}}&no_note=0&cn=&currency_code=USD&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted'">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22,12V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V12A1,1 0 0,1 1,11V8A2,2 0 0,1 3,6H6.17C6.06,5.69 6,5.35 6,5A3,3 0 0,1 9,2C10,2 10.88,2.5 11.43,3.24V3.23L12,4L12.57,3.23V3.24C13.12,2.5 14,2 15,2A3,3 0 0,1 18,5C18,5.35 17.94,5.69 17.83,6H21A2,2 0 0,1 23,8V11A1,1 0 0,1 22,12M4,20H11V12H4V20M20,20V12H13V20H20M9,4A1,1 0 0,0 8,5A1,1 0 0,0 9,6A1,1 0 0,0 10,5A1,1 0 0,0 9,4M15,4A1,1 0 0,0 14,5A1,1 0 0,0 15,6A1,1 0 0,0 16,5A1,1 0 0,0 15,4M3,8V10H11V8H3M13,8V10H21V8H13Z" /></svg> {{LANG donate}}
						</button>
						<?php } ?>
                        <?php if (IS_LOGGED): ?>
							<button class="btn-share" onclick="PT_AddToList('{{ID}}');">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2,16H10V14H2M18,14V10H16V14H12V16H16V20H18V16H22V14M14,6H2V8H14M14,10H2V12H14V10Z" /></svg> {{LANG add_to}}
							</button>
							<?php if ($pt->get_video->is_owner == false) { ?>
							<?php if ($pt->reported === true): ?>
								<button class="btn-share btn-report active" onclick="PT_ReportVideo('{{ID}}',this);" data-rep="0">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
									<span>{{LANG cancel_report}}</span>
								</button>
							<?php else: ?>
								<button class="btn-share btn-report" onclick="PT_ReportVideo('{{ID}}',this);" data-rep="1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z" /></svg>
									<span>{{LANG report}}</span>
								</button>
							<?php endif; ?>
							<?php }  ?>
                        <?php endif; ?>
                    </div>
                    
                    <div class="video-published">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#666" d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z" /></svg> {{LANG in}} <a href="{{LINK videos/category/{{CATEGORY_ID}}}}">{{CATEGORY}}</a>
                    </div>
                    <div class="watch-video-description">
                        <p dir="auto" itemprop="description">{{DESC}}</p>
                    </div>
                    <div class="watch-video-show-more desc">
                        {{LANG show_more}}
                    </div>
                </div>
            </div>
            <div class="ads-placment">{{COMMENT_AD}}</div>
            {{VIDEO_COMMENTS}}
        </div>
		
		
<div class="col-md-4 no-padding-left pull-right">
   <div class="content">
      <div class="ads-placment">{{WATCH_SIDEBAR_AD}}</div>
      <div class="videos-list related-videos">{{VIDEO_SIDEBAR}}</div>
      <div class="load-related-videos">
         <button class="btn btn-default" id="load-related-videos">
         <span>{{LANG load_more}}</span><i class="fa fa-circle-o-notch spin hidden"></i>
         </button>
      </div>
   </div>
</div>
<div class="clear"></div>
</div>
</div>

<div class="modal fade matdialog" id="share_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{LANG share}}</h4>
			</div>
			<div class="modal-body">
				<div class="yp_copy_link">
					<input id="copyLink" readonly="" tabindex="1" type="text" value="{{CONFIG site_url}}/v/<?php echo $pt->get_video->short_id; ?>">
					<button class="btn" onclick="copyLinkfn();"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" /></svg></button>
				</div>
				<div class="share-video">
					<div><a href="#" class="fa fa-facebook" onclick="OpenShareWindow('https://www.facebook.com/sharer/sharer.php?u={{ENCODED_URL}}')"></a></div>
					<div><a href="#" class="fa fa-twitter" onclick="OpenShareWindow('https://twitter.com/home?status={{ENCODED_URL}}')"></a></div>
					<div><a href="#" class="fa fa-google" onclick="OpenShareWindow('https://plus.google.com/share?url={{ENCODED_URL}}')"></a></div>
					<div><a href="#" class="fa fa-linkedin" onclick="OpenShareWindow('https://www.linkedin.com/shareArticle?mini=true&url={{ENCODED_URL}}&title={{TITLE}}')"></a></div>
					<div><a href="#" class="fa fa-pinterest" onclick="OpenShareWindow('https://pinterest.com/pin/create/button/?url={{ENCODED_URL}}&media={{THUMBNAIL}}')"></a></div>
					<!--<div><a href="#" class="fa fa-tumblr" onclick="OpenShareWindow('http://www.tumblr.com/share/link?url={{ENCODED_URL}}')"></a></div>-->
					<div><a href="#" class="fa fa-reddit" onclick="OpenShareWindow('http://www.reddit.com/submit?url={{ENCODED_URL}}')"></a></div>
					<?php if (!empty($pt->config->wowonder_domain_uri) && $pt->config->wowonder_img) {?> 
						<div><a href="#" class="share-third" onclick="OpenShareWindow('{{CONFIG wowonder_domain_uri}}/sharer?url={{ENCODED_URL}}')"><img src="{{CONFIG wowonder_img}}" alt="share to "></a></div>
					<?php } ?>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="matbtn btn btn-default" data-dismiss="modal">{{LANG close}}</button>
			</div>
		</div>
	</div>
</div>

<?php if ($pt->config->embed_system == 'on') {?>
<div class="modal fade matdialog" id="embed_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{LANG embed}}</h4>
			</div>
			<div class="modal-body">
				<div class="embed-placement">
					<textarea name="embed" id="embed" cols="30" rows="4" onclick="this.select()" class="form-control"><iframe src="{{LINK embed/{{VIDEO_MAIN_ID}}}}" frameborder="0" width="700" height="400" allowfullscreen></iframe></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="matbtn btn btn-default" data-dismiss="modal">{{LANG close}}</button>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<?php if ($pt->config->download_videos == 'on' && empty($pt->get_video->daily) && empty($pt->get_video->vimeo) && empty($pt->get_video->youtube) && $pt->get_video->converted == 1 && $pt->get_video->age == false && $pt->video_approved == true) { ?>
<div class="modal fade matdialog" id="download_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{LANG download}}</h4>
			</div>
			<div class="modal-body">
				<div class="download-placement">
					<?php if (!empty($pt->video_4096)) { ?>
						<a href="{{VIDEO_LOCATION_4096}}" download>4K</a>
					<?php } ?>
					<?php if (!empty($pt->video_2048)) { ?>
						<a href="{{VIDEO_LOCATION_2048}}" download>2K</a>
					<?php } ?>
					<?php if (!empty($pt->video_1080)) { ?>
						<a href="{{VIDEO_LOCATION_1080}}" download>1080p</a>
					<?php } ?>
					<?php if (!empty($pt->video_720)) { ?>
						<a href="{{VIDEO_LOCATION_720}}" download>720p</a>
					<?php } ?>
					<?php if (!empty($pt->video_480)) { ?>
						<a href="{{VIDEO_LOCATION_480}}" download>480p</a>
					<?php } ?>
					<?php if (!empty($pt->video_360)) { ?>
						<a href="{{VIDEO_LOCATION_360}}" download>360p</a>
					<?php } else if (!empty($pt->get_video->video_location)) { ?>
						<a href="{{VIDEO_LOCATION}}" download>{{LANG original}}</a>
					<?php } ?>
					<?php if (!empty($pt->video_240)) { ?>
						<a href="{{VIDEO_LOCATION_240}}" download>240p</a>
					<?php } ?>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="matbtn btn btn-default" data-dismiss="modal">{{LANG close}}</button>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<?php if (!empty($pt->get_video->facebook)) { ?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId={{CONFIG facebook_app_ID}}&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<?php } ?>
<script>
jQuery(document).ready(function($) {
  var width = $('.video-player').width().toString();
  var width = width.substring(0, width.lastIndexOf("."));
  $('.fb-video').attr('data-width', width);
  $('.rad-transaction').click(function(event) {
    $(this).off("click").removeClass('rad-transaction');
    $.get('{{LINK aj/ads/rad-transaction}}', function(data){ /* pass */ });
  });
  
  $("#load-related-videos").click(function(event) {
    let id = 0;
    if ($("div[data-sidebar-video]").length > 0) {
      id = $("div[data-sidebar-video]").last().attr('data-sidebar-video');
    }

    $("#load-related-videos").find('i.spin').removeClass('hidden');

    $.ajax({
      url: '{{LINK aj/load-related-videos}}',
      type: 'GET',
      dataType: 'json',
      data: {id: id,video_id:'{{ID}}'},
    })
    .done(function(data) {
      if (data.status == 200) {
        $(".related-videos").append(data.html);
      }
      else{
        $("#load-related-videos").find('span').text('{{LANG no_more_videos}}');
      }
      $("#load-related-videos").find('i.spin').addClass('hidden');

    });
  });
});
$('.ad-link').on('click', function(event) {
  $('.ad-link').remove();
  $('#my-video')[0].play();
});
<?php if (!empty($pt->ad_image)) { ?>
var counter = {{AD_SKIP_NUM}};
var interval = setInterval(function() {
    counter--;
    $('.timer span').text(counter);
    if (counter == 0) {
        $('.ad-link').remove();
        $('#my-video')[0].play();
        clearInterval(interval);
    }
}, 1000);
<?php } ?>
$('#autoplay').on('change', function(event) {
  event.preventDefault();
  checked = 1;
  if($(this).is(":checked")) {
    checked = 2;
  }
  $.post('{{LINK aj/set-cookies}}', {name: 'autoplay', value: checked});
});
$('.ads-test').on('click', function(event) {
  $(this).remove();
});


$(function () {
   
   $(".play-list-cont-wrapper").height(($(".player-video").height()));
   $(window).resize(function(event) {
    $(".play-list-cont-wrapper").height(($(".player-video").height()));
   });

   if ($('[data-litsitem-id]').length > 4) {
      var listItemtopPos = $("div[data-litsitem-id=<?php echo $pt->get_id; ?>]").offset();
      $('.play-list-cont').scrollTop((listItemtopPos.top - 170));
   }

   $('#save-button').on('click', function(event) {
      event.preventDefault();
      var logged = $('#main-container').attr('data-logged');
      if (!logged) {
         window.location.href = "{{LINK login?to=<?php echo $pt->actual_link;?>}}";
         return false;
      }
      var video_id = $('#video-id').val();
      if ($(this).attr('saved')) {
         $(this).html('<i class="fa fa-floppy-o fa-fw"></i> {{LANG save}}');
         $(this).removeAttr('saved');
      } else {
         $(this).html('<i class="fa fa-check fa-fw"></i> {{LANG saved}}');
         $(this).attr('saved', 'true');
      }
      $.post('{{LINK aj/save-video}}', {video_id: video_id});
   });
   $('.desc').on('click', function(event) {
      event.preventDefault();
      if ($(this).hasClass('expended')) {
        $('.watch-video-description').css({
           'max-height': '100px',
           'height': '100px',
           'overflow': 'hidden'
        });
        $(this).removeClass('expended');
        $(this).text("{{LANG show_more}}");
      } else {
        $('.watch-video-description').css({
           'max-height': '4000px',
           'height': 'auto',
           'overflow': 'auto'
        });
        $(this).addClass('expended');
        $(this).text("{{LANG show_less}}");
      }
   });

   <?php if (!empty($pt->get_video->youtube)) { ?>
   setTimeout(function () {
     $('iframe').css({ width: '100%', height: '100%'});
   }, 2000);
   <?php } ?>
   $('video').mediaelementplayer({
      // Do not forget to put a final slash (/)
      pluginPath: 'https://cdnjs.com/libraries/mediaelement-plugins/',
      // this will allow the CDN to use Flash without restrictions
      // (by default, this is set as `sameDomain`)
      shimScriptAccess: 'always',
      autoplay: true,
      features: ['playpause', 'current', 'progress', 'duration', 'speed', 'skipback', 'jumpforward', 'tracks', 'markers', 'volume', 'chromecast', 'contextmenu', 'flash' <?php echo ($pt->config->ffmpeg_system == 'on' && empty($pt->get_video->youtube)) ? ", 'quality'" : ''?> {{ADS}} {{VAT}}, 'fullscreen'],
      vastAdTagUrl: '{{VAST_URL}}',
      vastAdsType: '{{VAST_TYPE}}',
      jumpForwardInterval: 20,
      adsPrerollMediaUrl: [{{AD_MEDIA}}],
      adsPrerollAdUrl: [{{AD_LINK}}],
      adsPrerollAdEnableSkip: {{AD_SKIP}},
      adsPrerollAdSkipSeconds: {{AD_SKIP_NUM}},
      success: function (media) {
         $(".play-list-cont-wrapper").height(($(".video-player").height()));
         $('.mejs__ads').append('<div class="ads-test"><i class="fa fa-bullhorn"></i> Advertisement</div>');
         media.addEventListener('ended', function (e) {
            if ($('#autoplay').is(":checked")) {
               var url = $('#next-video').find('.video-title').find('a').attr('href');
               if (url) {
                  window.location.href = url;
               }
            }
            else if ($('[data-litsitem-id]').length > 0){
              var url = $('#next-video').find('[data-litsitem-id="{{KEY}}"]').next().find('a').attr('href');
              if (url) {
                window.location.href = url;
              }
            }
            else{
              //pass
            }
          }, false);
      },
   });
});

</script>
<style>
.mejs__offscreen {
  clip: initial !important;
  clip-path: inherit !important;
  -webkit-clip-path: inherit !important;
  opacity: 0;
}
</style>
