@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import "https://fonts.googleapis.com/css?family=Roboto";
.login-page .login-form input[type=text], .login-page .login-form input[type=password] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page .login-form select, .login-page .login-form input[type=submit] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }

.mejs-qualities-selected, .mejs__qualities-selected { color: #04abf2 !important; }

.alert.alert-danger { color: #eee !important; background: #dc3545 !important; border-color: #dc3545 !important; }

.alert.alert-success { color: #eee !important; background: #28a745 !important; border-color: #28a745 !important; }

.videos-list .video-wrapper .video-views, .videos-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 11px; }

.user-setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel textarea { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }

.author-list .video-wrapper .video-views, .author-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 12px; }

.setting-panel.no-padding textarea, .setting-panel textarea { box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; color: #666 !important; font-size: 13px; }
.setting-panel.no-padding select, .setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.setting-panel input[type='text'], .setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.setting-panel .btn-main, .setting-panel .btn-delete { height: 30px !important; font-size: 13px; min-width: 100px !important; }

.login-page { margin-top: 250px; width: 20%; padding-top: 0; }
.login-page .login-form input[type=text] option, .login-page .login-form input[type=password] option { color: #333; }
.login-page .login-form input[type=text]:focus, .login-page .login-form input[type=password]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form select option { color: #333; }
.login-page .login-form select:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=submit] { background: #fff !important; margin-top: 10px; border: 0; }
.login-page .login-form input[type=submit] option { color: #333; }
.login-page .login-form input[type=submit]:focus { border: 1px solid #fcfcfc; outline: none; border: 0; }
.login-page h4 { color: #fff; font-size: 46px; text-align: center; margin-bottom: 50px; font-family: Lato, sans-serif; }
.login-page .errors { background: #fff; width: 100%; padding: 10px; margin: 0 auto; margin-bottom: 10px; border-radius: 3px; color: #e62117; }
.login-page .errors:empty { padding: 0; margin: 0; }
.login-page .errors.success { color: #04abf2 !important; }
.login-page .login-icons div { margin-left: 5px; padding: 1px; border-radius: 6px; width: 25px; font-size: 22px; text-align: center; height: 25px; line-height: 1.1; background: #fff !important; color: #04abf2; }
.login-page .login-icons .facebook-icon a { color: #2d4373; }
.login-page .login-icons .google-icon a { color: #c23321; }
.login-page .login-icons .twitter-icon a { color: #2795e9; }
.login-page .recaptcha { text-align: center; margin: 0 auto; }

.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel textarea { height: 100px !important; color: #666 !important; font-size: 13px; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }

.setting-panel { margin-top: 20px; }
.setting-panel.no-padding { padding: 0 !important; margin-top: 20px; }
.setting-panel.no-padding label { font-weight: 100; margin-top: 3px; }
.setting-panel label { font-weight: 100; margin-top: 3px; }

body { background: #fcfcfc; background-size: cover; font-family: Roboto, sans-serif !important; margin: 0; padding: 0; height: 100%; min-height: 100%; }

/*.content,body,header{ background: #202020 !important; color: #fff !important; border-color: #202020 !important; box-shadow: none !important;
}

*{ color: #fff !important;
}
*/
.dropdown-menu { animation-name: slidenavAnimation; animation-duration: .1s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards; }
.dropdown-menu a { color: #444; font-size: 13px !important; }
.dropdown-menu a i { color: #04abf2; }
.dropdown-menu a:hover { color: #fff !important; }
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #333 !important; }

.video-latest-list { height: 300px; overflow: hidden; }
.video-latest-list .video-title { margin-top: 10px; font-size: 16px; color: #04abf2; max-height: 43px; overflow: hidden; }
.video-latest-list .video-thumb { width: 100%; position: relative; }
.video-latest-list .video-thumb img { width: 100%; }
.video-latest-list .video-thumb:hover { opacity: 0.8; }
.video-latest-list .video-thumb .video-duration { position: absolute; bottom: 2px; right: 2px; color: #fff; background-color: rgba(0, 0, 0, 0.4); font-size: 11px; padding: 1px; border-radius: 2px; padding-left: 3px; padding-right: 3px; }
.video-latest-list .video-info { margin-top: 5px; color: #444; font-size: 11px; }
.video-latest-list.video-wrapper { overflow: unset !important; }
.video-latest-list.video-wrapper .video-title a { display: inline-block; height: 3em; overflow: hidden; }

.inline-block { display: inline-block; padding-bottom: 1px; }

.upload-button { color: #d84c47 !important; margin-top: 2px; }

.import-button { color: #2ec0bc !important; margin-top: 2px; }

.navbar-default.second-header-layout { min-height: 30px !important; }
.navbar-default.second-header-layout .navbar-nav a { line-height: 2; }
.navbar-default.second-header-layout .navbar-nav > li > a { padding-top: 5px; padding-bottom: 2px; }
.navbar-default .navbar-nav > .open > a { background-color: #04abf2; border-bottom: 0; }
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: #04abf2; border-bottom: 0; }

.second-header-layout { margin-top: 50px; text-align: center; background: #202020 !important; color: #fff; }
.second-header-layout a { color: #fff !important; }
.second-header-layout li:hover { background: #04abf2; }

.content { background: #fff; width: 100%; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; padding: 10px; margin-bottom: 20px; }

#mep_0 { max-height: 80%; }

.clear { clear: both; }

.ad-image { width: 100%; height: 100%; background-color: #fcfcfc; text-align: center; z-index: 9; line-height: 100%; position: absolute; overflow: hidden; top: 0; }
.ad-image img { text-align: center; max-width: 100%; margin-top: 5%; vertical-align: middle; }

.video-big-title { font-size: 20px; color: #202020; margin-top: 15px; margin-bottom: 10px; }
.video-big-title h1 { font-size: 20px; }
.video-big-title .featured-text { color: green; }
.video-big-title a { color: #202020; text-decoration: none; }

.video-info-element { margin-bottom: 10px; margin-top: 10px; width: 120px; text-align: right; position: relative; }
.video-info-element .video-views { font-size: 18px; color: #555; padding-bottom: 5px; }
.video-info-element .views-bar { width: 80%; text-align: right; position: absolute; right: 0; height: 1px; padding: 1px; background-color: #ccc; color: #333; }
.video-info-element .blue { background-color: #2ec0bc; left: 0; width: 20%; text-align: left; }
.video-info-element .video-likes { margin-top: 10px; font-size: 18px; color: #777; }
.video-info-element .video-likes .like-btn { cursor: pointer; }
.video-info-element .video-likes .like-btn .likes { font-size: 11px; }
.video-info-element .video-likes .like-btn:hover { color: #555; }
.video-info-element .video-likes .like-btn.active { color: #2ec0bc; }

.video-options { padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
.video-options .btn-share { border: 0; color: #555; background: transparent; }
.video-options .btn-share:focus { outline: none; }

.video-published { margin-top: 18px; color: #202020; }
.video-published a { color: #04abf2 !important; }

.watch-video-description { max-height: 100px; overflow: hidden; position: relative; }
.watch-video-description a { color: #04abf2 !important; }
.watch-video-description p { font-size: 12px; color: #777; margin-top: 10px; word-wrap: break; }

.home-page-categories .row { margin-right: 0 !important; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #f3f3f3; }
.home-page-categories .col-md-3:nth-child(1), .home-page-categories .col-md-3:nth-child(2), .home-page-categories .col-md-3:nth-child(3), .home-page-categories .col-md-3:nth-child(4) { padding-right: 0; }
.home-page-categories .title { margin-bottom: 20px; }
.home-page-categories .title h4 { margin-top: 5px; color: #333; font-size: 16px; font-weight: 600; }
.home-page-categories .title h4 span { font-weight: 100; color: #04abf2; font-size: 12px; float: right; }
.home-page-categories .videos .video-list { width: 100%; }
.home-page-categories .videos .video-list img { width: 100%; }
.home-page-categories .videos .video-list .video-list-title { max-width: 100%; word-wrap: break; }
.home-page-categories .videos .video-list .video-list-title h4 { font-size: 16px; color: #04abf2; }
.home-page-categories .videos .video-list .video-list-by { font-size: 11px; margin-top: 3px; color: #777; }
.home-page-categories .videos .video-list .video-list-by a { color: #777; }

.btn-delete { background-color: #c23321; color: #fff; }
.btn-delete:hover, .btn-delete:focus { background-color: #d84c47; color: #fff; }

.btn-main { background-color: #04abf2; color: #fff; }
.btn-main:hover, .btn-main:focus { background-color: #04abf2; color: #fff; }
.btn-main:disabled { background-color: #3dc4ff; color: #fff; }

.fetch-url { margin-top: -8px; }

.publisher-element { margin-bottom: 10px; margin-top: 10px; width: 50%; }
.publisher-element .publisher-avatar { width: 48px; height: 48px; margin-right: 8px; }
.publisher-element .publisher-avatar img { width: 100%; }
.publisher-element .publisher-name a { color: #333; font-weight: 600; }

.btn-subscribe { border: 0; background: #04abf2; padding: 5px; color: #fff; margin-top: 3px; width: 90px; font-size: 11px; outline: none; }
.btn-subscribe:hover { background: #04abf2; }

.btn-subscribed { border: 1px solid #ddd; border-right: 0; background: #f4f4f4; padding: 4px; color: #888; margin-top: 3px; width: 90px; font-size: 11px; outline: none; }
.btn-subscribed:hover { background: #f2f2f2; }

#background { position: absolute; top: 48px; left: 0; right: 0; width: 100%; z-index: -99999; background-color: #000; }

.mobile { display: none; }

.desktop { display: block; }

.subs-amount { border: 1px solid #ddd; font-size: 11px; padding: 5px; background: #f4f4f4; }

.video-player { width: 100%; position: relative; }
.video-player video { width: 100%; }
.video-player .icons { position: absolute; top: 15px; color: #fff; font-size: 20px; right: 7px; }
.video-player .icons span { cursor: pointer; }
.video-player .ads-overlay-info { position: absolute; bottom: 10%; right: 0; left: 0; width: 80%; margin: auto; padding: 15px 15px 10px 15px; background: rgba(6, 4, 4, 0.65); border: 1px solid #252525; color: #fff; z-index: 99999; }
.video-player .ads-overlay-info h4 { padding: 0; margin: 0; font-family: Roboto Condensed, sans-serif; font-size: 20px; font-weight: 600; margin-bottom: 5px; }
.video-player .ads-overlay-info p { padding: 0; margin: 0; font-family: Roboto Condensed, sans-serif; font-size: 16px; line-height: 16px; margin-bottom: 5px; font-weight: 500; color: #fff; }
.video-player .ads-overlay-info div { width: 100%; overflow: hidden; }
.video-player .ads-overlay-info div a { font-family: Verdana, sans-serif; font-size: 15px; color: #e5e45f; float: left; }
.video-player .ads-overlay-info div a i { font-size: 14px; color: #fff; }
.video-player .ads-overlay-info div span { font-family: Verdana, sans-serif; font-size: 15px; color: #fff; float: right; text-transform: capitalize; }
.video-player .ads-overlay-info span.dismiss { right: 10px; top: 10px; position: absolute; }

.new-here { color: #fff; }
.new-here a { color: #fcfcfc; }
.new-here .dec { text-decoration: underline; }

.import-form-content { padding-top: 10px; border-top: 1px solid #f3f3f3; }

.no-padding-right { padding-right: 0; }

.no-padding-left { padding-left: 0; }

.watch-video-show-more { text-align: center; color: #555; padding-top: 10px; border-top: 1px solid #f3f3f3; font-size: 14px; cursor: pointer; }
.watch-video-show-more:hover { color: #04abf2; }

.thumbnail-preview { margin-top: 20px; }
.thumbnail-preview img { width: 100%; }

.bg-bubbles { overflow: hidden; width: 100%; top: 0; bottom: 0; left: 0; right: 0; height: 100%; position: fixed; margin-bottom: 0; z-index: -1; }
.bg-bubbles li { position: absolute; list-style: none; display: block; width: 20px; height: 20px; border-radius: 15px; background-color: rgba(255, 255, 255, 0.15); bottom: -160px; animation: square 15s infinite; transition-timing-function: linear; }
.bg-bubbles li:nth-child(1) { left: 10%; }
.bg-bubbles li:nth-child(2) { left: 20%; width: 80px; height: 80px; animation-delay: 2s; animation-duration: 17s; }
.bg-bubbles li:nth-child(3) { left: 25%; animation-delay: 4s; }
.bg-bubbles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-duration: 22s; background-color: rgba(255, 255, 255, 0.25); }
.bg-bubbles li:nth-child(5) { left: 70%; }
.bg-bubbles li:nth-child(6) { left: 80%; width: 120px; height: 120px; animation-delay: 3s; background-color: rgba(255, 255, 255, 0.2); }
.bg-bubbles li:nth-child(7) { left: 32%; width: 160px; height: 160px; animation-delay: 7s; }
.bg-bubbles li:nth-child(8) { left: 55%; width: 20px; height: 20px; animation-delay: 15s; animation-duration: 40s; }
.bg-bubbles li:nth-child(9) { left: 25%; width: 10px; height: 10px; animation-delay: 2s; animation-duration: 40s; background-color: rgba(255, 255, 255, 0.3); }
.bg-bubbles li:nth-child(10) { left: 90%; width: 160px; height: 160px; animation-delay: 11s; }

.embed-placement { margin-top: 10px; }
.embed-placement textarea { resize: none; }

.delete-comment { color: #666; cursor: pointer; }

.share-third { background-color: #444; }
.share-third img { width: 20px; height: 20px; margin-top: -3px; }

.share-video { margin-top: 10px; }
.share-video .fa, .share-video a { display: inline-block; padding: 10px; font-size: 20px; width: 50px; height: 50px; line-height: 1.5; border-radius: 3px; text-align: center; text-decoration: none; margin: 5px 2px; }
.share-video .fa:hover, .share-video a:hover { opacity: 0.7; }
.share-video .fa-facebook { background: #3b5998; color: #fff; }
.share-video .fa-twitter { background: #3dc4ff; color: #fff; }
.share-video .fa-google { background: #d84c47; color: #fff; }
.share-video .fa-linkedin { background: #007bb5; color: #fff; }
.share-video .fa-youtube { background: #bb0000; color: #fff; }
.share-video .fa-instagram { background: #125688; color: #fff; }
.share-video .fa-pinterest { background: #cb2027; color: #fff; }
.share-video .fa-snapchat-ghost { background: #fffc00; color: #fff; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; }
.share-video .fa-skype { background: #04abf2; color: #fff; }
.share-video .fa-android { background: #a4c639; color: #fff; }
.share-video .fa-dribbble { background: #ea4c89; color: #fff; }
.share-video .fa-vimeo { background: #3dc4ff; color: #fff; }
.share-video .fa-tumblr { background: #2c4762; color: #fff; }
.share-video .fa-vine { background: #00b489; color: #fff; }
.share-video .fa-foursquare { background: #3dc4ff; color: #fff; }
.share-video .fa-stumbleupon { background: #eb4924; color: #fff; }
.share-video .fa-flickr { background: #f40083; color: #fff; }
.share-video .fa-yahoo { background: #430297; color: #fff; }
.share-video .fa-soundcloud, .share-video .fa-reddit { background: #ff5500; color: #fff; }
.share-video .fa-rss { background: #ff6600; color: #fff; }

.next-video { border-bottom: 1px solid #f3f3f3; margin-bottom: 20px; padding-bottom: 5px; }
.next-video h4 { color: #888; }
.next-video h4 .fa-bolt { color: #04abf2; }

.side-barlist-wrapper { position: relative; }
.side-barlist-wrapper .video-thumb { width: 110px !important; }
.side-barlist-wrapper .ptrm-vid-renderer { position: absolute; bottom: 0; right: 10px; cursor: pointer; color: #fff !important; visibility: hidden; }
.side-barlist-wrapper:hover > .ptrm-vid-renderer { visibility: visible; }

.video-actions { color: #888; font-size: 14px; float: right; margin-top: 5px; cursor: pointer; }
.video-actions i:hover { color: #04abf2; }

.settings-header { background-color: #04abf2; width: 100%; z-index: 99; margin-bottom: -10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; padding: 15px; padding-left: 25px; color: #fff; }
.settings-header h3 { margin-top: 0; font-size: 16px; }

.checkbox { padding-left: 20px; }
.checkbox label { display: inline-block; position: relative; padding-left: 5px; }
.checkbox label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #ccc; border-radius: 3px; background-color: #fff; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after { display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555; }
.checkbox input[type="checkbox"] { opacity: 0; }
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }
.checkbox input[type="checkbox"]:focus + label::before { outline: none; }
.checkbox input[type="checkbox"]:checked + label::after { font-family: FontAwesome; content: "\f00c"; }
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox.checkbox-circle label::before { border-radius: 50%; }

.radio { padding-left: 20px; }
.radio label { display: inline-block; position: relative; padding-left: 5px; }
.radio label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #ccc; border-radius: 50%; background-color: #fff; transition: border 0.15s ease-in-out; }
.radio label::after { display: inline-block; position: absolute; content: " "; width: 11px; height: 11px; left: 3px; top: 3px; margin-left: -20px; border-radius: 50%; background-color: #555; transform: scale(0, 0); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] { opacity: 0; }
.radio input[type="radio"]:disabled + label { opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before { cursor: not-allowed; }
.radio input[type="radio"]:focus + label::before { outline: thin dotted; outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after { transform: scale(1, 1); }
.radio.radio-inline { margin-top: 0; }

.avatar-read { display: none; }

.footer-container { padding: 10px; background: #fff; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.footer-container .footer-links { margin-top: 10px; }
.footer-container .footer-links ul { list-style: none; margin-left: 0 !important; padding-left: 0 !important; }
.footer-container .footer-links ul li { display: inline-block; padding-right: 10px; }
.footer-container .footer-links ul li a { color: #333; font-size: 100%; }
.footer-container .footer-links ul li .dropdown-menu > li > a:focus, .footer-container .footer-links ul li .dropdown-menu > li > a:hover { background: transparent; color: #04abf2 !important; }
.footer-container .footer-copyright { margin-top: 10px; color: #888; }

.help-block { font-size: 12px; }

.percent { position: absolute; left: 50%; top: 50%; margin-top: -10px; }

.upload-progress-bar { background-color: #e62117 !important; }

.white { color: #fff; }

.no-content-found { color: #888; margin-bottom: 10px; margin-top: 10px; }

.verified { color: #3dc4ff !important; }

.progress { position: relative; height: 40px; background: #fff7f7; }

#progress { width: 100%; border-radius: 3px; position: relative; padding: 4px; }

.comment-box { margin-top: 10px; margin-bottom: 10px; }
.comment-box textarea { border-radius: 2px; resize: none; box-shadow: none; }

.comments-header { font-weight: 600; }

.user-comments .no-comments-found { margin-bottom: 10px; color: #777; }
.user-comments .main-comment { margin-bottom: 40px; margin-bottom: 20px !important; }
.user-comments .main-comment .user-avatar { width: 48px; margin-right: 10px; }
.user-comments .main-comment .user-avatar img { width: 100%; }
.user-comments .main-comment .user-name { font-size: 14px; }
.user-comments .main-comment .user-name small { color: #777; }
.user-comments .main-comment .user-comment { width: 85%; font-size: 13px; margin-top: 10px; overflow: hidden; }
.user-comments .main-comment .user-comment .div-vote-comment { color: #777; margin-top: 10px; font-size: 13px; }
.user-comments .main-comment .user-comment .div-vote-comment .likes { color: #2ec0bc; }
.user-comments .main-comment .user-comment .div-vote-comment .voting { margin-left: 5px; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i { cursor: pointer; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i:hover { color: #555; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i.active { color: #2ec0bc; }

.ads-test { color: #ffcc7f; width: 100%; padding: 10px; background-color: rgba(0, 0, 0, 0.5); }

.ads-placment { text-align: center; margin-top: 20px; margin-bottom: 20px; }
.ads-placment:empty { margin-top: 0; margin-bottom: 0; padding: 0; }
.ads-placment img, .ads-placment iframe { max-width: 100%; }

.profile-container { margin-bottom: 20px; }
.profile-container .card-container { width: 100%; position: relative; }
.profile-container .card-container .text-shadow { background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.4) 100%); padding: 25px; width: 100%; position: absolute; bottom: 0; }
.profile-container .card-container .avatar-container { width: 120px; position: absolute; bottom: 10px; left: 10px; border: 3px solid #fff; }
.profile-container .card-container .avatar-container img { width: 100%; }
.profile-container .card-container .info-container { position: absolute; left: 140px; bottom: 0; }
.profile-container .card-container .info-container h4 { font-size: 22px; }
.profile-container .card-container .info-container h4 a { color: #fff; }
.profile-container .card-container .info-container h4 a:hover { text-decoration: none; }
.profile-container .card-container .subscribe-btn-container { position: absolute; right: 10px; bottom: 5px; }
.profile-container .card-container .edit-cover-container { position: absolute; top: 5px; right: 10px; font-size: 16px; }
.profile-container .card-container .edit-cover-container a { color: #fff; text-shadow: #444 0 0 3px; }
.profile-container .card-container .edit-cover-container a:hover { text-decoration: none; }
.profile-container .card-container .cover-container img { width: 100%; }
.profile-container .links-container { width: 100%; margin: 0; background: #fff; border-bottom: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; }
.profile-container .links-container ul { margin-bottom: 0; padding-left: 0; margin-left: 0; width: 100%; list-style: none; }
.profile-container .links-container ul li { margin-right: -4px; width: 33.4%; text-align: center; display: inline-block; }
.profile-container .links-container ul li a { padding: 10px; display: block; transition: all 0.1s; }
.profile-container .links-container ul li a:hover, .profile-container .links-container ul li a:focus { text-decoration: none; color: #111; }
.profile-container .links-container ul li a.active { text-decoration: none; background: #04abf2; color: #fff; }
.profile-container .page-container { margin-top: 20px; }

.upload { margin-right: auto; margin-left: auto; width: 100%; text-align: center; height: 200px; margin-top: 20px; border: 3px dashed #999; line-height: 200px; font-size: 18px; }
.upload:hover { border: 3px dashed #04abf2; cursor: pointer; color: #04abf2; }

@-webkit-keyframes square { 0% { transform: translateY(0); }
  100% { transform: translateY(-1200px) rotate(600deg); } }
@keyframes square { 0% { transform: translateY(0); }
  100% { transform: translateY(-1200px) rotate(600deg); } }
@media (max-width: 1600px) { .login-page { width: 50%; } }
@media (max-width: 990px) { .hide-in-mobile { display: none !important; }
  .mobile { display: block; width: 100%; }
  .desktop, .icons { display: none; }
  .no-padding-right { padding-right: 15 !important; }
  .no-padding-left { padding-left: 15px !important; }
  .video-player-page .no-padding-right, .video-player-page .no-padding-left { padding-left: 5px !important; }
  .play-list-player .no-padding-right { padding-right: 0 !important; } }
@media (max-width: 900px) { .hide-in-mobile { display: none !important; }
  .btn-message { width: auto !important; }
  .video-latest-list { height: auto !important; margin-bottom: 25px; }
  .login-page { width: 100%; }
  .login-page h4 { font-size: 34px; }
  .search-header { display: none; }
  .video-player-page .no-padding-right, .video-player-page .no-padding-left { padding-left: 0 !important; } }
.show-in-mobile { display: none !important; }

@media (max-width: 760px) { ul.notfi-dropdown { right: -80px !important; }
  nav.navbar-findcond .logo-img { max-width: 120px !important; }
  .user-messages .messages .message { max-width: 100% !important; word-break: break-word; }
  .user-messages.user-setting-panel { padding: 20px !important; }
  .video-info-element { position: initial !important; }
  .navbar-fixed-top { height: 30px; }
  .show-in-mobile { display: initial !important; }
  .login-page { margin-top: 0 !important; }
  .video-info-element { width: 25%; }
  .video-info-element .video-likes { font-size: 14px; }
  .video-options { margin-top: 40px; }
  .hide-in-mobile-720 { display: none !important; }
  .views-mobile { font-size: 12px; color: #777; }
  .video-big-title { font-size: 18px; margin-top: 5px; margin-bottom: 10px; }
  .video-big-title h1 { font-size: 18px; margin-top: 0; margin-bottom: 10px; }
  .video-player-page .col-lg-1, .video-player-page .col-lg-10, .video-player-page .col-lg-11, .video-player-page .col-lg-12, .video-player-page .col-lg-2, .video-player-page .col-lg-3, .video-player-page .col-lg-4, .video-player-page .col-lg-5, .video-player-page .col-lg-6, .video-player-page .col-lg-7, .video-player-page .col-lg-8, .video-player-page .col-lg-9, .video-player-page .col-md-1, .video-player-page .col-md-10, .video-player-page .col-md-11, .video-player-page .col-md-12, .video-player-page .col-md-2, .video-player-page .col-md-3, .video-player-page .col-md-4, .video-player-page .col-md-5, .video-player-page .col-md-6, .video-player-page .col-md-7, .video-player-page .col-md-8, .video-player-page .col-md-9 { padding-right: 0; padding-left: 0; }
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding-right: 0; padding-left: 0; }
  .keep-padding { padding-right: 10px !important; padding-left: 20px !important; }
  .pull-right-mobile { float: right !important; }
  .pull-left-mobile { float: left !important; }
  .avatar-container { width: 40px !important; border: 1px solid #fff; }
  .info-container { left: 20% !important; }
  .info-container h4 { font-size: 16px !important; }
  .main-content { margin-top: 55px; }
  .phone-container { padding-left: 0 !important; padding-right: 0 !important; }
  .second-header-layout { display: none; }
  .footer-container { text-align: center; }
  .footer-container .pull-right, .footer-container .pull-left { float: inherit !important; }
  nav.navbar-findcond .logo-img img { margin-top: 5px; width: 75%; }
  .publisher-element .publisher-name a { font-weight: 100; font-size: 14px; color: #111; }
  .nav > li { display: inline-block !important; }
  .nav > li > a { padding: 7px !important; }
  .next-video h4 { font-size: 14px; margin-top: 5px; margin-bottom: 5px; }
  .links-container ul li { width: 100% !important; }
  .navbar-nav li { margin-top: -2px; }
  .home-page-categories .videos .video-list { margin-bottom: 30px; } }
.video-info { overflow: unset !important; }
.video-info .video-views { width: auto; display: inline-block; }

.video-wrapper .vid-number-cont { color: #d7d7d7; width: 40px; display: inline-block; float: left; text-align: center; }
.video-wrapper .vid-number-cont span { line-height: 65px; font-size: 13px; font-family: Roboto; font-weight: 500; }
.video-wrapper .vid-number-cont span i { font-size: 9px; color: #f8f8f8; }
.video-wrapper:hover div.video-menu { visibility: visible; }

.video-menu ul li span { padding: 8px 10px; font-size: 13px; cursor: pointer; width: 100%; display: block; font-weight: 500; color: #333; }
.video-menu ul li span:hover { background: #f1f1f1; color: #333; }
.video-menu div.dropdown { display: inline-block; }
.video-menu div.dropdown span.dropdown-toggle { padding-left: 15px; display: inline-block; }
.video-menu div.dropdown span.dropdown-toggle:hover { color: #333; }
.video-menu div.dropdown ul.dropdown-menu { right: 100%; left: unset; min-width: 200px; border-radius: 2px; }

.ddown-menu ul li span { padding: 8px 10px; font-size: 13px; cursor: pointer; width: 100%; display: block; font-weight: 500; color: #333; }
.ddown-menu ul li span:hover { background: #f1f1f1; color: #333; }
.ddown-menu div.dropdown { display: inline-block; }
.ddown-menu div.dropdown span.dropdown-toggle { padding-left: 15px; display: inline-block; }
.ddown-menu div.dropdown ul.dropdown-menu { right: 100%; left: unset; min-width: 200px; border-radius: 2px; }

.swal2-modal { width: 400px !important; }

.pointer { cursor: pointer; cursor: pointer !important; }

.top-video-wrapper .video-title { max-height: 4.5em; overflow: hidden; }
.top-video-wrapper .video-menu { visibility: hidden; }
.top-video-wrapper:hover > .video-menu { visibility: visible; }

.play-list-player { width: 100%; overflow: hidden; margin-bottom: 10px; }
.play-list-player #mep_0 { max-height: 100% !important; }

.play-list-container { padding: 0; margin: 0; height: 100%; box-shadow: none !important; }
.play-list-container .next-video { padding: 15px; background: #1a1a1a; color: #fff; padding-top: 7px; padding-bottom: 5px; margin-bottom: 0; border-bottom: none; }

.play-list-cont { background: #353535; color: #fff !important; height: 100%; overflow-x: hidden; padding: 10px 5px 10px 0; }
.play-list-cont a { color: #d7d7d7 !important; }
.play-list-cont::-webkit-scrollbar { width: 6px; background-color: #eeeeee; }
.play-list-cont::-webkit-scrollbar-thumb { background-color: #999; }

.optional-field { opacity: 0.7; }

.create-new-list { width: 80%; overflow: hidden; margin: auto; }
.create-new-list input { border-radius: 2px; }
.create-new-list textarea { border-radius: 2px; resize: vertical; }
.create-new-list select { border-radius: 2px; }
.create-new-list select option[selected="selected"] { display: none; }
.create-new-list small { float: left; }
.create-new-list button:first-child { margin-right: 20px; }
.create-new-list .create-new-list-head p { font-family: Roboto; font-size: 18px; text-align: left !important; }

.add-topl-cont { width: 80%; overflow: hidden; margin: auto; }
.add-topl-cont h4 { text-align: left; margin-top: 0; }

.sa-no-list { width: 80%; overflow: hidden; margin: auto; line-height: 120px; font-size: 15px; }

.playlist-item { width: 100%; text-align: left !important; border-bottom: 1px solid #ddd; padding: 10px 0; }
.playlist-item span { color: #333; font-size: 15px; font-family: Roboto; }
.playlist-item span.list-name i { color: #666; }
.playlist-item:last-child { border-bottom: none; }
.playlist-item button { color: #333; padding: 1px 10px; font-family: Roboto; font-weight: 500; }

.secure-color { color: green !important; }

.play-lists { margin-bottom: 20px; }
.play-lists .video-title { width: 100%; margin-top: 5px; }
.play-lists .video-title a { cursor: pointer; text-decoration: none; }
.play-lists div.video-latest-list { height: unset; overflow: hidden; position: relative; cursor: pointer; }
.play-lists div.video-latest-list div.play-lists-overlay { height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
.play-lists div.video-latest-list div.play-lists-count { height: 100%; width: 100px; text-align: center; position: absolute; right: 0; top: 0; background: rgba(36, 36, 36, 0.67); display: flex; align-items: center; justify-content: center; }
.play-lists div.video-latest-list div.play-lists-count span { color: #fff; font-weight: 500; font-family: Roboto; font-size: 17px; }
.play-lists div.video-latest-list div.play-lists-count span b { display: block; font-weight: 500; }

.article-comments .div-vote-comment .material-icons { vertical-align: middle; font-size: 16px; cursor: pointer; }
.article-comments .div-vote-comment .material-icons.active { color: #2ec0bc; }
.article-comments .div-vote-comment .div-vote-comment-btn span { margin-right: 5px; }
.article-comments .delete-comment { visibility: hidden; }
.article-comments .delete-comment i { vertical-align: middle; }
.article-comments:hover > .delete-comment { visibility: visible; }

.read-article-comments-container { width: 100%; overflow: hidden; padding: 15px 0 0; }
.read-article-comments-container .comments-header { font-family: Roboto, sans-serif; font-weight: 500 !important; font-size: 17px; overflow: hidden; }
.read-article-comments-container .comments-header span i { color: #666; vertical-align: middle; }
.read-article-comments-container .comments-content { padding: 15px; margin-bottom: 0; }

.related-article-wrapper { width: 100%; overflow: hidden; padding-bottom: 5px; margin-bottom: 10px; }
.related-article-wrapper .ra-thumb { height: 150px; overflow: hidden; padding: 5px 10px; background-size: cover; position: relative; }
.related-article-wrapper .ra-thumb .ra-info { position: absolute; right: 0; bottom: 0; background: #f7931a; padding: 5px 10px; min-width: 50%; width: auto; font-family: Roboto, Arila, sans-serif; font-size: 13px; color: #fff; }
.related-article-wrapper .ra-thumb .ra-info a { display: inline; color: #fff; }
.related-article-wrapper .ra-thumb .ra-info:hover > span a { text-decoration: underline; }
.related-article-wrapper .ra-thumb a { display: block; overflow: hidden; cursor: pointer; text-decoration: none; }
.related-article-wrapper .ra-title { width: 100%; overflow: hidden; padding: 5px 10px; }
.related-article-wrapper .ra-title h5 { width: 100%; padding: 0; margin: 0; }
.related-article-wrapper .ra-title h5 a { font-size: 17px; font-family: Roboto; color: #202020; cursor: pointer; max-height: 3.3em; overflow: hidden; display: block; }

.related-video-wrapper { width: 100%; overflow: hidden; padding-bottom: 5px; margin-bottom: 10px; }
.related-video-wrapper .ra-thumb { height: 150px; overflow: hidden; padding: 0; background-size: cover; position: relative; }
.related-video-wrapper .ra-thumb img { width: 100%; transition: filter 1s ease-in; }
.related-video-wrapper .ra-thumb .ra-info { position: absolute; z-index: 1000; right: 0; bottom: 0; background: #f7931a; padding: 5px 10px; min-width: 50%; width: auto; font-family: Roboto, Arila, sans-serif; font-size: 13px; color: #fff; }
.related-video-wrapper .ra-thumb .ra-info.re-video-info { background: #04abf2; }
.related-video-wrapper .ra-thumb .ra-info:hover + .ra-overlay { visibility: hidden; }
.related-video-wrapper .ra-thumb .ra-info:hover > span a { text-decoration: underline !important; }
.related-video-wrapper .ra-thumb .ra-info a { display: inline; color: #fff; }
.related-video-wrapper .ra-thumb:hover > img { opacity: .9; }
.related-video-wrapper .ra-thumb:hover > .ra-overlay { visibility: visible; }
.related-video-wrapper .ra-thumb a { display: block; overflow: hidden; cursor: pointer; text-decoration: none; }
.related-video-wrapper .ra-overlay { position: absolute; left: 0; bottom: 0; z-index: 500; width: 100%; height: 100%; background: rgba(59, 71, 99, 0.33); text-align: center; cursor: pointer; display: table; visibility: hidden; }
.related-video-wrapper .ra-overlay a { vertical-align: middle; display: table-cell !important; }
.related-video-wrapper .ra-overlay a i { vertical-align: middle; font-size: 60px; color: #fff; }
.related-video-wrapper .ra-title { width: 100%; overflow: hidden; padding: 5px 10px; }
.related-video-wrapper .ra-title h5 { width: 100%; padding: 0; margin: 0; }
.related-video-wrapper .ra-title h5 a { font-size: 17px; font-family: Roboto; color: #202020; cursor: pointer; max-height: 3.3em; overflow: hidden; display: block; }
.related-video-wrapper .ra-title h5 a:hover { text-decoration: none; }

.read-article-sidebar { width: 100%; overflow: hidden; background: #f1f1f1; height: auto; }
.read-article-sidebar .ra-sidebar-head h4 { width: 100%; font-family: Roboto, Arial, sans-serif; font-size: 18px; color: #000; padding: 15px 15px 10px 15px; margin: 0 0 10px 0; text-transform: uppercase; margin-bottom: 0; }
.read-article-sidebar .ra-sidebar-head i { vertical-align: middle; margin-bottom: 2px; color: #666; }
.read-article-sidebar .ra-sidebar-body { width: 100%; overflow: hidden; }

.read-article-container { width: 100%; overflow: hidden; }
.read-article-container .read-article-head { width: 100%; overflow: hidden; padding: 30px 15px 0 30px; }
.read-article-container .read-article-head h3 { width: 100%; font-size: 30px; font-family: Roboto, Arial, sans-serif; color: #000; font-weight: 500; margin-bottom: 0; }
.read-article-container .read-article-description { width: 100%; overflow: hidden; padding: 15px 30px; }
.read-article-container .read-article-description article { width: 100%; font-family: Roboto, Arial, sans-serif; font-size: 17px; color: #333; }
.read-article-container .read-article-meta { width: 100%; overflow: hidden; margin-bottom: 20px; }
.read-article-container .read-article-meta div { overflow: hidden; font-family: Roboto; color: #999; padding: 15px 30px; }
.read-article-container .read-article-meta span i.material-icons { vertical-align: middle; margin-left: 15px; cursor: pointer; margin-bottom: 5px; }
.read-article-container .read-article-meta span i.material-icons.active { color: #2ec0bc; }
.read-article-container .read-article-share { width: 100%; overflow: hidden; }
.read-article-container .read-article-share ul { outline-style: none; padding: 15px 0; margin: 0 0 20px 0; overflow: hidden; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; background: #fafafa; }
.read-article-container .read-article-share ul li { display: inline; float: left; width: 16%; text-align: center; }
.read-article-container .read-article-share ul li a { cursor: pointer; text-decoration: none; }
.read-article-container .read-article-image { width: 100%; max-height: 370px; overflow: hidden; margin-bottom: 20px; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; }
.read-article-container .read-article-image img { transition: all 0.3s ease; width: 100%; }
.read-article-container .read-article-image:hover > img { transform: scale(1.02); opacity: 0.8; }
.read-article-container .read-article-text { width: 100%; overflow: hidden; word-wrap: break-word; line-height: 1.6; font-size: 16px; padding: 15px 30px; }

.read-content { box-shadow: 0 0.005em 0.01em 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12) !important; background: #fff; margin-bottom: 20px; }

.articles-content { padding: 20px; overflow: hidden; }

.content-shadow { box-shadow: 0 0.005em 0.01em 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12) !important; background: #fff; }

.danger-field-border { border: 1px solid red; }

.popular-articles-wrapper { margin: 7px 0; border-bottom: 1px solid #f1f1f1; padding-bottom: 10px; padding-top: 10px; cursor: pointer; width: 100%; overflow: hidden; }
.popular-articles-wrapper:last-child { border-bottom: none; }
.popular-articles-wrapper .video-thumb { overflow: hidden; }
.popular-articles-wrapper .popular-article-title { overflow: hidden; font-size: 15px !important; max-height: 4em; }
.popular-articles-wrapper .popular-article-title a { line-height: 14px !important; }

.article-wrapper .video-thumb a { overflow: hidden; display: block; }
.article-wrapper .video-thumb a img { transition: all 0.3s ease; }
.article-wrapper .video-thumb:hover > a img { transform: scale(1.02); opacity: 0.8; }
.article-wrapper .article-views { color: #999; font-size: 15px; font-weight: 500; font-family: Roboto; }
.article-wrapper .article-title h4 { margin-top: 2px; max-height: 2.5em; overflow: hidden; }
.article-wrapper .article-title h4 a { font-weight: 600; color: #202020; font-family: Open Sans, sans-serif; font-size: 21px; text-shadow: none; }
.article-wrapper .article-desc p { color: #666; font-family: Roboto; font-size: 16px; max-height: 4em; overflow: hidden; }

.articles-container { overflow: hidden; }
.articles-container .no-content-found div { height: 200px; display: table; text-align: center; width: 100%; }
.articles-container .no-content-found div figure { text-align: center; height: 200px; display: table-cell; vertical-align: middle; }
.articles-container .no-content-found p.no-posts-found { line-height: 200px; text-align: center; width: 100%; }

.article-categories { padding: 20px 15px 15px; margin-bottom: 20px; background: #fff; }
.article-categories div ul { list-style: none !important; padding: 0; margin: 0; }
.article-categories div ul li { padding: 5px 15px; text-shadow: none; transition: all .20s ease; border-bottom: 1px solid #fafafa; }
.article-categories div ul li a { font-family: Roboto, Arial; color: #333; text-decoration: none; width: 100%; display: inline-block; }
.article-categories div ul li:hover { background: #f6f6f6; cursor: pointer; }
.article-categories div ul li.active { font-weight: 600; font-family: Arial !important; text-shadow: none; background: #f6f6f6; cursor: pointer; padding-left: 10px; }
.article-categories div ul li.active a { font-family: Arial !important; }
.article-categories div form input { border-radius: 0; width: 100%; display: block; }
.article-categories div form div { width: 100%; overflow: hidden; margin-bottom: 20px; position: relative; }
.article-categories div form div button { position: absolute; right: 0; bottom: 0; background: transparent; border: none; outline: none; height: 34px; }
.article-categories div form button { border-radius: 0; width: auto; display: inline; float: left; border-left: none; }
.article-categories h4 { margin: 0; padding: 0 0 10px 0; color: #202020; border-bottom: 2px solid #999; font-weight: 600; font-size: 16px; font-family: Roboto; }

.go-pro-container { width: 100%; overflow: hidden; box-shadow: 0 0.005em 0.01em 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12) !important; margin-bottom: 30px; padding-bottom: 30px; background: #fff; }
.go-pro-container .go-pro-footer-upgraded { width: 100%; overflow: hidden; text-align: center; padding: 20px 0; }
.go-pro-container .go-pro-footer-upgraded button a { color: #fff; text-decoration: none; padding: 0 15px; }
.go-pro-container .go-pro-body-upgraded { width: 100%; overflow: hidden; text-align: center; }
.go-pro-container .go-pro-body-upgraded .upgraded-features { width: 50%; overflow: hidden; text-align: center; margin: auto; margin-top: 15px; }
.go-pro-container .go-pro-body-upgraded .upgraded-features p { width: 100%; margin: 0; padding: 5px 0; font-family: Laila, serif; }
.go-pro-container .go-pro-body-upgraded .upgraded-features p span { color: #1cae19; }
.go-pro-container .go-pro-head-upgraded { width: 100%; overflow: hidden; text-align: center; }
.go-pro-container .go-pro-head-upgraded h4 { font-size: 40px; padding: 100px 0 7px; margin: 0; font-family: Roboto, sans-serif; }
.go-pro-container .go-pro-head-upgraded p { margin: 0; color: #555; font-size: 17px; font-family: Roboto, sans-serif; }
.go-pro-container .go-pro-head { width: 100%; overflow: hidden; margin-top: 50px; margin-bottom: 30px; }
.go-pro-container .go-pro-head h4 { width: 100%; text-align: center; font-family: Roboto, sans-serif; font-size: 30px; margin: 0; color: #444; display: block; word-wrap: break-word; padding-bottom: 20px; }
.go-pro-container .go-pro-head h4 i { color: #f1c40f; }
.go-pro-container .go-pro-body { width: 100%; overflow: hidden; margin-bottom: 50px; }
.go-pro-container .go-pro-body .go-pro-packages { width: 60%; overflow: hidden; margin: auto; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg { overflow: hidden; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div { overflow: hidden; max-width: 310px; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-features { overflow: hidden; width: 100%; border: 1px solid #e3e4e8; border-top: none; background: #fff; cursor: pointer; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 { margin: 0 10px; font-size: 1.6em; font-weight: 700; font-family: Laila, serif; padding: 20px 30px 5px; overflow: hidden; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 span.package-price { font-size: 33px; float: left; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 span i.material-icons { margin-top: -5px; float: left; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-features-list { width: 100%; overflow: hidden; min-height: 200px; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-features-list p { margin: 0 15px; text-align: center; font-family: Laila, serif; padding: 15px; line-height: 15px; border-top: 1px solid #f1f1f1; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-purchase { text-align: center; margin-top: 20px; margin-bottom: 20px; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-purchase button { padding: 7px 50px; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-purchase button a { color: #fff; text-decoration: none; }
.go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div p:last-child { border-bottom: 1px solid #f1f1f1; }

@media (max-width: 1210px) { .pro-triangle, .free-triangle { display: none; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg { margin-bottom: 30px; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div { max-width: 100%; width: 100%; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 { margin: 0 !important; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 * { float: unset !important; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div h4 span.go-pro-pkg-price { display: block; width: 100%; text-align: center; }
  .go-pro-container .go-pro-body .go-pro-packages .go-pro-pkg div .go-pro-pkg-purchase button { padding: 7px 15px !important; } }
.free-bg { background: #16a086 !important; color: #fff; }
.free-bg a { display: block; }

button.free-bg:hover { background: #04cfa8; color: #fff; }
button.pro-bg:hover { background: #ffd736; color: #fff; }

.free-triangle { width: 0; height: 0; border-style: solid; border-width: 45px 155px 0 155px; border-color: #16a086 transparent transparent transparent; padding-bottom: 15px; }

.pro-bg { background: #f1c40f !important; color: #fff; }

.pro-triangle { width: 0; height: 0; border-style: solid; border-width: 45px 155px 0 155px; border-color: #f1c40f transparent transparent transparent; padding-bottom: 15px; }

.buy-pro { padding: 30px; }
.buy-pro button { box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s; }
.buy-pro button a { padding: 15px 20px; font-size: 14px; text-decoration: none; }
.buy-pro h4 { font-size: 27px; font-family: Open Sans, serif; color: #333; margin-bottom: 30px; word-wrap: break-word; }
.buy-pro h4 i { vertical-align: middle; font-size: 30px; margin-bottom: 5px; color: #0d6c96; }

.rss-icon { color: #ee802f; }

.sidebar-ad-container { max-width: 100%; background: #eeeeee; overflow: hidden; cursor: pointer; height: auto; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.sidebar-ad-container a { text-decoration: none; }
.sidebar-ad-container .sidebar-ad-inner { max-width: 100%; overflow: hidden; position: relative; background-size: cover; }
.sidebar-ad-container .sidebar-ad-inner img { max-width: 100%; max-height: 100%; }
.sidebar-ad-container .sidebar-ad-inner .info { width: 100%; text-align: left; padding: 20px 30px; background: #fff; }
.sidebar-ad-container .sidebar-ad-inner .info h5 { width: 100%; color: #333; font-size: 17px; font-weight: 600; font-family: Roboto Condensed, sans-serif; margin: 0 0 5px 0; }
.sidebar-ad-container .sidebar-ad-inner .info p { width: 100%; color: #555; font-size: 12px; font-weight: 500; font-family: Open Sans, sans-serif; }
.sidebar-ad-container .sidebar-ad-inner .info div { width: 100%; overflow: hidden; }
.sidebar-ad-container .sidebar-ad-inner .info div .pull-left span { font-size: 13px; color: #07e; line-height: 16px; }
.sidebar-ad-container .sidebar-ad-inner .info div .pull-left img { width: 16px; height: 16px; }
.sidebar-ad-container .sidebar-ad-inner .info div .pull-right { color: #333; }

.material-icons { vertical-align: middle; font-size: 1.3em; margin-bottom: 3px; }

.margin-right { margin-right: 10px; }

.user-ads-list-container { width: 100%; overflow: hidden; background: #fff; box-shadow: 0 0.005em 0.01em 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12); }
.user-ads-list-container .col-10 { padding: 0 30px; }
.user-ads-list-container .user-ads-list-header { width: 100%; overflow: hidden; background: #04abf2; border-bottom: 1px solid #ddd; margin-bottom: 20px; padding: 0 30px; }
.user-ads-list-container .user-ads-list-header span { padding: 5px 0; display: inline-block; font-size: 16px; margin: 10px 0; color: #fff; }
.user-ads-list-container .user-ads-list-header span i { vertical-align: middle; margin-bottom: 3px; }
.user-ads-list-container .user-ads-list-header span a { color: inherit; font-size: inherit; text-decoration: none; cursor: inherit; }
.user-ads-list-container .user-ads-list-header span.create-ad-btn { float: right; background: #ff9600; color: #fff; padding: 7px 10px; border-radius: 0; font-size: 14px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12); }
.user-ads-list-container .user-ads-list-header span.create-ad-btn:hover { color: #fff; background-color: #ff9600; }

.col-10 { width: 100%; overflow: hidden; }
.col-10 table { width: 100%; overflow: hidden; }
.col-10 table thead th { vertical-align: middle; font-family: Roboto Condensed, sans-serif; font-weight: 700; font-style: normal; font-size: 15px; padding: 15px 0; color: #333; }
.col-10 table tbody tr td { background: #fff; font-family: Lato, sans-serif; padding: 15px 0; }
.col-10 table tbody tr td span i { vertical-align: middle; font-size: 20px; cursor: pointer; color: #999; }
.col-10 table tbody tr td span i:hover { color: #333; }
.col-10 table tbody tr td span.spends { font-family: Roboto Condensed, sans-serif; font-weight: 700; }
.col-10 table tbody tr td div label .toggle { height: 26px !important; font-size: 12px; min-height: 15px !important; min-width: 30px !important; width: 50px !important; border-radius: 2px; }
.col-10 table tbody tr td div label .toggle .toggle-group .btn { padding: 3px 10px; font-size: 12px; }

.create-new-ad-container { width: 100%; background: #fff; box-shadow: 0 0.005em 0.01em 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12); }
.create-new-ad-container .user-ads-list-header { width: 100%; overflow: hidden; background: #04abf2; border-bottom: 1px solid #ddd; margin-bottom: 20px; padding: 0 30px; }
.create-new-ad-container .user-ads-list-header span { padding: 5px 0; display: inline-block; font-size: 16px; margin: 10px 0; color: #fff; }
.create-new-ad-container .user-ads-list-header span i { vertical-align: middle; margin-bottom: 1px; }
.create-new-ad-container .user-ads-list-header span a { color: inherit; font-size: inherit; text-decoration: none; cursor: inherit; }
.create-new-ad-container .header { width: 100%; background: #fff; padding: 20px 30px; }
.create-new-ad-container .form-group { width: 100%; overflow: hidden; }
.create-new-ad-container .form-group textarea { resize: vertical; }
.create-new-ad-container .form-group .audience-list li { width: 100%; padding: 5px 15px; background: #fff; font-size: 15px; font-family: Roboto Condensed, sans-serif; text-transform: capitalize; font-weight: 600; color: #444; cursor: pointer; border-bottom: 1px solid rgba(221, 221, 221, 0.26); }
.create-new-ad-container .form-group-rs { margin-bottom: 20px; }

.user-ads-settings-alert { width: 100%; overflow: hidden; }
.user-ads-settings-alert .alert { border-radius: 0; color: #fff; font-family: Roboto Condensed, sans-serif; font-size: 16px; font-weight: 600; padding: 15px 30px; }

.bg-danger { background: #dc3545 !important; }

.bg-success { background: #28a745 !important; }

.read-only { background: #fff !important; border: none !important; box-shadow: none !important; padding-left: 0; }

.monetization-settings-alert { width: 100%; overflow: hidden; }
.monetization-settings-alert .alert { border-radius: 0; color: #fff; font-size: 16px; font-weight: 500; padding: 15px 20px; }

#withdrawal-requests thead th { font-family: Roboto Condensed, sans-serif !important; }
#withdrawal-requests tbody tr td { font-family: Lato, sans-serif !important; font-weight: 500; font-size: 14px; }
#withdrawal-requests tbody tr td span.success { padding: 5px 15px; color: #fff; background: #28a745; font-weight: 500; }
#withdrawal-requests tbody tr td span.danger { padding: 5px 15px; color: #fff; background: #dc3545; }
#withdrawal-requests tbody tr td span.warning { padding: 5px 15px; color: #fff; background: #efaf3d; font-weight: 500; }

.main-comment-reply { margin-top: 10px !important; margin-bottom: 10px !important; overflow: hidden; }

.user-comment p.active.reply-text, .user-comment p.active.comment-text { color: #42c1be !important; }

.main-comment-reply .user-name a { color: #111; font-weight: 600; }
.main-comment-reply .user-comment p { color: #111; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.1em; }
.main-comment-reply .delete-comment i { font-size: 20px !important; vertical-align: middle; visibility: hidden; }
.main-comment-reply .delete-comment i:hover { color: #444; }
.main-comment-reply:hover > .delete-comment i { visibility: visible; }

.main-comment .user-name a { color: #111; font-weight: 600; }
.main-comment .user-comment p { color: #111; font-family: Roboto, sans-serif; font-weight: 500; font-size: 1.1em; }
.main-comment .delete-comment i { font-size: 23px !important; vertical-align: middle; visibility: hidden; }
.main-comment .delete-comment i:hover { color: #444; }
.main-comment .main-comment-data-sp:hover > .delete-comment i { visibility: visible; }
.main-comment .comms-reply:hover { color: #444; }
.main-comment .div-vote-comment-btn span i { vertical-align: middle; font-size: 14px; margin-bottom: 3px; cursor: pointer; color: #a0a0a0; }
.main-comment .div-vote-comment-btn span i:hover { color: #444; }
.main-comment .div-vote-comment-btn span i.active { color: #2ec0bc; }

.announcement-renderer { width: 100%; overflow: hidden; }
.announcement-renderer .alert-white { width: 100%; overflow: hidden; border-radius: 0 !important; padding: 0; border: 1px solid #f7931a !important; }
.announcement-renderer .alert-white p { width: auto; padding: 15px; color: #000; }
.announcement-renderer .alert-white span { padding: 7px; cursor: pointer; }
.announcement-renderer .alert-white span i { font-size: 18px !important; color: #666; }

.thumbnail-preview-renderer { border: 3px dashed #d2d2d2; padding: 3px; }
.thumbnail-preview-renderer:hover { border-color: #04abf2; }

.panel-text-center { width: 100%; overflow: hidden; text-align: center; color: #333; font-family: Lato, sans-serif; font-size: 17px; line-height: 200px; margin: 0; padding: 0; }

.no-padding-both { padding: 0 !important; }

.form-cell { width: 100%; margin-bottom: 20px; }

.fluid { width: 100%; overflow: hidden; }

.verifiacation-request-form { width: 100%; overflow: hidden; }
.verifiacation-request-form .upload-files { width: 100%; overflow: hidden; padding: 15px; border: 1px solid #f1f1f1; }
.verifiacation-request-form .upload-files .image-renderer { width: 100%; overflow: hidden; border: 3px dashed #ccc; height: 200px; cursor: pointer; }
.verifiacation-request-form .upload-files .image-renderer div { width: 100%; overflow: hidden; height: 100%; display: table; }
.verifiacation-request-form .upload-files .image-renderer div span { display: table-cell; vertical-align: middle; text-align: center; }
.verifiacation-request-form .upload-files .image-renderer img { min-height: 100%; width: 100%; }
.verifiacation-request-form .upload-files .image-renderer span i { font-size: 40px; color: #999; }
.verifiacation-request-form .upload-files h4 { width: 100%; overflow: hidden; color: #333; font-family: Lato, sans-serif; font-weight: 600; margin: 5px 0 10px; padding: 0; }
.verifiacation-request-form .upload-files p { width: 100%; overflow: hidden; font-size: 16px; color: #717171; font-family: Lato, sans-serif; margin: 0 0 10px 0; padding: 0; }
.verifiacation-request-form .upload-files button { padding: 10px 30px !important; height: auto !important; border-radius: 0; font-family: Lato, sans-serif; }
.verifiacation-request-form .request-message { margin-top: 15px; display: block; }
.verifiacation-request-form .request-message textarea { resize: vertical; }

.videos-list .video-wrapper { margin-bottom: 10px; }
.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .video-wrapper .video-info { overflow: hidden; }
.videos-list .video-wrapper .video-title { font-size: 14px; word-wrap: break-word; }
.videos-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.videos-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }

.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb img { width: 100%; }
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #777; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }

nav.navbar-findcond { background: #fff; border-bottom: 1px solid #f1f1f1; }
nav.navbar-findcond a { color: #04abf2; }
nav.navbar-findcond ul.navbar-nav a { color: #04abf2; font-size: 15px; border-style: solid; border-width: 0 0 2px 0; border-color: transparent; padding-bottom: 13px; }
nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:visited, nav.navbar-findcond ul.navbar-nav a:focus, nav.navbar-findcond ul.navbar-nav a:active { background: transparent; }
nav.navbar-findcond ul.navbar-nav li.active a:not(.category) { border-color: #04abf2; color: #04abf2; background-color: #04abf2; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; padding-bottom: 5px; padding-top: 5px; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #fcfcfc !important; color: #444 !important; border-color: transparent !important; }
nav.navbar-findcond .search-header { margin-right: -20px; position: relative; }
nav.navbar-findcond .search-header input { height: 35px; border: 0; padding-left: 30px; color: #444; border-radius: 0; width: 400px !important; transition: all 0.3s; background-color: transparent !important; border: 1px solid #f5f5f5; }
nav.navbar-findcond .search-header input:focus { margin-right: 30px; border: 1px solid #f1f1f1; }
nav.navbar-findcond .search-header i { position: absolute; padding: 10px; top: 0; cursor: pointer; left: 15px; color: #04abf2; }
nav.navbar-findcond .search-header .search-dropdown { position: absolute; width: 400px; background-color: #fff; color: #333; border-right: 1px solid #f2f2f2; border-left: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; }
nav.navbar-findcond .search-header .search-dropdown .search-result { padding: 10px; }
nav.navbar-findcond .search-header .search-dropdown .search-result:hover { background-color: #fcfcfc; }
nav.navbar-findcond .search-header .search-dropdown .search-result a { display: block; color: #333; text-decoration: none; }
nav.navbar-findcond .search-header-mobile { padding: 10px; position: relative; }
nav.navbar-findcond .search-header-mobile input { height: 100%; color: #444; border-radius: 0; width: 100%; transition: all 0.3s; background-color: transparent !important; border: 0; }
nav.navbar-findcond .logo-img { margin-right: 2px; max-width: 150px; margin-top: -8px; }
nav.navbar-findcond .logo-img img { width: 100%; }
nav.navbar-findcond .header-image { width: 20px; border: none; margin-top: -2px; border-radius: 3px; }
nav.navbar-findcond button.navbar-toggle { background: #04abf2; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond li.divider { background: #f4f4f4; }
nav.navbar-findcond span.badge { background: #04abf2; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.videos-latest-list.row { margin-right: 0; }

.categories-drop-down a { color: #444 !important; }

.video-title p { word-wrap: break; margin-top: 10px; }

.video-description p { font-size: 12px; color: #777; margin-top: 10px; word-wrap: break; }

.edit-thumb img { cursor: pointer; }
.edit-thumb img:hover { opacity: 0.9; }

.related-header h4 { margin-top: 5px; padding-bottom: 10px; color: #888; border-bottom: 1px solid #f3f3f3; }
.related-header h4 .fa-bolt { color: #04abf2; }

.checkbox-primary input[type="checkbox"]:checked + label::before { background-color: #428bca; border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before { background-color: #d9534f; border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before { background-color: #5bc0de; border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before { background-color: #f0ad4e; border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after { color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before { background-color: #5cb85c; border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after { color: #fff; }

.radio-primary input[type="radio"] + label::after { background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before { border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after { background-color: #428bca; }

.radio-danger input[type="radio"] + label::after { background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before { border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after { background-color: #d9534f; }

.radio-info input[type="radio"] + label::after { background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before { border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after { background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after { background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before { border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after { background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after { background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before { border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after { background-color: #5cb85c; }

.settings-sidebar ul li a { display: block; }
.settings-sidebar ul li a:hover, .settings-sidebar ul li a:focus { text-decoration: none; }
.settings-sidebar ul li:hover { background-color: #fcfcfc; }
.settings-sidebar ul li.active { border-left: 3px solid; border-color: #04abf2; background-color: #fcfcfc; }

.alert:empty { padding: 0; margin-bottom: 0; border: 0; }

.upload-head h4 { font-size: 22px; }

.video-list-title a h4 { height: 2.2em; overflow: hidden; }

.submit-article-commet textarea { resize: vertical; border: 2px solid #659eb8; border-radius: 5px !important; }

table .dataTables_empty { padding: 70px 0 !important; text-align: center; padding: 70px 0; background: #f3f3f3; }

.replenish-wallet-form div { text-align: left !important; }
.replenish-wallet-form div label span { font-size: 16px; font-family: Roboto Condensed, sans-serif; text-transform: uppercase; color: #333; font-weight: 600; margin-right: 10px; }
.replenish-wallet-form div label strong { font-size: 18px; color: #5cb85c; }
.replenish-wallet-form div small { font-size: 14px; font-family: Roboto Condensed, sans-serif; text-transform: capitalize; }

.dataTable tbody tr td i.ad-category { font-size: 22px !important; color: #999; }

.user-monetization-panel button .material-icons { vertical-align: middle; font-size: 1.3em; margin-bottom: 3px; }

#toggle-video-monetization-form .toggle { height: 26px !important; font-size: 12px; min-height: 15px !important; width: auto; }
#toggle-video-monetization-form .toggle .toggle-group .btn { padding: 4px 10px; font-size: 12px; }

.monetization-settings-header h3, .withdrawals-settings-header h3 { width: 100%; overflow: hidden; }
.monetization-settings-header h3 span a, .withdrawals-settings-header h3 span a { color: #fff !important; text-decoration: none; }
.monetization-settings-header h3 i.material-icons, .withdrawals-settings-header h3 i.material-icons { vertical-align: middle; margin-bottom: 3px; font-size: inherit; }

.pt-comment-item-reply-form input:focus { box-shadow: 0 0 5px #5bc0de; }

.mejs__overlay.mejs__layer { overflow: hidden; }
.mejs__overlay.mejs__layer img { max-height: 100%; max-width: 100%; }

.verifiacation-request-alert .alert { width: 100%; overflow: hidden; color: #fff; border-radius: 0; font-family: Lato, sans-serif; font-size: 16px; }

/*# sourceMappingURL=style.css.map */
img.full-size { width: 100%; height: 100%; }

.spin { -webkit-animation-name: spin; -webkit-animation-duration: 900ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin; -moz-animation-duration: 900ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; -ms-animation-name: spin; -ms-animation-duration: 900ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear; animation-name: spin; animation-duration: 900ms; animation-iteration-count: infinite; animation-timing-function: linear; }

@-ms-keyframes spin { from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); } }
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }
span#new-notifications, span#new-messages { position: absolute; display: inline-block; top: 12px; left: 25px; z-index: 100; color: #fff; font-family: "Lato", sans-serif; background: #d44d43; border-radius: 2px; line-height: 11px; }
span#new-notifications b, span#new-messages b { padding: 1px 4px 2px 4px; display: inline-block; font-weight: normal; line-height: 11px; font-size: 12px; }

#get-notifications { position: relative; display: inline-block; }

ul.notfi-dropdown { min-width: 350px !important; max-width: 400px !important; width: auto; border-radius: 3px; border: 1px solid #f5f5f5 !important; font-family: "Lato", sans-serif; padding: 0px; margin: 0px; height: auto; overflow: hidden; }
ul.notfi-dropdown ul#notifications-list { width: 100%; display: block; padding: 0px; margin: 0px; overflow-y: scroll !important; overflow-x: hidden !important; min-height: 50px; max-height: 400px; }
ul.notfi-dropdown ul#notifications-list li.notifications-list { width: 100%; display: block; padding: 7px; margin: 0px; overflow: hidden; border-bottom: 1px solid #eaeaea; background: #fff; cursor: pointer; }
ul.notfi-dropdown ul#notifications-list li.notifications-list:last-child { border-bottom: none; }
ul.notfi-dropdown ul#notifications-list li.notifications-list a { padding-bottom: 0px !important; }
ul.notfi-dropdown ul#notifications-list::-webkit-scrollbar { width: 5px; background: transparent !important; }
ul.notfi-dropdown ul#notifications-list::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #d0d0d0; }
ul.notfi-dropdown ul#notifications-list li.no-notifications { width: 100%; display: block; background: #fbfbfb; cursor: pointer; width: 100%; padding: 15px 0px; text-align: center; font-size: 14px; }
ul.notfi-dropdown ul#notifications-list li.notifications-list:hover { background: #fff; }
ul.notfi-dropdown ul#notifications-list li div.avatar { width: 60px; height: 60px; display: inline-block; float: left; margin-right: 10px; }
ul.notfi-dropdown ul#notifications-list li div.notifications-info { overflow: hidden; }
ul.notfi-dropdown ul#notifications-list li div.notifications-info p { width: 100%; overflow: hidden; margin: 0px; padding: 0px; color: #666; font-size: 13px; }
ul.notfi-dropdown ul#notifications-list li div.notifications-info p a { color: #333 !important; font-family: "Lato", sans-serif; text-transform: unset; }
ul.notfi-dropdown ul#notifications-list li div.notifications-info p a:hover { color: #333 !important; text-decoration: none; }
ul.notfi-dropdown ul#notifications-list li div.notifications-info time { color: #999; font-size: 12px; }
ul.notfi-dropdown li h5 { width: 100%; display: block; padding: 10px 15px; background: #fff; margin: 0px; overflow: hidden; border-bottom: 1px solid #f2f2f2; }
ul.notfi-dropdown li h5 i.fa-circle-o-notch { float: right; color: #555; }

@media (max-width: 700px) { ul.notfi-dropdown { left: auto !important; width: 100% !important; } }
@media (max-width: 400px) { ul.notfi-dropdown { left: auto !important; right: -80px !important; width: 100% !important; width: all !important; } }
.main-comment .delete-comment { margin-left: 3px; }
.main-comment .delete-comment i { font-size: 18px !important; margin-top: -3px; }
.main-comment .pin-comment i { font-size: 17px; color: #555; cursor: pointer; margin: 0px; padding: 0px 3px; visibility: hidden; }
.main-comment .pin-comment i:hover { color: #444; }
.main-comment .main-comment-data-sp:hover > .pin-comment i { visibility: visible; }

.rotate-90d { transform: rotate(-180deg); }

.rotate-r90d { transform: rotate(90deg); }

.rotate-r45d { transform: rotate(45deg); }

.load-related-videos { width: 100%; overflow-x: hidden; text-align: center; border-top: 1px solid #f1f1f1; padding-top: 10px; }
.load-related-videos button { border: none; padding: 3px 50px; outline: 0; font-family: "Lato", sans-serif; color: #666; text-transform: uppercase; font-size: 13px; }
.load-related-videos button span { margin-right: 5px; }
.load-related-videos button:hover { border: none; background: #fff; }
.load-related-videos button:focus, .load-related-videos button:active { border: none !important; background: #fff !important; outline: 0 !important; box-shadow: none !important; }

.swal2-modal { border-radius: 1px !important; }
.swal2-modal button.swal2-styled { border-radius: 1px !important; padding-top: 5px !important; padding-bottom: 5px !important; box-shadow: none !important; font-size: 16px !important; }
.swal2-modal button.btn { border-radius: 1px !important; }

.report-video-popup .swal2-title { text-align: left; font-size: 15px; text-transform: uppercase; color: #333; font-family: "Lato", sans-serif; margin-bottom: 20px; }
.report-video-popup .report-message-label { text-align: left; font-size: 13px; color: #666; font-family: "Lato", sans-serif; }
.report-video-popup .swal2-content { text-align: left; }
.report-video-popup .swal2-content textarea { width: 100%; resize: vertical; padding: 10px; font-size: 14px; color: #555; outline: 0; }
.report-video-popup .swal2-validationerror { margin-top: 15px; }
.report-video-popup .swal2-buttonswrapper { text-align: left; }
.report-video-popup .swal2-buttonswrapper button { margin-left: 0px; }

button.btn-report.active i { color: #2ec0bc !important; }

.main-color { color: #04abf2; }

.percent { left: 0 !important; right: 0 !important; margin-top: -10px; margin-left: auto !important; margin-right: auto !important; width: 50%; text-align: center; }

.upload { line-height: unset !important; display: table; text-align: center; margin-bottom: 20px; color: #999; }
.upload.hover { border: 3px dashed #04abf2; cursor: pointer; color: #04abf2; }
.upload > div { display: table-cell; vertical-align: middle; }
.upload > div h4 { padding: 0px; margin: 0px; font-size: 25px; font-weight: 700; font-family: "Lato", sans-serif; }
.upload > div p { padding: 0px; margin: 0px; font-family: "Lato", sans-serif; }

.player-video .video-processing { width: 100%; text-align: center; position: relative; overflow: hidden; }
.player-video .video-processing img { width: 100%; min-height: 100%; }
.player-video .video-processing div { width: 100%; height: 100%; position: absolute; background: #389ce2; left: 0; top: 0; bottom: 0; right: 0; z-index: 100; padding: 0px; text-align: center; padding-top: 22%; }
.player-video .video-processing div h5 { color: #fff; font-size: 17px; font-family: "Lato", sans-serif; }

.comments-loading { width: 100%; text-align: center; padding: 20px 0px; font-size: 20px; color: #999; }

.video-list-title a h4 { height: unset !important; max-height: 2.2em; overflow: hidden; }

.video-latest-list.video-wrapper .video-title a { height: unset !important; max-height: 2.5em; overflow: hidden; }

.nav.navbar-nav.navbar-right .dropdown.profile-nav ul { right: 0px !important; left: auto; }

.comments-header { font-weight: normal !important; font-family: "Verdana", sans-serif; }

.sort-comments-dropdown { margin-left: 10px; }
.sort-comments-dropdown ul.dropdown-menu { border-radius: 0px; padding: 0px; margin: 0px; }
.sort-comments-dropdown ul.dropdown-menu li a { padding: 10px 15px; }
.sort-comments-dropdown .dropdown-toggle { font-size: inherit; text-transform: capitalize; }
.sort-comments-dropdown .dropdown-toggle i { font-size: 20px; }

.upload-video.hover { border-color: #04abf2; cursor: pointer; color: #04abf2; }

.upload-ffmpeg-mode #choose-thumnail-cr .carousel-inner .item { height: 220px !important; }
.upload-ffmpeg-mode #choose-thumnail-cr .carousel-inner .item img { width: 100%; min-height: 100% !important; }
.upload-ffmpeg-mode #choose-thumnail-cr .choose-thumnail-control { padding: 10px 0px; }
.upload-ffmpeg-mode #choose-thumnail-cr .choose-thumnail-control span { text-transform: uppercase; font-size: 12px; font-family: "Lato", sans-serif; }
.upload-ffmpeg-mode #choose-thumnail-cr .choose-thumnail-control a { text-decoration: none; border-radius: 0px; padding: 0px 10px; }

.toggle-mode { position: fixed; top: 48%; left: 0; width: 50px; text-align: center; z-index: 9999; cursor: pointer; background: rgba(0, 0, 0, 0.8); border-radius: 0 3px 3px 0; padding: 5px; color: #fff; }
.toggle-mode span div.toggle { max-width: all; max-height: all; }
.toggle-mode span.mode { font-family: 'Open sans'; font-weight: 300; text-transform: uppercase; font-size: 9px; display: block; margin: 3px 0px; }
.toggle-mode .switch { position: relative; display: inline-block; width: 26px; height: 13px; }
.toggle-mode .switch input { display: none; }
.toggle-mode .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.toggle-mode .slider:before { position: absolute; content: ""; height: 13px; width: 13px; left: 0px; bottom: 0px; background-color: white; -webkit-transition: .4s; transition: .4s; }
.toggle-mode input:checked + .slider { background-color: #2196F3; }
.toggle-mode input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
.toggle-mode input:checked + .slider:before { -webkit-transform: translateX(13px); -ms-transform: translateX(13px); transform: translateX(13px); }
.toggle-mode .slider.round { border-radius: 30px; }
.toggle-mode .slider.round:before { border-radius: 50%; }

.contact-us-form { margin-bottom: 50px; }

#new-message-form { position: relative; }
#new-message-form #send-button { position: absolute; top: 10px; font-size: 16px; right: 15px; color: #04abf2; padding: 10px; background-color: transparent; border: none; outline: none; border-radius: 5px; transition: all .3; display: inline-block; }
#new-message-form #send-button:hover { background-color: rgba(0, 0, 0, 0.1); }

.countunseen { background-color: #c23321; padding: 5px; width: auto; border-radius: 2px; color: #fff; float: right; }

.countunseen:empty { padding: 0; }

::-webkit-scrollbar { background: #eee; width: 10px; }

::-webkit-scrollbar-thumb { background: #ccc; width: 10px; }

.user-messages { max-height: 500px; min-height: 500px; overflow: auto; background-color: #f5f5f5; }
.user-messages .messages .istyping { margin-bottom: 20px; position: relative; max-width: 50%; width: auto; }
.user-messages .messages .istyping .user-avatar { width: 40px; float: left; }
.user-messages .messages .istyping .user-avatar img { width: 100%; border-radius: 100%; }
.user-messages .messages .istyping .user-message { background-color: transparent; padding: 5px; word-break: break-word; width: auto; margin-left: 50px; margin-top: 5px; font-size: 12px; transition: all .2s; }
.user-messages .messages .istyping .user-message:hover { transform: translateX(3px); }
.user-messages .messages .message { margin-bottom: 20px; position: relative; max-width: 50%; width: auto; }
.user-messages .messages .message .user-avatar { width: 40px; float: left; }
.user-messages .messages .message .user-avatar img { width: 100%; border-radius: 100%; }
.user-messages .messages .message .user-message { background-color: #fff; padding: 7px; border-radius: 5px; word-break: break-word; width: auto; margin-left: 50px; margin-top: 5px; transition: all .2s; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-messages .messages .message .user-message:hover { transform: translateX(3px); }

.user-send-message { width: 100%; }
.user-send-message textarea { padding-right: 55px; border: 0; padding: 10px; outline: none; resize: none; width: 100%; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }

.messages-sidebar { max-height: 607px; overflow: hidden; }
.messages-sidebar .search-box { position: relative; }
.messages-sidebar .search-box input { width: 100%; border: none; padding: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; outline: none; padding-left: 30px; }
.messages-sidebar .search-box i { position: absolute; top: 12px; left: 10px; }
.messages-sidebar ul { padding: 10px; list-style: none; }
.messages-sidebar ul li { margin-bottom: 10px; }
.messages-sidebar ul li a { transition: all .2s; }
.messages-sidebar ul li a .user-avatar { width: 50px; float: left; margin-right: 7px; }
.messages-sidebar ul li a .user-avatar img { width: 100%; border-radius: 100%; }
.messages-sidebar ul li a .user-name { margin-bottom: 5px; font-weight: 600; }
.messages-sidebar ul li a .user-last-message { font-size: 12px; color: #999; }
.messages-sidebar ul li a:hover { background-color: #fff; color: #1da1f2; transform: translateX(3px); }

.hash { color: #1da1f2 !important; }

.messages-sidebar ul li a { display: block; }
.messages-sidebar ul li a:hover, .messages-sidebar ul li a:focus { text-decoration: none; }
.messages-sidebar ul li:hover { background-color: #fcfcfc; }
.messages-sidebar ul li.active { border-left: 3px solid; border-color: #04abf2; background-color: #fcfcfc; }

@keyframes blink { 0% { opacity: .4; transform: scale(1.5); }
  20% { opacity: 1; transform: scale(1.5); }
  100% { opacity: .4; transform: scale(1.5); } }
.messages-sidebar .saving { color: #1da1f2 !important; }

.saving span { color: #1da1f2 !important; animation-name: blink; animation-duration: .5s; animation-iteration-count: infinite; animation-fill-mode: both; }

.saving.sidebar span { margin-right: 5px; font-size: 12px; }

.saving span:nth-child(2) { animation-delay: .1s; }

.saving span:nth-child(3) { animation-delay: .2s; }

.ellipsis, .user-last-message { text-overflow: ellipsis; max-height: 20px; white-space: nowrap; overflow: hidden; }

#delete-conversation { cursor: pointer; }

#load-more-messages { position: absolute; left: 50%; margin-left: -20px; top: 60px; background-color: #1da1f2; color: #fff; border: none; display: none; height: 40px; width: 40px; z-index: 99999; padding: 5px; border-radius: 100%; transition: all 0.2s; box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); outline: 0; }
#load-more-messages:hover { transform: translateY(-3px); }

/*# sourceMappingURL=style.css.map */
