<div class="video-wrapper top-video-wrapper">
   <div class="video-thumb pull-left">
      <a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
   </div>
   <div class="video-title">
      <a href="{{URL}}">{{TITLE}}</a>
   </div>
   <div class="video-publisher">
      {{USER_NAME}}
   </div>
   <div>
     <div class="video-views pull-left">
        {{VIEWS}} {{LANG views}}
     </div>
   </div>
   <div class="clear"></div>
</div>
