<div class="col-md-4 no-padding-right video-wrapper" data-id="{{ID}}">
	<div class="author-info">
        <div class="author-img pull-left">
            <img src="{{USER avatar}}" alt="{{USER name}}">
        </div>
        <div class="author-name">
            <a href="{{USER url}}">{{USER name_v}}</a> <span class="bold">·</span> <span>{{TIME}}</span>
        </div>
        <div class="clear"></div>
	</div>
    	<div class="video-thumb">
        <a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
    </div>
    <div class="video-info">
        <div class="video-title">
            <a href="{{URL}}">{{TITLE}}</a>
        </div>
    </div>
    <div class="clear"></div>
</div>