<div class="col-md-3 keep-padding" data-id="{{ID}}">
   <div class="video-list">
      <div class="video-list-image">
      		<a href="{{URL}}"><img src="{{THUMBNAIL}}" alt="{{TITLE}}"></a>
      </div>
      <div class="video-list-title">
      		<a href="{{URL}}"><h4>{{TITLE}}</h4></a>
      </div>
      <div class="video-list-by">
      	<span><a href="{{USER url}}">{{USER name}}</a></span> / <span>{{VIEWS}} views</span> / <span>{{TIME}}</span>
      </div>
   </div>
</div>

